@{
/*
    Name: Company Registration Modal
    Purpose: Company registration Form Modal
    Structure: /Views/B2B/_Register.cshtml
    Contains (Partial Views Used):        
        a-/Views/B2B/_RegistrationAlert.cshtml       (Validation Messages)

    Contained In (Where we Use this View):
        a-/Views/Account/SignIn.cshtml  (Navigation Link Desktop and Big Screen)
    */
}
@using Omnicx.WebStore.Framework.Helpers
@using Omnicx.WebStore.Models.B2B
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<CompanyRegisterModel>

@{ 
    var companyAccountForm = Html.Angular().ModelFor("gm.model.company");

}

<div class="modal fade" id="CompanyRegistrationRequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="globalCtrl as gm">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-modal">Company Account Request</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form name="changeForm" role="form" ng-submit="gm.registerCompanyRequest(gm.model)" novalidate>
                            <div class="row">
                                <div class="col-sm-12" ng-show="registrationAlert">
                                    @Html.Partial("~/Views/B2B/_RegistrationAlert.cshtml")
                                </div>
                                <div ng-cloak class="alert alert-success requestSuccess" ng-show="gm.requestSuccess">
                                    <strong>@LT("MyAccount.Message.requestSuccess", "Your Registration request for company account is received. We would reach you shortly.")</strong>
                                </div>
                                <div ng-cloak class="alert alert-success accountCreated" ng-show="gm.accountCreated">
                                    <strong>@LT("MyAccount.Message.accountCreated", "Congratulation! We have created your company account. We have sent you a password via email which can later be changed. At moment, You are the only user. You can manage your account from 'My Account' section.")</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 col-xs-12">
                                    <div class="form-group">
                                        <div class="form-group" ng-class="vm.getValidationClass()" form-group-validation="Title">
                                            <label for="Title" class="control-label ng-scope">@LT("MyAccount.Text.Title", "Title")</label>
                                            <select name="Title" tabindex="1" class="form-control" data-label="Title" ng-model="gm.model.title">
                                                <option ng-selected="gm.model.title == null" value="">@LT("MyAccount.Text.Title", "Title")</option>
                                                <option value="Miss">Miss</option>
                                                <option value="Mr">Mr</option>
                                                <option value="Mrs">Mrs</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-xs-12">
                                    <div class="form-group">
                                        @companyAccountForm.FormGroupFor(x => x.FirstName)
                                    </div>
                                </div>
                                <div class="col-sm-5 col-xs-12">
                                    <div class="form-group">
                                        @companyAccountForm.FormGroupFor(x => x.LastName)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @companyAccountForm.FormGroupFor(x => x.BusinessType)
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @companyAccountForm.FormGroupFor(x => x.CompanyName)
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @companyAccountForm.FormGroupFor(x => x.RegisteredNumber)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <h3 class="heading-disable background"><span>Contact Info</span></h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @companyAccountForm.FormGroupFor(x => x.Email)
                                    </div>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @companyAccountForm.FormGroupFor(x => x.Mobile)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @companyAccountForm.FormGroupFor(x => x.Telephone)
                                    </div>
                                </div>
                            </div>                                                       
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @companyAccountForm.FormGroupFor(x => x.Address1)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @companyAccountForm.FormGroupFor(x => x.Address2)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @companyAccountForm.FormGroupFor(x => x.City)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @companyAccountForm.FormGroupFor(x => x.State)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    @*<div class="form-group">
                                        @companyAccountForm.FormGroupFor(x => x.Country)
                                    </div>*@
                                    <label class="col-sm-12 col-xs-12 no-padding">Country</label>
                                    <select name="Country" tabindex="1" class="form-control" data-label="Country" ng-model="gm.model.country">
                                        <option value="">Select Country</option>
                                        <option ng-repeat="countries in gm.countries" value="{{countries.twoLetterIsoCode}}" ng-bind="countries.name"></option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @companyAccountForm.FormGroupFor(x => x.PostCode)
                                    </div>
                                </div>
                            </div>                          
                        </form>
                    </div>
                </div> 
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <button type="button" class="animate btn-primary" ng-click="gm.registerCompanyRequest(gm.model.company)">Send Request<i class="arrow-white-sm sprite"></i></button>             
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>