@{
    /*
        Name: Basket View
        Purpose: Show Previousaly Saved Basket in Modal
        Structure: /Views/Checkout/Layout1/_BasketView.cshtml
        Contains (Partial Views Used):

        Contained In (Where we Use this View):
            a-/Views/Basket/Layout1/OnePageCheckout.cshtml
        */
}
@using Microsoft.Web.Mvc
@using Omnicx.WebStore.Core.Controllers
@using Omnicx.WebStore.Framework.Helpers
@using Omnicx.WebStore.Models.Enums
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<Omnicx.WebStore.Models.Commerce.BasketModel>

<div class="modal fade" id="basketAlert-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="animate-sm btn-bordered pos-abs-skip" data-dismiss="modal" aria-hidden="true">Skip & @LT("Checkout.Label.Continue", "Continue")<i class="fa fa-angle-double-right"></i></button>
                <h4 class="modal-title no-margin" id="Login">@LT("Checkout.Label.PreviousBaskets", "Previous Baskets")</h4>
            </div>
            <div class="modal-body max-80">
                <div class="col-sm-12 col-xs-12 margin-top-sm"><p class="well alert-warning padding-xs">@LT("Checkout.Label.AppliedPromoRemove", "Merging in existing basket removes pre-applied promocode. You may reapply a valid promocode again")</p></div>
                <ul id="prevBasket" ng-repeat="basket in ck.baskets" ng-if="ck.basket.id != basket.id">
                    <li>
                        <h4 class="basket-h4">@LT("Checkout.Label.Basket", "Basket")&nbsp;{{$index+1}}</h4>
                    </li>
                    <li class="single-cart-item clearfix" ng-repeat="item in basket.lineItems">
                        <div>
                            <div class="col-sm-12 col-xs-12 no-padding">
                                <div class="col-sm-3 col-xs-3 no-padding">
                                    <span class="cart-img">
                                        <a ng-href="/{{item.slug}}">
                                            <img ng-src="{{item.image}}" onerror="this.src = DEFAULT_IMAGE_URL">
                                        </a>
                                    </span>
                                </div>
                                <div class="col-sm-9 col-xs-9 no-padding">
                                    <span class="cart-info">
                                        <a class="small-cart-name" ng-href="/{{item.slug}}" ng-bind="item.name"></a>
                                        <span class="bag-price" ng-bind="item.totalPrice.formatted.withTax"></span><br />
                                        <strong>@LT("YourBag.Text.Qty", "Qty:") </strong><span ng-bind="item.qty"></span>
                                    </span>
                                    <div class="col-sm-12 col-xs-12 no-padding">
                                        <strong class="text-orange small-cart-name" ng-show="item.displayInBasket && items.itemType ==@ItemTypes.Bundle.GetHashCode()">@LT("YourBag.Text.IncludeComponents", "Included Components:")</strong>
                                        <div class="row component-row" ng-repeat="bundle in basket.lineItems" ng-if="bundle.parentProductId == item.productId" ng-show="item.displayInBasket">
                                            <div class="col-sm-8 col-xs-8 no-padding">
                                                <a class="basket-item" ng-href="/{{bundle.slug}}" ng-bind="bundle.name"></a>
                                            </div>
                                            <div class="col-sm-4 col-xs-4 no-padding text-right">
                                                <strong>@LT("YourBag.Text.Qty", "Qty:") </strong><span ng-bind="bundle.qty"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="col-sm-12 col-xs-12 no-padding text-right">
                            <button type="button" class="animate-sm btn-success" ng-click="ck.addPersistentBasket(ck.basket.id,basket.id)"><i class="fa fa-sign-in"></i>@LT("YourBag.Text.MergeInExistingBasket", "Merge In Existing Basket")</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>