@{
/*
    Name: Standard Checkout Delivery Address Form
    Purpose: Standard Checkout Delivery Address Form
    Structure: /Views/Checkout/Layout1/_CheckoutDeliveryAddressForm.cshtml
    Contains (Partial Views Used):

    Contained In (Where we Use this View):
        a-/Views/Basket/Layout1/_CheckoutDeliveryAddress.cshtml
    */
}
@using Omnicx.WebStore.Core.Helpers;
@using Omnicx.WebStore.Framework.Helpers;
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<Omnicx.WebStore.Models.Commerce.AddressModel>
@{
    var addressForm = Html.Angular().ModelFor("ck.model.checkout.shippingAddress");
}
<form name="shippingForm" role="form" novalidate ng-init="ck.model.checkout.shippingAddress = { country: ck.model.checkout.shippingAddress.country, countryCode: ck.model.checkout.shippingAddress.countryCode };">
    <div class="col-sm-8 col-xs-12">
        <div class="content">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="margin-top-sm margin-bottom-sm checkout-h2">@LT("Checkout.Label.DeliveryAddress" , "Add New Address")</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @addressForm.FormGroupFor(x => x.FirstName)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @addressForm.FormGroupFor(x => x.LastName)
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @addressForm.FormGroupFor(x => x.Address1)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @addressForm.FormGroupFor(x => x.Address2)
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        @addressForm.FormGroupFor(x => x.City)
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        @addressForm.FormGroupFor(x => x.PostCode)
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        @addressForm.FormGroupFor(x => x.State)
                    </div>
                </div>                
                <div class="col-sm-6">
                    <div class="form-group">
                        @addressForm.FormGroupFor(x => x.PhoneNo)
                    </div>
                </div>                
            </div>
            <!-- /.row -->
        </div>

        <div class="box-footer">
            <div class="col-sm-4 col-xs-12 no-padding">
                <button type="submit" class="btn btn-checkout width-full" ng-click="ck.continueToDelivery(ck.model.checkout.shippingAddress);ck.ValidateDeliveryMethod();">
                    @LT("Checkout.Button.Continue" , "Deliver") @LT("Checkout.Label.To" , "to") @LT("Checkout.Label.this" , "this") @LT("Checkout.Label.address" , "address") <i class="fa fa-caret-right"></i>
                </button>
            </div>
        </div>
    </div>
</form>
