@{
/*
    Name: Standard Checkout Order Overview
    Purpose: Show All the information in single view before proceed to payment
    Structure: /Views/Checkout/Layout1/_CheckoutOrderReview.cshtml
    Contains (Partial Views Used):

    Contained In (Where we Use this View):
        a-/Views/Basket/Layout1/StandardCheckout.cshtml
    */
}
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<dynamic>
<div class="row" ng-show="ck.orderDetail">
    <div class="col-sm-12 col-xs-12">
        <div class="col-sm-12 col-xs-12" id="checkout">
            <div class="alertDynamicBlock">
                <div id="divErrMsg" class="alert alert-danger hide">
                    <div>
                        <i class="icon-warning"></i><span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 no-padding">
            <h2 class="checkout-h2">Review your order</h2>
        </div>
        <div class="col-sm-12 col-xs-12 no-padding visible-xs">
            <div class="col-sm-4 col-xs-12 no-padding pull-right margin-bottom-lg">
               @if (SessionContext.CurrentUser != null)
               {
                <a class="btn btn-checkout width-full " ng-click="ck.paymentMethod()">Place Your Order and Pay <i class="fa fa-lock"></i></a>
               }
               else
               {
                <a class="btn btn-checkout width-full " ng-click="ck.setPassword()">Place Your Order and Pay <i class="fa fa-lock"></i></a>
               }
                <p class="checkout-secure-text">You'll be securely redirected to payment gateway for complete your purchase.</p>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12 pull-right no-padding-right-d">
            <h2 class="checkout-h3">Order Summery</h2>
            <div class="col-sm-12 col-xs-12 checkoutStepSummery">
                <div class="col-sm-12 col-xs-12 hidden-xs margin-top-sm">
                    @if (SessionContext.CurrentUser != null)
                    {
                        <a class="btn btn-checkout width-full " ng-click="ck.paymentMethod()">Place Your Order and Pay <i class="fa fa-lock"></i></a>
                    }
                    else
                    {
                        <a class="btn btn-checkout width-full " ng-click="ck.setPassword()">Place Your Order and Pay <i class="fa fa-lock"></i></a>
                    }
                    <p class="checkout-secure-text">You'll be securely redirected to payment gateway for complete your purchase.</p>
                </div>
                <div class="col-sm-12 col-xs-12 no-padding" ng-show="ck.hideBillingAddress">
                    <h6 class="checkout-summery-h6">
                        Shipping to:
                        <strong>
                            <b ng-bind="ck.model.checkout.shippingAddress.firstName"></b> <b ng-bind="ck.model.checkout.shippingAddress.lastName"></b>,<b ng-bind="ck.model.checkout.shippingAddress.address1"></b>,<b ng-bind="ck.model.checkout.shippingAddress.address2"></b>, <b ng-bind="ck.model.checkout.shippingAddress.city"></b>,<b ng-bind="ck.model.checkout.shippingAddress.state"></b>,<b ng-bind="ck.model.checkout.shippingAddress.country"></b>,<b ng-bind="ck.model.checkout.shippingAddress.postCode"></b>
                        </strong>
                    </h6>
                </div>
                <div class="col-sm-12 col-xs-12 no-padding">
                    <table class="table no-margin-top no-border">
                        <tbody>
                            <tr>
                                <td>@LT("Checkout.Label.Subtotal", "Items")</td>
                                <th ng-bind="ck.basket.subTotal.formatted.withTax" class="text-right"></th>
                            </tr>
                            <tr>
                                <td>@LT("Checkout.Label.ShippingCharge", "Shipping and handling")</td>
                                <th ng-bind="ck.basket.shippingCharge.formatted.withTax" class="text-right"></th>
                            </tr>
                            <tr>
                                <td>@LT("Checkout.Label.Tax", "Tax")</td>
                                <th ng-bind="ck.basket.subTotal.formatted.tax" class="text-right"></th>
                            </tr>
                            <tr>
                                <td>@LT("Checkout.Label.Discount", "Discount")</td>
                                <th ng-bind="ck.basket.discount.formatted.withTax" class="text-right"></th>
                            </tr>
                            <tr ng-show="ck.basket.promotionsApplied.length>0" id="PromoApplied3">
                                <td>Promotions Applied:</td>
                                <th class="text-right">
                                    <ul class="promo-ul">
                                        <li class="no-padding" ng-repeat="promotion in ck.basket.promotionsApplied">
                                            <a href="" class="" title="Remove" ng-click="ck.removePromoCode(ck.basket.id,promotion.promoCode)"><label ng-bind="promotion.name"></label> <i class="fa fa-remove"></i></a>
                                        </li>
                                    </ul>
                                </th>
                            </tr>
                            <tr class="total">
                                <td><strong class="checkout-total">@LT("Checkout.Label.OrderTotal", "Order Total")</strong></td>
                                <th ng-bind="ck.basket.grandTotal.formatted.withTax" class="text-right checkout-total-amount"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12 col-xs-12 no-padding">
                    <div class="summery-box">
                        <div class="box-header">
                            <h4><i class="fa fa-ticket"></i> @LT("Checkout.Label.PromotionCode" , "Coupon code")</h4>
                        </div>
                        <p class="text-muted padding-sm label-span-desc">@LT("Checkout.Text.HaveCoupon" , "If you have a coupon code, please enter it in the box below").</p>
                        <form ng-submit="ck.applyPromoCode(ck.basket.id,promoCode)">
                            <div class="input-group padding-sm">
                                <input type="text" class="form-control" ng-model="promoCode" placeholder="Enter Coupon Code" />
                                <span class="input-group-btn">
                                    <button class="btn btn-checkout" type="submit"><i class="fa fa-gift"></i></button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </form>
                        <div ng-cloak class="alert alert-danger promo" ng-show="ck.invalidpromo">
                            <span>@LT("Checkout.Text.InValidPromoMessage" , "PromoCode Invalid!")</span>
                        </div>
                        <div ng-cloak class="alert alert-success promovalid" ng-show="ck.validpromo">
                            <span>@LT("Checkout.Text.ValidPromoMessage" , "Successfully Applied")</span>
                        </div>
                        <div ng-cloak class="alert alert-danger promonull" ng-show="ck.promonull">
                            <span>@LT("Checkout.Text.NullPromoMessage" , "Please enter promo code!")</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 no-padding">
                    <div class="summery-box">
                        <div class="box-header">
                            <h4><i class="fa fa-gift"></i> @LT("Checkout.Label.GiftForMe", "Who are you purchasing for today?")</h4>
                        </div>

                        <div class="form-group">
                            <label class="control control--checkbox">
                                <input type="checkbox"  ng-change="ck.purchaseFor(purchase)" class="ng-pristine ng-valid" ng-model="purchase.me" >
                                <label for="NewsLetterSubscribe">@LT("Checkout.Label.PurchasingForMe", "This order is just for me.")</label>
                                <div class="control__indicator"></div>
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="control control--checkbox ">
                                <input type="checkbox" ng-change="ck.purchaseFor(purchase)" class="ng-pristine ng-valid" ng-model="purchase.gift">
                                <label for="NewsLetterSubscribe">@LT("Checkout.Label.PurchasingForGift", "This order contains a gift.")</label>
                                <div class="control__indicator"></div>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-xs-12 pull-left no-padding">
            <h2 class="checkout-h3">Shipping information</h2>
            <div class="col-sm-12 col-xs-12 checkoutStepSummery">
                <div class="col-sm-12 col-xs-12 no-padding border-bottom-blog">
                    <a class="checkout-summery-edit" ng-click="ck.orderDetail=false;ck.showDeliveryOption=true;ck.isComplete=1;"></a>
                    <div class="col-sm-3 col-xs-12"><h6 class="checkout-summery-h6 no-margin"><strong>Shipping method<span></span></strong></h6></div>
                    <div class="col-sm-9 col-xs-12"><h6 class="checkout-summery-h6 no-margin" ng-bind="ck.model.checkout.selectedShipping.displayName"></h6></div>
                </div>
                <div class="col-sm-12 col-xs-12 no-padding" ng-show="ck.hideBillingAddress">
                    <a class="checkout-summery-edit" ng-click="ck.orderDetail=false;ck.deliverAddress=true;ck.isComplete=1;"></a>
                    <div class="col-sm-3 col-xs-12"><h6 class="checkout-summery-h6 no-margin"><strong>Shipping address</strong></h6></div>
                    <div class="col-sm-9 col-xs-12">
                        <h6 class="checkout-summery-h6">
                            <span ng-bind="ck.model.checkout.shippingAddress.firstName"></span> <span ng-bind="ck.model.checkout.shippingAddress.lastName"></span>,<span ng-bind="ck.model.checkout.shippingAddress.address1"></span>,<span ng-bind="ck.model.checkout.shippingAddress.address2"></span>, <span ng-bind="ck.model.checkout.shippingAddress.city"></span>,<span ng-bind="ck.model.checkout.shippingAddress.state"></span>,<span ng-bind="ck.model.checkout.shippingAddress.country"></span>,<span ng-bind="ck.model.checkout.shippingAddress.postCode"></span>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="or-spacer"><div class="mask"></div></div>
            <h2 class="checkout-h3">Payment information</h2>
            <div class="col-sm-12 col-xs-12 checkoutStepSummery">
                <div class="col-sm-12 col-xs-12 no-padding border-bottom-blog">
                    <a class="checkout-summery-edit" ng-click="ck.orderDetail=false;ck.showPaymentOption=true;ck.isComplete=1;"></a>
                    <div class="col-sm-3 col-xs-12"><h6 class="checkout-summery-h6 no-margin"><strong>Payment method</strong></h6></div>
                    <div class="col-sm-9 col-xs-12"><h6 class="checkout-summery-h6 no-margin" ng-bind="ck.model.checkout.selectedPayment.displayName"></h6></div>
                </div>
                <div class="col-sm-12 col-xs-12 no-padding">
                    <a class="checkout-summery-edit" ng-click="ck.orderDetail=false;ck.showPaymentOption=true;ck.isComplete=1;"></a>
                    <div class="col-sm-3 col-xs-12"><h6 class="checkout-summery-h6 no-margin"><strong>Billing address</strong></h6></div>
                    <div class="col-sm-9 col-xs-12">
                        <h6 class="checkout-summery-h6 no-margin" ng-show="ck.sameAsBillAddress">Same as delivery address</h6>
                        <h6 class="checkout-summery-h6 no-margin" ng-hide="ck.sameAsBillAddress">
                            <span ng-bind="ck.model.checkout.billingAddress.firstName"></span> <span ng-bind="ck.model.checkout.billingAddress.lastName"></span>,<span ng-bind="ck.model.checkout.billingAddress.address1"></span>,<span ng-bind="ck.model.checkout.billingAddress.address2"></span>, <span ng-bind="ck.model.checkout.billingAddress.city"></span>,<span ng-bind="ck.model.checkout.billingAddress.state"></span>,<span ng-bind="ck.model.checkout.billingAddress.country"></span>,<span ng-bind="ck.model.checkout.billingAddress.postCode"></span>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="or-spacer"><div class="mask"></div></div>
            <h2 class="checkout-h3">Order Shipment</h2>
            <div class="col-sm-12 col-xs-12 checkoutStepSummery">
                <div class="col-sm-12 col-xs-12 no-padding">
                    <ul id="checkout-summery">
                        <li>
                            <div ng-cloak class="alert alert-danger wishdiv" ng-show="ck.wishlisterror">
                                User <strong>@LT("ProductDetail.Message.LoginRequired", "Login Required")!</strong>
                            </div>
                        </li>
                        <li class="single-cart-item clearfix" ng-repeat="items in ck.basket.lineItems">
                            <span class="cart-img">
                                <a ng-href="/{{items.slug}}">
                                    <img ng-src="{{items.image}}" onerror="this.src = DEFAULT_IMAGE_URL">
                                </a>
                            </span>
                            <span class="trash-cart">
                                <a href="" class="remove" title="Remove" ng-click="ck.addToBasket(items.productId,0,items.displayOrder)"><i class="fa fa-trash-o"></i></a>
                            </span>
                            <span class="cart-info">
                                <a class="small-cart-name" ng-href="/{{items.slug}}" ng-bind="items.name"></a>
                            </span>
                            <span class="cart-info">
                                <button class="btn-cart" ng-click="ck.addToBasket(items.productId,-1,items.displayOrder)"><i class="fa fa-minus"></i></button>
                                <input type="text" value="{{items.qty}}" class="cart-text form-control" numbers-Only>
                                <button class="btn-cart" ng-click="ck.addToBasket(items.productId,1,items.displayOrder)"><i class="fa fa-plus"></i></button>
                                <span class="text-right pull-right label-span-price"><strong ng-bind="items.price.formatted.withTax"></strong></span><br/>
                                @if (SessionContext.CurrentUser != null)
                                {
                                    <a href="" ng-click="ck.addProductToWishlist(items);">Save for later</a>
                                }
                                else
                                {
                                    <a href="" ng-click="ck.validateWishlist();">Save for later</a>
                                }
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            @if (SessionContext.CurrentUser != null)
            {
                <div class="box-header">
                    <h3 class="checkout-h3"><i class="fa fa-shopping-basket"></i> @LT("Checkout.Label.OrderSummary", "Saved for later") (<span ng-bind="ck.model.checkout.wishlistProducts.length"></span>)</h3>
                </div>
                <div class="col-sm-12 col-xs-12 checkoutStepSummery">                    
                    <ul id="checkout-summery">
                        <li class="single-cart-item clearfix" ng-repeat="items in ck.model.checkout.wishlistProducts">
                            <span class="cart-img">
                                <a ng-href="/{{items.slug}}">
                                    <img ng-src="{{items.image}}" onerror="this.src = DEFAULT_IMAGE_URL">
                                </a>
                            </span>
                            <span class="trash-cart">
                                <a href="" class="remove" title="Remove" ng-click="ck.removeProductToWishlist(items)"><i class="fa fa-trash-o"></i></a>
                            </span>
                            <span class="cart-info">
                                <a class="small-cart-name" ng-href="/{{items.slug}}" ng-bind="items.name"></a>
                            </span>
                            <span class="cart-info">
                                <span class="text-right pull-right label-span-price"><strong ng-bind="items.price.formatted.withTax"></strong></span>
                                <a href="" ng-click="ck.removeProductToWishlist(items);ck.addToBasket(items.recordId,1,0);">Add to Cart</a>
                            </span>
                        </li>
                    </ul>
                </div>
            }
            </div>

    </div>
    <div class="col-sm-12 col-xs-12 visible-xs">
        <div class="col-sm-4 col-xs-12 no-padding pull-right margin-bottom-lg">
           @if (SessionContext.CurrentUser != null)
           {
            <a class="btn btn-checkout width-full " ng-click="ck.paymentMethod()">Place Your Order and Pay <i class="fa fa-lock"></i></a>
           }
           else
           {
            <a class="btn btn-checkout width-full " ng-click="ck.setPassword()">Place Your Order and Pay <i class="fa fa-lock"></i></a>
           }
            <p class="checkout-secure-text">You'll be securely redirected to payment gateway for complete your purchase.</p>
        </div>
    </div>
</div>
