@{
/*
    Name: Shipping Address
    Purpose: Shipping Address Form
    Structure: /Views/Checkout/Layout1/_ShippingAddress.cshtml
    Contains (Partial Views Used):

    Contained In (Where we Use this View):
        a-/Views/Checkout/Layout1/OnePageCheckout.cshtml
    */
}
@using Omnicx.API.SDK.Entities
@using Omnicx.WebStore.Core.Helpers;
@using Omnicx.WebStore.Framework.Helpers
@using Omnicx.API.SDK.Models.Helpers
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<Omnicx.API.SDK.Models.Commerce.AddressModel>
@{
    var addressForm = Html.Angular().ModelFor("ck.model.checkout.shippingAddress");
    var userRole = SessionContext.CurrentUserRole;
}
<form name="shippingForm" role="form" novalidate>
    <div class="content" ng-hide="ck.hideShippingAddress">
        <div class="row">
            <div class="col-sm-12">
                <h5 class="margin-top-sm margin-bottom-sm checkout-h5">@LT("Checkout.Label.DeliveryAddress", "Delivery Address")</h5>
            </div>
        </div>
        @*<div class="row margin-bottom-lg">
                <div class="col-sm-12">
                    <div class="control-group">
                        <label class="control control--checkbox ng-binding" ng-click="ck.setShipAddress()">
                            @LT("Checkout.Label.SameAs", "Same As") @LT("Checkout.Label.BillingAdd", "Billing Address")
                            <input id="billing" name="billing" type="checkbox" ng-model="ck.sameAsBillAddress" class="ng-pristine ng-valid" ng-click="ck.setShipAddress()">
                            <div class="control__indicator"></div>
                        </label>
                    </div>
                </div>
            </div>*@
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <div class="form-group" ng-class="vm.getValidationClass()" form-group-validation="Title">
                        <label for="Title" class="control-label ng-scope">@LT("MyAccount.Text.Title", "Title")</label>
                        <select name="Title" tabindex="1" class="form-control" data-label="Title" ng-model="ck.model.checkout.shippingAddress.title" @*required*@>
                            <option ng-selected="ck.model.checkout.shippingAddress.title == null" value="">@LT("MyAccount.Text.Title", "Title")</option>
                            <option value="Miss">Miss</option>
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @addressForm.FormGroupFor(x => x.FirstName)
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @addressForm.FormGroupFor(x => x.LastName)
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @addressForm.FormGroupFor(x => x.Address1)
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @addressForm.FormGroupFor(x => x.Address2)
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="form-group">
                    @addressForm.FormGroupFor(x => x.City)
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="form-group">
                    @addressForm.FormGroupFor(x => x.PostCode)
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="form-group">
                    @addressForm.FormGroupFor(x => x.State)
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                @*<div class="form-group">
                    <label>Country</label>
                        <select name="title" tabindex="1" class="form-aux form-control" ng-disabled="ck.sameAsBillAddress" data-label="Title" ng-model="ck.model.shippingAddress.countryCode">
                            <option>@LT("Checkout.Label.Select", "Select") @LT("Checkout.Label.State", "County")</option>
                            <option ng-repeat="countries in ck.model.shippingAddress.countryList" ng-selected="ck.model.shippingAddress.countryCode==countries.twoLetterIsoCode" value="{{countries.twoLetterIsoCode}}">{{countries.name}}</option>
                        </select>
                    </div>*@
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    @addressForm.FormGroupFor(x => x.PhoneNo)
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">

                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</form>