@{
/*
    Name: One Page Checkout
    Purpose: Complete Checkout process in single view
    Structure: /Views/Checkout/Layout1/OnePageCheckout.cshtml
    Contains (Partial Views Used):
        a-/Views/Shared/Layout1/_OpcLayout.cshtml               (For Base Structure)
        b-/Views/Checkout/Layout1/_DeliveryMethod.cshtml        (Select Delivery Metghod)
        c-/Views/Checkout/Layout1/_ShippingAddress.cshtml       (Select Shipping Address)
        d-/Views/Checkout/Layout1/_BillingAddress.cshtml        (Select Billing Address)
        e-/Views/Checkout/Layout1/_PaymentMethod.cshtml         (Select Payment Method)
        f-/Views/Checkout/Layout1/_OrderSummary.cshtml          (Order Summery with order line items and Total amount)
        g-/Views/Checkout/Layout1/_AddressView.cshtml           (Address Mopdal for update address)
        h-/Views/Checkout/Layout1/_GuestRegistration.cshtml     (Guest Registration if he/she want to register with the store)
        i-/Views/Checkout/Layout1/_BasketView.cshtml            (Show Previous Saved Basket as persistent)

    Contained In (Where we Use this View):
        a-/Views/Basket/Layout1/Index.cshtml
    */
}
@using Microsoft.Web.Mvc
@using Omnicx.API.SDK.Models.Common
@using Omnicx.WebStore.Framework.Helpers
@using Omnicx.WebStore.Core.Controllers
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<CheckoutViewModel>
@{
    ViewBag.Title = @LT("Checkout.Title.Checkout", "Checkout");
    var checkoutForm = Html.Angular().ModelFor("ck.model");
    Layout = "~/Views/Shared/Layout1/_OpcLayout.cshtml";
}
@{
    <div class="row">
        <div class="col-md-12 clearfix">
            <ul class="breadcrumb">
                <li>
                    <a href="/">@LT("ProductListing.Breadcrumb.Home", "Home")</a>
                </li>
                <li>@LT("Checkout.Title.Checkout", "Checkout")</li>
            </ul>
        </div>
    </div>
    <div class="row" ng-controller="checkoutCtrl as ck">
        @if (Model.Checkout != null && Model.Checkout.Basket.GrandTotal.Raw.WithTax > 0)
        {
            <div class="row" ng-show="ck.basket.lineItems.length>0">
                <div class="col-sm-12 col-xs-12" id="checkout">
                    <div class="alertDynamicBlock">
                        <div id="divErrMsg" class="alert alert-danger hide">
                            <div>
                                <i class="icon-warning"></i><span></span>

                            </div>

                        </div>

                    </div>
                    <div class="row" ng-init="ck.initMethod();ck.oldBasketPopup();">
                        <div class="col-sm-12">
                            <div class="summery-border">
                                @if (SessionContext.CurrentUser == null)
                                {
                                    <div class="row" ng-init="ck.custInfoCheck();">
                                        <div class="col-sm-12 checkout-header">
                                            <h2><i class="fa fa-user"></i> @LT("Checkout.Label.Customer", "Customer")</h2>
                                        </div>
                                        <div class="col-sm-12 equal-height-thumbnail" ng-hide="ck.isGuest">
                                            <div class="col-sm-6 col-xs-12 equalboxUserMid">
                                                <form role="form" name="guestForm" class="padding-lt" novalidate ng-submit="ck.ContinueAsGuest(guestForm)">
                                                    <h5>@LT("Checkout.Text.enterdetail", "NEW CUSTOMER")</h5>
                                                    <div ng-cloak class="alert alert-danger" ng-show="ck.guestError">
                                                        <div>
                                                            <i class="fa fa-circle"></i><span>Enter valid email</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group margin-bottom-sm">
                                                        <label for="Checkout.Email" class="control-label">Email</label>
                                                        <input class="form-control" ng-model="ck.model.checkout.email" name="Checkout.Email" type="text" placeholder="Email" required="" />
                                                        @*@checkoutForm.FormGroupFor(x => x.Checkout.Email)*@
                                                    </div>
                                                    <div class="form-group margin-bottom-sm">
                                                        <p class="checkout-text">@LT("Checkout.Label.NeedEmailAddress", "We need your email address to send your order and shipping confirmation. We will never share your details with anyone.")</p>
                                                    </div>
                                                    <div class="text-left margin-top-xl">
                                                        <button type="submit" class="animate btn-primary" ng-hide="ck.updateEmail==true">@LT("Global.Buttons.Login", "Checkout as a Guest") <i class="fa fa-caret-right"></i></button>
                                                        <button type="submit" class="animate btn-primary" ng-show="ck.updateEmail==true">@LT("Global.Buttons.Login", "Update Guest") <i class="fa fa-caret-right"></i></button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-sm-6 col-xs-12 equalboxUserMid">
                                                <form role="form" ng-submit="ck.login(ck.model.login)" method="post" ng-show="ck.alreadyRegistered" novalidate class="padding-sm">
                                                    <div ng-cloak class="alert alert-danger" ng-show="ck.errorMessage != null">
                                                        <div ng-repeat="err in ck.errorMessage track by $index">
                                                            <i class="fa fa-circle"></i><span ng-bind="err"></span>
                                                        </div>
                                                    </div>
                                                    <h5>@LT("Checkout.Text.returningcustomer", "REGISTERED CUSTOMER?")</h5>
                                                    <div class="form-group margin-bottom-sm">
                                                        @checkoutForm.FormGroupFor(x => x.Login.Username)
                                                    </div>
                                                    <div class="form-group margin-bottom-sm">
                                                        @checkoutForm.FormGroupFor(x => x.Login.Password)
                                                    </div>
                                                    <div class="col-sm-12 col-xs-12 no-padding text-left">
                                                        <button type="submit" class="animate btn-primary"><span>@LT("Global.Buttons.Login", "Login") <i class="fa fa-caret-right"></i></span></button>
                                                        <span>OR</span>
                                                        <button type="button" ng-click="ck.alreadyRegistered=false" class="animate btn-success"><span>@LT("Global.Buttons.Notamember", "Register") <i class="fa fa-caret-right"></i></span></button>
                                                    </div>
                                                </form>

                                                <form name="registrationForm" role="form" method="post" ng-submit="ck.registration(ck.model.register)" ng-hide="ck.alreadyRegistered" novalidate class="padding-sm">
                                                    <div ng-cloak class="alert alert-danger" ng-show="ck.errorMessage != null">
                                                        <div ng-repeat="err in ck.errorMessage track by $index">
                                                            <i class="fa fa-circle"></i><span ng-bind="err"></span>
                                                        </div>
                                                    </div>
                                                    <h5>@LT("Checkout.Text.Newcustomer", "NEW CUSTOMER")</h5>
                                                    <div class="form-group margin-bottom-sm">
                                                        @checkoutForm.FormGroupFor(x => x.Register.Email)
                                                    </div>
                                                    <div class="form-group margin-bottom-sm">
                                                        @checkoutForm.FormGroupFor(x => x.Register.Password)
                                                    </div>
                                                    <div class="form-group margin-bottom-sm">
                                                        @checkoutForm.FormGroupFor(x => x.Register.ConfirmPassword)
                                                    </div>
                                                    <div class="col-sm-12 col-xs-12 no-padding text-left">
                                                        <button type="submit" class="animate btn-primary"><span>@LT("Global.Buttons.Register", "Register") <i class="fa fa-caret-right"></i></span></button>
                                                        <span>OR</span>
                                                        <button type="button" ng-click="ck.alreadyRegistered=true" class="animate btn-success"><span>@LT("Global.Buttons.Alreadyregisterd", "Login Here") <i class="fa fa-caret-right"></i></span></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" ng-hide="!ck.isGuest">
                                            <p class="checkout-user">@LT("Checkout.label.LoggedUser", "Checkout Guest") : <strong ng-bind="ck.GuestEmail"></strong></p>
                                            <p class="checkout-user">@LT("Checkout.Label.CheckoutWithGuest", "Checkout with different User, Please") <a href="" ng-click="ck.isGuestUser()">@LT("Checkout.Label.ClickHere", "click here")</a>.</p>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row" ng-init="ck.isGuest=true">
                                        <div class="col-sm-12 checkout-header">
                                            <h2><i class="fa fa-user"></i> @LT("Checkout.Label.Customer", "Customer")</h2>
                                        </div>
                                        <div class="col-sm-12">
                                            <p class="checkout-user">@LT("Checkout.label.LoggedUser", "Logged in User") : <strong>@SessionContext.CurrentUser.Email</strong></p>
                                            <p class="checkout-user">@LT("Checkout.Label.CheckoutWithGuest", "Checkout with different User or as a Guest, Please") <a href="" ng-click="ck.logout()">@LT("Checkout.Label.ClickHere", "click here")</a>.</p>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>

                    @{/*Shipping and Payment View*/}
                    <div class="row">
                        <div class="col-sm-8">
                            <section class="ac-container">
                                <div>
                                    @if (SessionContext.CurrentUser == null)
                                    {
                                        <input id="ac-1" name="accordion-1" type="radio" />
                                    }
                                    else
                                    {
                                        <input id="ac-1" name="accordion-1" type="radio" checked />
                                    }
                                    <label class="label-ac" for="ac-1"><i class="fa fa-truck"></i> @LT("Checkout.Label.BillingAdd", "Shipping")</label>
                                    <article class="ac-large">
                                        @Html.Partial("~/Views/Checkout/Layout1/_DeliveryMethod.cshtml")
                                    </article>
                                </div>
                                <div>
                                    <input id="ac-3" name="accordion-3" type="radio" />
                                    <label class="label-ac" for="ac-3"><i class="fa fa-map-marker"></i> @LT("Checkout.Label.ShippingAddress", "Address")</label>
                                    <article class="ac-large">
                                        @Html.Partial("~/Views/Checkout/Layout1/_ShippingAddress.cshtml", @Model.Checkout.ShippingAddress)
                                        @Html.Partial("~/Views/Checkout/Layout1/_BillingAddress.cshtml", @Model.Checkout.BillingAddress)
                                        <div class="box-footer">
                                            <div class="pull-left" ng-show="ck.userAddresses.length>0 && !ck.isClickAndCollect">
                                                <button type="button" class="animate btn-default" data-toggle="modal" data-target="#userAddress-modal" ng-click="ck.addressText='delivery';"><i class="fa fa-home"></i> @LT("Checkout.Label.ChangeDeliveryAddress", "Change Delivery Address")</button>
                                                @*<a href="@Url.Action("Index", "Basket")" class="btn btn-default"><i class="fa fa-chevron-left"></i>@LT("Checkout.Links.Backtobag", "Back to bag")</a>*@
                                            </div>
                                            <div class="pull-right">
                                                <button type="submit" class="animate btn-primary" ng-click="ck.model.storeAddress.phoneNumber=phoneNumber;ck.continueToPayment_2(shippingForm);" ng-show="!ck.isClickAndCollect" ng-disabled="ck.basket.lineItems==null || ck.basket.lineItems.length<1">
                                                    @LT("Checkout.Button.Continue", "Continue") <span class="hidden-xs">@LT("Checkout.Label.To", "To") @LT("Checkout.Label.PaymentMethod", "Payment Method")</span><i class="fa fa-caret-right"></i>
                                                </button>
                                                <button type="submit" class="animate btn-primary" ng-click="ck.model.storeAddress.phoneNumber=phoneNumber;ck.ValidateDeliveryMethod();ck.clickCollect()" ng-show="ck.isClickAndCollect" ng-disabled="ck.basket.lineItems==null || ck.basket.lineItems.length<1">
                                                    @LT("Checkout.Button.Continue", "Continue") <span class="hidden-xs">@LT("Checkout.Label.To", "To") @LT("Checkout.Label.PaymentMethod", "Payment Method")</span><i class="fa fa-caret-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div>
                                    <input id="ac-2" name="accordion-1" type="radio" disabled />
                                    <label class="label-ac" for="ac-2"><i class="fa fa-cc-visa"></i> @LT("Checkout.Label.ShippingAddress", "Payment Method")</label>
                                    <article class="ac-large">
                                        @Html.Partial("~/Views/Checkout/Layout1/_PaymentMethod.cshtml")
                                    </article>
                                </div>
                                <div><!--...--></div>
                            </section>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="summery-border">
                                @Html.Partial("~/Views/Checkout/Layout1/_OrderSummary.cshtml")
                            </div>
                        </div>
                        <div class="dvloader">
                            <span class="global-loader">
                                <img src="~/assets/theme/ocx/images/loader.svg" />
                            </span>
                        </div>

                    </div>
                    @{/*End Shipping and payment view*/}
                    @Html.Partial("~/Views/Checkout/Layout1/_AddressView.cshtml")
                </div>
                @if (SessionContext.CurrentUser == null)
                {
                    @Html.Partial("~/Views/Checkout/Layout1/_GuestRegistration.cshtml", new LoginRegistrationModel { Registration = Model.Register })
                }
            </div>
                        }

                        @*<div class="row" ng-hide="ck.basket.lineItems.length>0">
                                <h3>
                                    @LT("Checkout.Label.EmptyBasket", "Basket no longer available")
                                </h3>
                            </div>*@
                        <div class="row" ng-hide="ck.basket.lineItems.length>0">
                            <div class="col-sm-12 col-xs-12 text-center no-iten-view">
                                <i class="fa fa-shopping-bag"></i>
                                <h1>@LT("YourBag.Text.NoItem", "Basket No Longer Available")</h1>
                            </div>
                        </div>
                        @Html.Partial("~/Views/Checkout/Layout1/_BasketView.cshtml", Model.Checkout.Basket)
                    </div>

}


@section scripts{
    <script>
        var signIn = '@(Html.BuildUrlFromExpression<AccountController>(c => c.SignIn(null)))';
        var converToOrder = '@(Html.BuildUrlFromExpression<CheckoutController>(c => c.ConvertToOrder(null)))';
        var custGridUrl = '@(Html.BuildUrlFromExpression<AccountController>(c => c.GetCustomerAddress()))';
        var addToBasket = '@(Html.BuildUrlFromExpression<BasketController>(c => c.AddtoBasket(null)))';
        var applyPromoCode = '@(Html.BuildUrlFromExpression<BasketController>(c => c.ApplyPromoCode(null,null)))';
        var removePromoCode = '@(Html.BuildUrlFromExpression<BasketController>(c => c.RemovePromoCode("","")))';
        var searchPhysicalStore = '@(Html.BuildUrlFromExpression<CheckoutController>(c => c.GetClickAndCollectOptions(null, null)))';
        var nominatedDelivery = '@(Html.BuildUrlFromExpression<CheckoutController>(c => c.GetNominatedDelivery(null,null)))';
        var guestCheckout = '@(Html.BuildUrlFromExpression<CheckoutController>(c => c.GuestCheckout(null)))';
        var logout = '@(Html.BuildUrlFromExpression<CheckoutController>(c => c.Logout()))';
        var validateGuestPassword = '@(Html.BuildUrlFromExpression<CheckoutController>(c => c.ValidateGuestPassword(null)))';
        var getWishlistProducts = '@(Html.BuildUrlFromExpression<CheckoutController>(c => c.GetWishlistProducts()))';
        var addProductToWishlist = '@(Html.BuildUrlFromExpression<CheckoutController>(c => c.AddProductToWishlist("")))';
        var removeWishList = '@(Html.BuildUrlFromExpression<CheckoutController>(c => c.RemoveWishList("")))';
        var validateLoginPassword = '@(Html.BuildUrlFromExpression<AccountController>(c => c.SignIn(null)))';
        var addPersistentBasket = '@(Html.BuildUrlFromExpression<CommonController>(c => c.AddPersistentBasket(new Guid(), new Guid())))';
        var UpdateBasketDeliveryAddress = '@(Html.BuildUrlFromExpression<CheckoutController>(c => c.UpdateBasketDeliveryAddress(null)))';
        var savedBaskets = '@(Html.BuildUrlFromExpression<BasketController>(c => c.GetSavedBaskets()))';
          var register = '@(Html.BuildUrlFromExpression<AccountController>(c => c.Registration(null)))';
        window.app.constant('checkoutConfig',{
            signIn : signIn,
            converToOrder : converToOrder,
            custGridUrl: custGridUrl,
            addToBasket: addToBasket,
            applyPromoCode : applyPromoCode,
            removePromoCode: removePromoCode,
            searchPhysicalStore : searchPhysicalStore,
            nominatedDelivery : nominatedDelivery,
            logout : logout,
            guestCheckout : guestCheckout,
            validateGuestPassword : validateGuestPassword,
            getWishlistProducts : getWishlistProducts,
            addProductToWishlist : addProductToWishlist,
            removeWishList : removeWishList,
            validateLoginPassword : validateLoginPassword,
            addPersistentBasket: addPersistentBasket,
            UpdateBasketDeliveryAddress: UpdateBasketDeliveryAddress,
            savedBaskets: savedBaskets,
            register: register
        });
        window.app.constant('model', @Html.JsonFor(Model));
    </script>
}