@{
/*
    Name: Bulk Order Listing
    Purpose: Show Item lines of added items using Quick order pad
    Structure: /Views/Basket/_BulkOrderMessage.cshtml
    Contains (Partial Views Used):
    Contained In (Where we Use this View):
        a-/Views/Shared/_HeaderBasketView.cshtml
    */
}
@using Omnicx.WebStore.Models.Enums
@{
    ViewBag.Title = "Bulk Order Message";
}
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<dynamic>

<div class="modal fade" id="bulkOrderMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">@LT("Header.Text.UserBasket", "Quick Order Basket")</div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" ng-init="gm.format2=false">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div ng-cloak class="alert alert-danger text-left" ng-show="gm.errorMessage">
                            <i class="fa fa-circle"></i><span ng-bind="gm.errorMessage"></span>
                        </div>
                        <div ng-show="gm.stockUnavailable">
                            <h3>@LT("YourBag.Message.stockUnavailable", "0 Product(s) Added to Cart")</h3>
                        </div>
                        <div ng-show="!gm.stockUnavailable && !gm.basketMessage">
                            <h3>@LT("YourBag.Message.Success", "All Product(s) Added to Cart")</h3>
                        </div>
                        <div ng-show="gm.basketMessage && !gm.stockUnavailable">
                            <h3>@LT("YourBag.Message.BasketMessage", "Some Items are added to cart")</h3>
                        </div>
                    </div>
                </div>
                <div class="container-fluid max-350">
                    <div class="row">
                        <div class="col-xs-12" ng-show="gm.basketMessage">
                            <h4 class="unavail-product"><span ng-bind="gm.notFoundLength" ng-if="gm.notFoundLength != 0"></span>@LT("YourBag.Message.NotAddToCart", " Product(s) Below Not Added to Cart.")</h4>
                            <h5>@LT("YourBag.Message.NotValid", "The quantity or stockcode are not valid.")</h5>
                            <p aria-hidden="true" class="padding-left20"><strong>Item # <span ng-bind="gm.basketMessage"></span></strong></p>
                        </div>
                    </div>
                    @*basketline*@
                    <div class="col-md-12 clearfix" id="basket" ng-show="gm.basketResponse.lineItems.length>0 && !gm.stockUnavailable && !gm.basketMessage ">
                        <div class="col-sm-12 col-xs-12  no-padding itemBorder" ng-repeat="items in gm.basketResponse.lineItems" ng-if="items.parentProductId == gm.emptyGuid">
                            <div class="no-border">
                                <div class="col-xs-3 col-sm-1 no-padding-left">
                                    <a href="/{{items.slug}}">
                                        <img ng-src="{{items.image}}" class="img-responsive" alt="" onerror="this.src = DEFAULT_IMAGE_URL">
                                    </a>
                                </div>
                                <div class="col-xs-9 col-sm-11 no-padding" ng-if="items.parentProductId == gm.emptyGuid">
                                    <div class="col-xs-11 col-sm-11 no-padding">
                                        <a class="basket-item" ng-href="/{{items.slug}}" ng-bind="items.name"></a>
                                        <span class="basket-price-mob" ng-bind="items.price.formatted.withTax"></span>
                                    </div>
                                    <div class="col-xs-1 col-sm-1 no-padding text-right">
                                        <a href="#" title="Remove" class="remove pull-right"><i class="fa fa-trash-o" ng-click="gm.addToBasket( items.productId,0,items.displayOrder,gm.model)"></i></a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 no-padding priceBorder">
                                        <div class="col-xs-6 col-sm-6 no-padding">
                                            <div class="qty qty-changer">
                                                <fieldset class="qtychanger">
                                                    <button class="btn-qty" ng-init="oldQty=items.qty" ng-click="gm.addToBasket(items.productId,-1,items.displayOrder)"><i class="fa fa-minus" title="Remove"></i></button>
                                                    <input type="text" ng-mousedown="oldQty=items.qty" ng-click="gm.onTextFocus($event)" ng-model="items.qty" value="{{items.qty}}" class="cart-text form-control" ng-blur="gm.updateQtyAndAdd(items.productId,items.qty,oldQty,items.displayOrder)" numbers-Only name="qty" @*ng-disabled="true"*@>
                                                    <button class="btn-qty" ng-click="gm.addToBasket(items.productId,1,items.displayOrder)"><i class="fa fa-plus" title="Add"></i></button>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 no-padding text-right">
                                            <span class="basket-price-mob-strong" ng-bind="items.totalPrice.formatted.withTax"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12 padding-sm">
                                            <strong class="text-orange" ng-show="items.displayInBasket && items.itemType ==@ItemTypes.Bundle.GetHashCode()">@LT("YourBag.Text.IncludeComponents", "Included Components:")</strong>
                                            <div class="row component-row" ng-repeat="bundle in gm.basketResponse.lineItems" ng-if="bundle.parentProductId == items.productId" ng-show="items.displayInBasket">
                                                <div class="col-sm-9 col-xs-9 no-padding">
                                                    <a class="small-cart-name" ng-href="/{{bundle.slug}}" ng-bind="bundle.name"></a>
                                                </div>
                                                <div class="col-sm-3 col-xs-3 no-padding text-right">
                                                    <strong>@LT("YourBag.Text.Qty", "Qty:") </strong><span ng-bind="bundle.qty"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-6 margin-top-md">
                    <p aria-hidden="true" class="pull-left"><strong>@LT("YourBag.Text.YourHave", "You currently have ")<span ng-bind="gm.basketResponse.lineItems.length"></span>@LT("YourBag.Text.YourBag", " Items in Your Bag")</strong></p>
                </div>
                <div class="col-sm-6 no-padding">
                    <a href="" class="animate btn-bordered" data-dismiss="modal">@LT("Header.Link.Shopping", "Continue Shopping") <i class="fa fa-caret-right"></i></a>
                    <a href="@Url.Action("Index", "Basket")" class="animate btn-primary">@LT("Header.Link.ViewCart", "View Cart") <i class="fa fa-caret-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>