@{
/*
    Name: Quick View Product popup modal
    Purpose: Show brief description of product in popup modal
    Structure: /Views/Product/_QuickViewModal.cshtml
    Contains (Partial Views Used):
        a-/Views/Product/_QuickViewBundle.cshtml

    Contained In (Where we Use this View):
        a-/Views/Product/ProductDetail.cshtml
    */
}

@using Omnicx.WebStore.Models.Catalog
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<Omnicx.WebStore.Models.Catalog.ProductDetailModel>
<div class="modal fade" id="product-quick-view-modal" tabindex="-1" role="dialog" aria-hidden="false" ng-show="productmodal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">            
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                @*PRODUCT QUICK VIEW DETAIL PANEL*@
                <div class="row quick-view product-main" ng-hide="pm.model.componentProducts.length > 0">
                    <div class="col-sm-5 col-xs-12">
                        <div class="row">
                            <div class="col-sm-3 col-xs-4 hidden-xs">
                                <div ng-repeat="img in pm.model.images track by $index" ng-if="$index!=1">
                                    <div class="item" ng-class="{active : $index==0}" ng-if="img.url!=''">
                                        <div class="col-xs-12 col-sm-12 thumbs">
                                            <a class="thumb">
                                                <img ng-src="{{img.url}}" onerror="this.src = DEFAULT_IMAGE_URL" ng-click="pm.model.image=img.url" class="img-responsive" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9 col-xs-12">
                                <div class="quick-view-main-image">
                                    <img ng-src="{{pm.model.image}}" class="img-responsive" onerror="this.src = DEFAULT_IMAGE_URL">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <button type="button" class="animate btn-success btn-xl pull-left width-80" ng-disabled="pm.addToBag" ng-if="pm.model.isDiscontinued==false && pm.model.currentStock>0" ng-click="gm.addToBasket(pm.model.recordId,1,0)"><i class="fa fa-shopping-cart"></i>@LT("Checkout.Button.AddtoBag", "Add to Cart")</button>
                                @if (SessionContext.CurrentUser != null && this.Request.IsAuthenticated)
                                {
                                    <button type="submit" class="animate btn-danger btn-md pull-right width-20 hidden-xs hidden-sm" ng-click="pm.addToWishlist(pm.model.recordId)" title="@LT("ProductDetail.Links.Addtowishlist", "Add to wishlist")" data-toggle="tooltip" data-placement="top" ng-hide="pm.model.inWishList"><i class="fa fa-heart"></i></button>
                                    <button type="submit" class="animate btn-danger btn-md pull-right width-20 visible-xs visible-sm" ng-click="pm.addToWishlist(pm.model.recordId)"><i class="fa fa-heart"></i></button>
                                }
                                else
                                {
                                    <button type="button" class="animate btn-danger btn-md pull-right width-20" data-toggle="modal" data-target="#login-modal" data-placement="top" ng-click="pm.addToWishlist(pm.model.recordId);pm.hideQickView()" title="@LT("ProductDetail.Links.Addtowishlist", "Add to wishlist")"><i class="fa fa-heart" data-toggle="tooltip" title="Add to wishlist" data-placement="top"></i></button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-xs-12 borderLeft maxHeightDetail">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <h2 class="productName" ng-bind="pm.model.name"></h2>
                                <h2 class="productBrand" ng-bind="pm.model.brand"></h2>
                                <h3>
                                    <span ng-repeat="freeProduct in pm.model.freeProducts" class="text-bold">
                                        <i class="pluse-icon sprite">+</i> @LT("ProductDetail.Label.Free", "Free") <span ng-bind="freeProduct.name"></span>
                                    </span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <span class="price" ng-bind="pm.model.price.formatted.withTax"></span>
                                <span class="product-price-save"><span ng-bind="pm.model.listPrice.formatted.withTax"></span></span>
                            </div>
                        </div>
                        <div class="row margin-top-sm" ng-if="pm.model.variantProductsAttribute[0].displayInProductWidget">
                            <div class="col-sm-12 col-xs-12 no-padding">
                                <div class="col-sm-12 col-xs-12 margin-bottom-sm" ng-repeat="attr in pm.model.variantProductsAttribute">
                                    <div class="col-sm-2 col-xs-12 no-padding-left">
                                        <h4 class="detailHeading" ng-bind="attr.fieldName"></h4>
                                    </div>
                                    <div class="col-sm-10 col-xs-12 no-padding">
                                        <span ng-show="attr.selectedValue==''" class="color-error-validation">Please Select {{attr.fieldName}} </span>
                                        <div ng-if="attr.inputType != 'Dropdown'">
                                            <div ng-repeat="item in attr.fieldValues">
                                                <a ng-if="attr.fieldCode=='global.colour'" id="{{item.fieldValue}}" href="#" ng-click="pm.getAvailableAttributeValues(attr.fieldCode,item.fieldValue,item.selected,attr.independentProductUrl)"
                                                   class="varient-box btn" ng-class="item.available==true?'':' grayOut-Color'" style="background-color: {{item.fieldValue}}">
                                                    <i ng-if="item.selected && item.available" class="fa-1x fa fa-check varient-check"></i>
                                                </a>
                                                <a ng-if="attr.fieldCode!='global.colour'" id="{{item.fieldValue}}" href="#" ng-click="pm.getAvailableAttributeValues(attr.fieldCode,item.fieldValue,item.selected,attr.independentProductUrl)"
                                                   class="varient-box-large " ng-class="item.available==true?'':' grayOut'">
                                                    {{item.fieldValue}}
                                                    <i ng-if="item.selected && item.available" class="fa-1x fa fa-check varient-check-range"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div ng-if="attr.inputType == 'Dropdown'">
                                            <select ng-model="attr.selectedValue" ng-change="pm.getAvailableAttributeValues(attr.fieldCode,attr.selectedValue,false,attr.independentProductUrl)" class="varientDdb">
                                                <option ng-disabled="!item.available" ng-repeat="item in attr.fieldValues" id="{{item.fieldValue}}" ng-class="item.available==true?'':' grayOut'" value={{item.fieldValue}}>{{item.fieldValue}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                @Html.Partial("~/Views/Product/_ProductDescription.cshtml", Model)
                            </div>
                        </div>                        
                    </div>
                </div>
                @*BUNDLE PRODUCTS PANEL*@
                <div class="row" ng-if="pm.model.componentProducts.length > 0">
                    <div class="col-sm-12 col-xs-12">
                        @Html.Partial("~/Views/Product/_QuickViewBundle.cshtml")
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>