@{
/*
    Name: product Detail Page (PDP)
    Purpose: Show All the detail of selected product
    Structure: /Views/Product/ProductDetail.cshtml
    Contains (Partial Views Used):
        a-/Views/Shared/_Layout.cshtml                  (For base Structure)
        b-/Views/Shared/_BreadCrumb.cshtml                      (Dynamic Breadcrumb)
        c-/Views/Product/_ProductBundle.cshtml          (Product Bundle View)
        d-/Views/Product/_ProductReviews.cshtml         (product Reviews)
        e-/Views/Product/_ProductReviewLogin.cshtml     (Loging Popup for Review)
        f-/Views/Product/_RelatedProducts.cshtml        (Releted Products)
        g-/Views/Product/_ProductDetailSlider.cshtml    (Show Large Image in Modal)
        h-/Views/Product/_Questionnaire.cshtml          (Survey Modal)

    Contained In (Where we Use this View):
    */
}
@using Microsoft.Web.Mvc
@using Omnicx.WebStore.Models.Enums
@using Omnicx.WebStore.Models.Catalog
@using Omnicx.WebStore.Core.Helpers
@using Omnicx.WebStore.Core.Controllers
@using Omnicx.API.SDK.Helpers;
@using Omnicx.WebStore.Models.FeatureToggle
@using Omnicx.WebStore.Models
@using Newtonsoft.Json
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<Omnicx.WebStore.Models.Catalog.ProductDetailModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewBag.Title = @Model.Name + "-" + @Model.Brand;
    Html.AddTitleParts(Model.Name);
    Html.AddMetaTitle(Model.MetaTitle);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordsParts(Model.MetaKeywords);
    Html.AddCanonicalUrl(Model.CanonicalTags);
    Html.AddDataLayer(DataLayerObjectType.ProductDetail, Model);
    var storeStockLocator = new StoreStockLocatorFeature();

    var subscriptionEnabled = SessionContext.CurrentSiteConfig.FeatureToggles.SubscriptionEnabled;

}

<div class="container-md no-padding">
    <div class="row breadcrumb-bar">
        <div class="col-sm-12 col-xs-12 no-padding">
            <ul class="breadcrumb">
                <li><a href="/">@LT("ProductListing.Breadcrumb.Home", "Home")</a></li>
                <li><a href="@Url.Action(" BrandList","Brand")">@LT("Product.Breadcrumb.Brands", "Brands")</a></li>
                @if (Model.BreadCrumbs != null)
                {
                    var catBreadCrumb = Model.BreadCrumbs.FirstOrDefault(x => x.SlugType == EntitySlugTypes.Manufacturer.ToString());
                    if (catBreadCrumb != null && catBreadCrumb.Slug != null)
                    {
                        @Html.Partial("~/Views/Shared/_BreadCrumb.cshtml", catBreadCrumb.Slug);
                    }
                }
                <li>@Model.Name</li>
            </ul>
        </div>
    </div>

    <div class="row" ng-cloak ng-controller="productCtrl as pm" >
        <div class="col-sm-12 col-xs-12" ng-controller="subscriptionCtrl as sm" >
            <div class="row dataContainer sm" id="productMain" ng-if="pm.model.componentProducts.length == 0 || pm.model.componentProducts.length == null" ng-init="pm.productId='@Model.RecordId';pm.image=pm.model.image">
                <div class="col-xs-12 col-sm-12 visible-xs" ng-init="pm.checkForWishlist();" >
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            <h3 class="product-headline"><span ng-bind="pm.model.name"></span></h3>
                        </div>
                    </div>
                </div>
                <div class="row flex">
                    @{ /*Start product left image and thumbnail panel*/ }
                    <div class="col-sm-5 col-xs-12 animated zoomIn" id="imageContainer">
                        <div class="row stickyImage">
                            <div class="col-sm-9 col-xs-12 pull-right">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 text-center-mob">
                                        <img data-ng-magnify image-src="{{pm.image}}" class="img-responsive omni-img" alt="Product" onerror="this.src = DEFAULT_IMAGE_URL" ng-cloak>
                                    </div>
                                </div>
                                @{ /* Add to bag and wishlist button */ }
                                <div class="row hidden-xs">
                                    <div class="col-sm-12 col-xs-12 no-padding text-right">
                                        @if (Model.RequiresQuestionnaire)
                                        {
                                            <button type="submit" class="animate btn-success btn-xl pull-left width-80" ng-show="pm.model.canAddToBag==true" ng-if="pm.model.isDiscontinued==false && pm.model.currentStock>0" ng-disabled="pm.addToBag" ng-click="gm.addToBasket(pm.productId,1,0)"><i class="fa fa-shopping-cart"></i> @LT("Checkout.Button.AddtoCart", "Add to Cart")</button>
                                            <button type="submit" class="animate btn-success btn-xl pull-left width-80" ng-hide="pm.model.canAddToBag==true" ng-if="pm.model.isDiscontinued==false && pm.model.currentStock>0" ng-click="pm.beginQuestionnaire(pm.productId, pm.model.questionnaireCode)"><i class="fa fa-connectdevelop"></i> @LT("Checkout.Button.BeginQuestionnaire", "Begin Consultation")</button>
                                        }
                                        else
                                        {
                                            <span ng-if="(pm.model.subscriptionEnabled && pm.model.subscriptionPlanType != '@SubscriptionPlanType.DynamicBundle.ToString()') || !pm.model.subscriptionEnabled">
                                                <button type="submit" class="animate btn-success btn-xl pull-left width-80" ng-show="!pm.model.isDiscontinued && pm.model.currentStock>0" ng-disabled="pm.addToBag" ng-click="gm.addToBasket(pm.productId,1,0)"><i class="fa fa-shopping-cart"></i> @LT("Checkout.Button.AddtoCart", "Add to Cart")</button>
                                            </span>
                                            <button class="animate btn-black btn-xl pull-left width-80" ng-if="pm.model.subscriptionPlanType=='@SubscriptionPlanType.DynamicBundle.ToString()' && pm.model.subscriptionEnabled" ng-click="sm.addSubscriptionToBag(pm.productId, gm.basketResponse.id,gm.basketResponse.displayOrder,1)"><i class="fa fa-shopping-cart"></i> Add To Subscription List</button>
                                        }
                                        <button type="submit" class="animate btn-danger btn-md pull-right width-20" ng-if="pm.IsUserLoggedIn" data-toggle="tooltip" data-placement="bottom" ng-hide="pm.model.inWishList" ng-click="pm.addToWishlist(pm.model.recordId)" title="Add To WishList"><i class="fa fa-heart"></i></button>
                                        <button type="button" class="animate btn-danger btn-md pull-right width-20" ng-if="!pm.IsUserLoggedIn" data-toggle="modal" data-target="#login-modal" data-placement="bottom" ng-hide="pm.model.inWishList" title="Add To WishList"><i class="fa fa-heart" data-toggle="tooltip" title="Add to Wishlist" data-placement="bottom"></i></button>
                                    </div>
                                </div>



                            </div>
                            @if (@Model.Images != null)
                            {
                                if (@Model.Images.Count != 0)
                                {
                                    <div class="col-sm-3 col-xs-12 pull-left">
                                        <div class="col-sm-12 col-xs-3 no-padding" ng-repeat="img in pm.model.images track by $index" ng-if="img.url!=''">
                                            <a ng-href="img.url" class="thumb image-bordered">
                                                <img ng-src="{{img.url}}" class="img-responsive omni-img" alt="Product Images" onerror="this.src = DEFAULT_IMAGE_URL" sizes="(min-width: 768px) 540px, 100vw" ng-click="pm.image=img.url">
                                            </a>
                                        </div>
                                        <div class="col-sm-12 col-xs-3 no-padding" ng-repeat="giftItem in pm.model.freeProducts track by $index">
                                            <a ng-href="giftItem.image" class="thumb image-bordered">
                                                <img ng-src="{{giftItem.image}}" class="img-responsive omni-img" alt="Product Images" onerror="this.src = DEFAULT_IMAGE_URL" sizes="(min-width: 768px) 540px, 100vw" ng-click="pm.image=giftItem.image">
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        @{ /* Add to bag and wishlist button */ }
                        <div class="row visible-xs">
                            <div class="col-sm-12 col-xs-12 no-padding text-right">
                                @if (Model.RequiresQuestionnaire)
                                {
                                    <button type="submit" class="animate btn-success btn-xl pull-left width-80" ng-show="pm.model.canAddToBag==true" ng-if="pm.model.isDiscontinued==false && pm.model.currentStock>0" ng-disabled="pm.addToBag" ng-click="gm.addToBasket(pm.productId,1,0)"><i class="fa fa-shopping-cart"></i> @LT("Checkout.Button.AddtoCart", "Add to Cart")</button>
                                    <button type="submit" class="animate btn-success btn-xl pull-left width-80" ng-hide="pm.model.canAddToBag==true" ng-if="pm.model.isDiscontinued==false && pm.model.currentStock>0" ng-click="pm.beginQuestionnaire(pm.productId, pm.model.questionnaireCode)"><i class="fa fa-connectdevelop"></i> @LT("Checkout.Button.BeginQuestionnaire", "Begin Consultation")</button>
                                }
                                else
                                {
                                    <button type="submit" class="animate btn-success btn-xl pull-left width-80" ng-if="pm.model.isDiscontinued==false && pm.model.currentStock>0" ng-disabled="pm.addToBag" ng-click="gm.addToBasket(pm.productId,1,0)"><i class="fa fa-shopping-cart"></i> @LT("Checkout.Button.AddtoCart", "Add to Cart")</button>
                                }
                                <button type="submit" class="animate btn-danger btn-md pull-right width-20" ng-if="pm.IsUserLoggedIn" data-toggle="tooltip" data-placement="bottom" ng-hide="pm.model.inWishList" ng-click="pm.addToWishlist(pm.model.recordId)" title="Add To WishList"><i class="fa fa-heart"></i></button>
                                <button type="button" class="animate btn-danger btn-md pull-right width-20" ng-if="!pm.IsUserLoggedIn" data-toggle="modal" data-target="#login-modal" data-placement="bottom" ng-hide="pm.model.inWishList" title="Add To WishList"><i class="fa fa-heart" data-toggle="tooltip" title="Add to Wishlist" data-placement="bottom"></i></button>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 visible-xs">
                        @{ /* Product Price */ }
                        @if (@Model.ListPrice != null)
                        {
                            <div class="row">
                                <div class="col-sm-12 no-padding">
                                    <h5 class="price-h5"><span ng-bind="pm.model.price.formatted.withoutTax"></span> <strike ng-bind="pm.model.listPrice.formatted.withTax"></strike></h5>
                                    <h5 class="price-h5-save-mob visible-xs" ng-hide="pm.model.listPrice.raw.withTax == pm.model.price.raw.withTax">@LT("Checkout.Button.SAVE", "SAVE") <span ng-bind="pm.model.listPrice.formatted.withTax.charAt(0)"></span><span ng-bind="(pm.model.listPrice.raw.withTax - pm.model.price.raw.withTax).toFixed(2)"></span></h5>
                                </div>
                            </div>
                        }
                    </div>
                    @{ /*Start product information panel*/ }
                    <div class="col-sm-7 col-xs-12 _data">
                        <div class="row hidden-xs">
                            <div class="col-sm-12 col-xs-12 no-padding">
                                <h3 class="product-headline"><span ng-bind="pm.model.name"></span></h3>
                                <h5 class="category-headline">
                                    <span ng-repeat="freeProduct in pm.model.freeProducts" class="text-bold">
                                        <i class="pluse-icon sprite">+</i> @LT("ProductDetail.Label.Free", "Free") <span ng-bind="freeProduct.name"></span>
                                    </span>
                                </h5>
                            </div>
                        </div>
                        @if (@Model.ListPrice != null)
                        {
                            <div class="row hidden-xs">
                                <div class="col-sm-12 no-padding">
                                    <h5 class="price-h5"><span ng-bind="pm.model.price.formatted.withoutTax"></span> <span class="price-h5-rrp"><span ng-bind="pm.model.listPrice.formatted.withTax"></span></span></h5>
                                </div>
                            </div>
                        }       
                        
                        @if (@subscriptionEnabled)
                        {
                            <div ng-init="sm.initSubscription(pm.model.subscriptionPlanType,pm.model.recordId)">

                                <div class="row s--subscription--button--panel" ng-if="pm.model.subscriptionPlanType=='@SubscriptionPlanType.Simple.ToString()'">
                                    <div class="col-sm-6 col-xs-12">
                                        <label class="control control--checkbox ">
                                            <input type="checkbox" class="ng-pristine ng-valid ng-untouched ng-empty" ng-click="sm.initSubscriptionPlan(pm.model.recordId,pm.model.subscriptionEnabled)" ng-model="sm.showSubscriptionPlan">
                                            <label for="NewsLetterSubscribe"><strong>Subscribe</strong></label>
                                            <div class="control__indicator"></div>
                                        </label>
                                    </div>
                                </div>
                                <div class="row s--subscription--panel" ng-show="sm.showSubscriptionPlan">
                                    <div class="row" >
                                        <div class="col-md-4 col-xs-12 no-padding-left">
                                            <label class="control-label">Select Term</label>
                                            <select class="form-control" ng-model="sm.subscriptionModel.selectedTerm" ng-options="o as  o.subscriptionTerm.duration + ' ' + o.subscriptionTerm.intervalType for o in sm.subscriptionPlan.terms | orderBy:'subscriptionTerm.duration'"></select>
                                        </div>
                                        <div class="col-md-8 col-xs-12 no-padding-left">
                                            <label class="control-label no-padding">Payment</label>
                                            <div ng-if="sm.subscriptionPlan.pricingType == '@SubscriptionPricingTypes.Flat.ToString()'" class="padding-top-sm">
                                                <span class="col-sm-6 col-xs-12 no-padding-left">
                                                    <label class="control control--radio ">
                                                        <input type="radio" ng-model="sm.subscriptionModel.selectedPricing" ng-value="'@UserPricingType.OneTime.ToString()'">
                                                        <label for="onetime">One Time Fee {{sm.subscriptionPlan.oneTimeFee.formatted.withTax}}</label>
                                                        <div class="control__indicator"></div>
                                                    </label>
                                                </span>
                                                <span class="col-sm-6 col-xs-12 no-padding-right">
                                                    <label class="control control--radio ">
                                                        <input type="radio" ng-model="sm.subscriptionModel.selectedPricing" ng-value="'@UserPricingType.Recurring.ToString()'">
                                                        <label for="recurring">Recurring Fee {{sm.subscriptionPlan.recurringFee.formatted.withTax}}</label>
                                                        <div class="control__indicator"></div>
                                                    </label>
                                                </span>
                                            </div>
                                            <div ng-if="sm.subscriptionPlan.pricingType == '@SubscriptionPricingTypes.Term.ToString()'" class="padding-top-sm">
                                                <span ng-if="sm.subscriptionModel.selectedTerm">
                                                    <span class="col-sm-6 col-xs-12 no-padding-left">
                                                        <label class="control control--radio ">
                                                            <input type="radio" ng-model="sm.subscriptionModel.selectedPricing" ng-value="'@UserPricingType.OneTime.ToString()'">
                                                            <label for="onetime">One Time Fee {{sm.subscriptionModel.selectedTerm.oneTimeFee.formatted.withTax}}</label>
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                    </span>
                                                    <span class="col-sm-6 col-xs-12 no-padding-right">
                                                        <label class="control control--radio ">
                                                            <input type="radio" ng-model="sm.subscriptionModel.selectedPricing" ng-value="'@UserPricingType.Recurring.ToString()'">
                                                            <label for="recurring">Recurring Fee {{sm.subscriptionModel.selectedTerm.recurringFee.formatted.withTax}}</label>
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                    </span>
                                                </span>
                                            </div>
                                            <div ng-if="sm.subscriptionPlan.pricingType == '@SubscriptionPricingTypes.PerUnit.ToString()'"></div>
                                        </div>
                                        <div class="col-md-12 col-xs-12 no-padding-left">
                                            <p>Sign Up Fee <span ng-bind="sm.model.selectedTerm.signUpFee.formatted.withTax"></span></p>
                                            <p ng-if="sm.subscriptionPlan.orderTriggerType == '@SubscriptionOrderTriggerType.FixedDay'">*Your order will be generated on {{sm.subscriptionPlan.orderTriggerDayOfMonth}} of every {{sm.subscriptionPlan.interval.intervalType}}</p>
                                            <p ng-if="sm.subscriptionPlan.orderTriggerType == '@SubscriptionOrderTriggerType.Rolling'"></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12 no-padding text-left">
                                            <button class="animate btn-success btn-xl width-full no-margin" ng-hide="pm.model.subscriptionPlanType=='@SubscriptionPlanType.DynamicBundle.ToString()'" ng-click="sm.addSubscriptionToBag(pm.productId, gm.basketResponse.id,gm.basketResponse.displayOrder,1);"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
              
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        }

                        <div>
                            @if (Model.VariantProducts != null && Model.VariantProducts.Count > 0)
                            {
                                if (Model.VariantProductsAttribute != null && Model.VariantProductsAttribute.Count > 0 && Model.VariantProductsAttribute[0].DisplayInProductDetail)
                                {
                                    <div class="row" ng-init='pm.initProductVariant()'>
                                        <div class="col-sm-12 col-xs-12 margin-bottom-sm no-padding" ng-repeat="attr in pm.model.variantProductsAttribute">
                                            <div class="col-sm-2 col-xs-12 no-padding-left">
                                                <h4 class="detailHeading" ng-bind="attr.fieldName"></h4>
                                            </div>
                                            <div class="col-sm-10 col-xs-12 no-padding">
                                                <span ng-show="attr.selectedValue==''" class="color-error-validation">Please Select {{attr.fieldName}} </span>
                                                <div ng-if="attr.inputType != 'Dropdown'">
                                                    <div ng-repeat="item in attr.fieldValues">
                                                        <a ng-if="attr.fieldCode=='global.colour'" id="{{item.fieldValue}}" href="#" ng-click="pm.getAvailableAttributeValues(attr.fieldCode,item.fieldValue,item.selected,attr.independentProductUrl)"
                                                           class="varient-box btn" ng-class="item.available==true?'':' grayOut-Color'" style="background-color: {{item.fieldValue}}">
                                                            <i ng-if="item.selected && item.available" class="fa-1x fa fa-check varient-check"></i>
                                                        </a>

                                                        <a ng-if="attr.fieldCode!='global.colour'" id="{{item.fieldValue}}" href="#" ng-click="pm.getAvailableAttributeValues(attr.fieldCode,item.fieldValue,item.selected,attr.independentProductUrl)"
                                                           class="varient-box-large " ng-class="item.available==true?'':' grayOut'">
                                                            {{item.fieldValue}}
                                                            <i ng-if="item.selected && item.available" class="fa-1x fa fa-check varient-check-range"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div ng-if="attr.inputType == 'Dropdown'">
                                                    <select ng-model="attr.selectedValue" ng-change="pm.getAvailableAttributeValues(attr.fieldCode,attr.selectedValue,false)" class="varientDdb">
                                                        <option ng-disabled="!item.available" ng-repeat="item in attr.fieldValues" id="{{item.fieldValue}}" ng-class="item.available==true?'':' grayOut'" value={{item.fieldValue}}>{{item.fieldValue}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12 no-padding" ng-show="pm.model.flags.isFreeDelivery">
                                <label ng-show="pm.model.flags.isFreeDelivery" class="free-label" ng-cloak>
                                    <span class="free-icon"><i class="fa fa-truck"></i></span>
                                    <span class="free-text"><strong>@LT("ProductDetail.Label.FreeDelivery", "FREE DELIVERY")</strong><br /> @LT("ProductDetail.Label.onitem", "on this item")</span>
                                </label>
                            </div>
                            <div class="col-sm-4 col-xs-12 no-padding" ng-if="pm.model.freeProducts.length > 0">
                                <label ng-if="pm.model.freeProducts.length > 0" class="free-label" ng-cloak>
                                    <span class="free-icon"><i class="fa fa-gift"></i></span>
                                    <span class="free-text"><strong>@LT("ProductDetail.Label.FreeGift", "Free Gift") </strong><br /> @LT("ProductDetail.Label.withitem", "with this item")</span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 no-padding">
                                <p class="text-center">
                                    <div ng-cloak class="alert alert-info wishdiv" ng-show="pm.wishlistsaved">
                                        <strong>@LT("ProductDetail.Message.AddToWishlist", "Product added to wishlist")!</strong>
                                    </div>
                                    <div ng-cloak class="alert alert-danger wishdiv" ng-show="pm.wishlistexistserror">
                                        <strong>@LT("ProductDetail.Message.AlreadyAddedToWishlist", "Product already added in wishlist")!</strong>
                                    </div>
                                    <div ng-cloak class="alert alert-danger wishdiv alert-pos" ng-show="pm.maximumWishlisterror">
                                        <strong>@LT("ProductDetail.Message.AddedMaximumWishlistItems", " You have reached the maximum limit")!</strong>
                                    </div>
                                </p>
                            </div>
                        </div>
                        <div class="row margin-top-sm">
                            <div class="col-sm-12 col-xs-12 no-padding-left">
                                @Html.Partial("~/Views/Product/_ProductDescription.cshtml", @Model)
                            </div>
                        </div>
                        <div class="row margin-top-sm">
                            <div class="col-sm-12 col-xs-12 no-padding-left">
                                @Html.Action("GetAllFaqs", "Common", @Model)
                            </div>
                        </div>
                        @if (storeStockLocator.FeatureEnabled)
                        {
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 no-padding-left">
                                    <div class="panel panel-default">
                                        <div class="panel-heading panelHeading bg-white">@LT("ProductDetail.Label.CheckStoreStock", "Check Store Stock")</div>
                                        <div class="panel-body no-border">
                                            <div class="row">
                                                <div class="col-sm-7 col-xs-12">
                                                    <div class="input-group">
                                                        <input title="Search" name="storeFinder" ng-model="pm.postCode" autocomplete="false" type="text" class="form-control input-lg" placeholder="Enter Your Post Code">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="animate btn-primary no-margin" ng-click="pm.getStoreStockAvailability()"><i class="fa fa-map-marker"></i> @LT("ProductDetail.Label.LocateStore", "Locate Store")</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 no-padding-left">
                                <div class="panel panel-default">
                                    <div class="panel-heading panelHeading bg-white">@LT("ProductDetail.Label.ShowFriends", "Social Share")</div>
                                    <div class="panel-body no-border">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12 quick-view-social text-left" ng-init="pm.getUrl();">
                                                <h4 class="panel-h5">@LT("ProductDetail.Label.ShowFriends", "Show it to your friends or Email")</h4>
                                                <div class="sharethis-inline-share-buttons"></div>
                                                <p class="col-xs-10 cl-sm-10 text-left" aria-hidden="true">
                                                    <a href="https://www.facebook.com/share.php?u={{pm.url}}/@Model.Link-@Model.StockCode" class="external facebook" data-animate-hover="pulse"><span class="label-0">@LT("ProductDetail.Label.FB", "FB")</span><i class="fa fa-facebook"></i></a>
                                                    <a href="https://pinterest.com/pin/create/button/?url=@Model.Image&media=&description=@Model.Name" class="external gplus" data-animate-hover="pulse"><span class="label-0">@LT("ProductDetail.Label.PIN", "PIN")</span><i class="fa fa-pinterest"></i></a>
                                                    <a href="https://twitter.com/home?status={{pm.url}}/@Model.Link-@Model.StockCode" class="external twitter" data-animate-hover="pulse"><span class="label-0">@LT("ProductDetail.Label.TW", "TW")</span><i class="fa fa-twitter"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 no-padding-left">
                                <div class="panel panel-default">
                                    <div class="panel-heading panelHeading bg-white">@LT("productDetail.label.ProductReviews", "Ratings and Reviews")</div>
                                    <div class="panel-body no-border">
                                        @Html.Partial("~/Views/Product/_ProductReviews.cshtml")
                                    </div>
                                </div>
                            </div>
                        </div>
                        @{ /* Start product login review*/ }
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 no-padding">
                                @Html.Partial("~/Views/Product/_ProductReviewLogin.cshtml", new ProductReviewLoginModel { })
                            </div>
                        </div>
                    </div>
                </div>
                @*Start Bundle Products*@
                <div class="row" ng-if="pm.model.componentProducts.length > 0">
                    @Html.Partial("~/Views/Product/_ProductBundle.cshtml")
                </div>
            </div>
            @{ /* Start product review*/ }
            <div class="row">
                <div class="col-sm-12 col-xs-12 whiteContainer">                    
                    @Html.Partial("~/Views/Product/_RelatedProducts.cshtml")
                </div>
            </div>
            @{ /* End product review */ }
            @Html.Partial("~/Views/Product/_ProductDetailSlider.cshtml")
            <div id="QualifyingQuestionnaire" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title text-modal">Qualifying Questionnaire</h4>
                        </div>
                        <div class="modal-body">
                            @Html.Partial("~/Views/Product/_Questionnaire.cshtml")
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>
            @if (storeStockLocator.FeatureEnabled)
            {
                @*PHYSICAL STORE MODAL*@
                <div id="storeInfo" ng-init="pm.createMap()" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title text-modal">@LT("ProductDetail.Label.FindInStore", "Find In Store")</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-2 col-xs-3 no-padding">
                                        <span class="cart-img">
                                            <a href="">
                                                <img ng-src="{{pm.image}}" class="img-responsive" onerror="this.src = DEFAULT_IMAGE_URL" ng-cloak>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <h3 class="product-headline"><span ng-bind="pm.model.name"></span></h3>
                                        <h5 class="category-headline">
                                            <span ng-repeat="freeProduct in pm.model.freeProducts" class="text-bold">
                                                <i class="pluse-icon sprite">+</i> @LT("ProductDetail.Label.Free", "Free") <span ng-bind="freeProduct.name"></span>
                                            </span>
                                        </h5>
                                    </div>
                                    <div class="col-sm-4 col-xs-3 text-right">
                                        @if (@Model.ListPrice != null)
                                        {
                                            <div class="row hidden-xs">
                                                <div class="col-sm-12">
                                                    <h5 class="price-h5"><span ng-bind="pm.model.price.formatted.withoutTax"></span> <span class="price-h5-rrp"><span ng-bind="pm.model.listPrice.formatted.withTax"></span></span></h5>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12 text-right pull-right">
                                        @if (Model.RequiresQuestionnaire)
                                        {
                                            <button type="submit" class="animate btn-success btn-xl width-full" ng-show="pm.model.canAddToBag==true" ng-if="pm.model.isDiscontinued==false && pm.model.currentStock>0" ng-disabled="pm.addToBag" ng-click="gm.addToBasket(pm.productId,1,0)"><i class="fa fa-shopping-cart"></i> @LT("Checkout.Button.AddtoCart", "Add to Cart")</button>
                                            <button type="submit" class="animate btn-success btn-xl width-full" ng-hide="pm.model.canAddToBag==true" ng-if="pm.model.isDiscontinued==false && pm.model.currentStock>0" ng-click="pm.beginQuestionnaire(pm.productId, pm.model.questionnaireCode)"><i class="fa fa-connectdevelop"></i> @LT("Checkout.Button.BeginQuestionnaire", "Begin Consultation")</button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="animate btn-success btn-xl width-full" ng-if="pm.model.isDiscontinued==false && pm.model.currentStock>0" ng-disabled="pm.addToBag" ng-click="gm.addToBasket(pm.productId,1,0)"><i class="fa fa-shopping-cart"></i> @LT("Checkout.Button.AddtoCart", "Add to Cart")</button>
                                        }
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6 col-xs-12">
                                        <div style="width: 100%; height: 300px; overflow:visible!important;" id="map"></div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <h4 class="heading-h4">Stores:</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div ng-repeat="store in pm.stores" class="col-sm-12 col-xs-12 storeRow">
                                                <span class="storeName">
                                                    <span ng-bind="store.name"></span>
                                                </span>
                                                <span class="storeStock"><span ng-hide="store.availableStock==0" class="text-green"><i class="fa fa-check-circle"></i> In Stock(<span>{{store.availableStock}}</span>)</span><span ng-show="store.availableStock==0" class="text-red"><i class="fa fa-warning"></i> No Stock</span>  </span>
                                                <span class="storeInfo">
                                                    <span ng-bind="store.distanceInMiles"></span> Miles <br />
                                                    <a href="" target="_blank">Store Info</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer"></div>
                        </div>
                    </div>
                </div>
                <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyALG7h21s1IFIHRlW-QRRLPQumxopKYlcc"></script>
            }

        </div>
    </div>
</div>

@{ /* End product detail Panel */ }
<!-- Modal -->
<div id="SuccessAlert" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-modal">Review Success</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm1-2 col-xs-12">
                        @*<h3 class="text-center">@LT("ProductReview.Label.Success", "Thank you for your review.")</h3>*@
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<bt-recommendation type="Product" showmodel="true"  noofitems="10"/>
@section scripts{
    <script defer>
        var addToWishlistUrl = '@(Html.BuildUrlFromExpression<AccountController>(c => c.AddProductToWishlist(null)))';
        var productUrl = '@(Html.BuildUrlFromExpression<ProductController>(c => c.ProductDetails("")))';
        var signIn = '@(Html.BuildUrlFromExpression<AccountController>(c => c.SignIn(null)))';
        var register = '@(Html.BuildUrlFromExpression<AccountController>(c => c.Registration(null)))';
        var addReview = '@(Html.BuildUrlFromExpression<ProductController>(c => c.AddProductReview("",null)))';
        var getWishlist = '@(Html.BuildUrlFromExpression<AccountController>(c => c.GetWishlist()))';
        var questionnaireCode = '@(Html.BuildUrlFromExpression<ProductController>(c => c.QuestionnaireCode(null)))';
        var reviewConfig = '@(Html.BuildUrlFromExpression<ProductController>(c => c.GetProductReviewConfig()))';
        var stockAvailabilityUrl = '@(Html.BuildUrlFromExpression<StoreController>(c => c.StoreStockAvailability(null, null)))';
        window.app.constant('productConfig', {
            addToWishlistUrl: addToWishlistUrl,
            productUrl: productUrl,
            signIn : signIn,
            register : register,
            addReview : addReview,
            getWishlist:getWishlist,
            questionnaireCode: questionnaireCode,
            reviewConfig: reviewConfig,
            stockAvailabilityUrl: stockAvailabilityUrl
        });
        window.app.constant('model', @Html.Json(Model));
    </script>
}
