@{
/*
    Name: product Detail Page (PDP)
    Purpose: Show All the detail of selected product
    Structure: /Views/Product/ProductDetail.cshtml
    Contains (Partial Views Used):
        a-/Views/Shared/_Layout.cshtml                  (For base Structure)
        b-/Views/Shared/_BreadCrumb.cshtml                      (Dynamic Breadcrumb)
        c-/Views/Product/_ProductBundle.cshtml          (Product Bundle View)
        d-/Views/Product/_ProductReviews.cshtml         (product Reviews)
        e-/Views/Product/_ProductReviewLogin.cshtml     (Loging Popup for Review)
        f-/Views/Product/_RelatedProducts.cshtml        (Releted Products)
        g-/Views/Product/_ProductDetailSlider.cshtml    (Show Large Image in Modal)
        h-/Views/Product/_Questionnaire.cshtml          (Survey Modal)

    Contained In (Where we Use this View):
    */
}
@using Microsoft.Web.Mvc
@using Omnicx.WebStore.Models.Enums
@using Omnicx.WebStore.Models.Catalog
@using Omnicx.WebStore.Core.Helpers
@using Omnicx.WebStore.Core.Controllers
@using Omnicx.API.SDK.Helpers;
@using Omnicx.WebStore.Models
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<Omnicx.WebStore.Models.Catalog.ProductDetailModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewBag.Title = @Model.Name + "-" + @Model.Brand;
    Html.AddTitleParts(Model.Name);
    Html.AddMetaTitle(Model.MetaTitle);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordsParts(Model.MetaKeywords);
    Html.AddCanonicalUrl(Model.CanonicalTags);
    Html.AddDataLayer(DataLayerObjectType.ProductDetail, Model);
}

<div class="container-fluid">
    <div class="col-sm-12 col-xs-12" ng-cloak ng-controller="productCtrl as pm">
        <div class="row dataContainer" id="productMain" ng-if="pm.model.componentProducts.length == 0 || pm.model.componentProducts.length == null" ng-init="pm.productId='@Model.RecordId';pm.image=pm.model.image">
            <div class="col-xs-12 col-sm-12 visible-xs" ng-init="pm.checkForWishlist()">
                <div class="row">
                    <div class="col-sm-12 no-padding">
                        <h3 class="product-headline"><span ng-bind="pm.model.name"></span></h3>
                    </div>
                </div>
                @{ /* Product Price */ }
                @if (@Model.ListPrice != null)
            {
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            <h5 class="price-h5"><span ng-bind="pm.model.price.formatted.withoutTax"></span></h5>
                            <h5 class="price-h5-save hidden-xs"><span ng-bind="pm.model.listPrice.formatted.withTax"></span></h5>
                            <h5 class="price-h5-rrp hidden-xs" ng-hide="pm.model.listPrice.raw.withTax == pm.model.price.raw.withTax">@LT("Checkout.Button.SAVE", "SAVE") <span ng-bind="pm.model.listPrice.formatted.withTax.charAt(0)"></span><span ng-bind="(pm.model.listPrice.raw.withTax - pm.model.price.raw.withTax).toFixed(2)"></span></h5>
                            <h5 class="price-h5-rrp-mob visible-xs"><span ng-bind="pm.model.listPrice.formatted.withTax"></span></h5>
                            <h5 class="price-h5-save-mob visible-xs" ng-hide="pm.model.listPrice.raw.withTax == pm.model.price.raw.withTax">@LT("Checkout.Button.SAVE", "SAVE") <span ng-bind="pm.model.listPrice.formatted.withTax.charAt(0)"></span><span ng-bind="(pm.model.listPrice.raw.withTax - pm.model.price.raw.withTax).toFixed(2)"></span></h5>

                        </div>
                    </div>
                }
            </div>
            <div class="row flex">
                @{ /*Start product left image and thumbnail panel*/ }
                <div class="col-sm-4 col-xs-12 margin-bottom-lg animated zoomIn" id="imageContainer">
                    <div class="row stickyImage">
                        @if (@Model.Images != null)
                        {
                            if (@Model.Images.Count != 0)
                            {
                                <div class="col-sm-2 col-xs-3">
                                    <div class="col-sm-12 col-xs-12 no-padding" ng-repeat="img in pm.model.images track by $index" ng-if="img.url!=''">
                                        <a ng-href="img.url" class="thumb image-bordered">
                                            <img ng-src="{{img.url}}" class="img-responsive" onerror="this.src = DEFAULT_IMAGE_URL" ng-click="pm.image=img.url">
                                        </a>
                                    </div>
                                    <div class="col-sm-12 col-xs-12 no-padding" ng-repeat="giftItem in pm.model.freeProducts track by $index">
                                        <a ng-href="giftItem.image" class="thumb image-bordered">
                                            <img ng-src="{{giftItem.image}}" class="img-responsive" onerror="this.src = DEFAULT_IMAGE_URL" ng-click="pm.image=giftItem.image">
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                        <div class="col-sm-10 col-xs-9">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 border-default text-center-mob">
                                    <img data-ng-magnify image-src="{{pm.image}}" class="img-responsive" onerror="this.src = DEFAULT_IMAGE_URL" ng-cloak>
                                </div>
                            </div>
                            @{ /* Add to bag and wishlist button */ }
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 no-padding text-right">
                                    @if (Model.RequiresQuestionnaire)
                                    {
                                        <button type="submit" class="animate btn-success btn-xl pull-left width-80" ng-show="pm.model.canAddToBag==true" ng-if="pm.model.isDiscontinued==false && pm.model.currentStock>0" ng-disabled="pm.addToBag" ng-click="gm.addToBasket(pm.productId,1,0)"><i class="fa fa-shopping-cart"></i> @LT("Checkout.Button.AddtoCart", "Add to Cart")</button>
                                        <button type="submit" class="animate btn-success btn-xl pull-left width-80" ng-hide="pm.model.canAddToBag==true" ng-if="pm.model.isDiscontinued==false && pm.model.currentStock>0" ng-click="pm.beginQuestionnaire(pm.productId, pm.model.questionnaireCode)"><i class="fa fa-connectdevelop"></i> @LT("Checkout.Button.BeginQuestionnaire", "Begin Consultation")</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="animate btn-success btn-xl pull-left width-80" ng-if="pm.model.isDiscontinued==false && pm.model.currentStock>0" ng-disabled="pm.addToBag" ng-click="gm.addToBasket(pm.productId,1,0)"><i class="fa fa-shopping-cart"></i> @LT("Checkout.Button.AddtoCart", "Add to Cart")</button>
                                    }
                                    <button type="submit" class="animate btn-danger btn-md pull-right width-20" ng-if="pm.IsUserLoggedIn" data-toggle="tooltip" data-placement="bottom" ng-hide="pm.model.inWishList" ng-click="pm.addToWishlist(pm.model.recordId)" title="Add To WishList"><i class="fa fa-heart"></i></button>
                                    <button type="button" class="animate btn-danger btn-md pull-right width-20" ng-if="!pm.IsUserLoggedIn" data-toggle="modal" data-target="#login-modal" data-placement="bottom" ng-hide="pm.model.inWishList" title="Add To WishList"><i class="fa fa-heart" data-toggle="tooltip" title="Add to Wishlist" data-placement="bottom"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @{ /*Start product information panel*/ }
                <div class="col-sm-8 col-xs-12 _data">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 no-padding">
                            <ul class="breadcrumb">
                                <li><a href="/">@LT("ProductListing.Breadcrumb.Home", "Home")</a></li>
                                <li><a href="@Url.Action("BrandList","Brand")">@LT("Product.Breadcrumb.Brands", "Brands")</a></li>
                                @if (Model.BreadCrumbs != null)
                                {
                                    var catBreadCrumb = Model.BreadCrumbs.FirstOrDefault(x => x.SlugType == EntitySlugTypes.Manufacturer.ToString());
                                    if (catBreadCrumb != null && catBreadCrumb.Slug != null)
                                    {
                                        @Html.Partial("~/Views/Shared/_BreadCrumb.cshtml", catBreadCrumb.Slug);
                                    }
                                }
                                <li><a href="#"></a>@Model.Name</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row hidden-xs">
                        <div class="col-sm-12 col-xs-12 no-padding">
                            <h3 class="product-headline"><span ng-bind="pm.model.name"></span></h3>
                            <h5 class="category-headline">
                                <span ng-repeat="freeProduct in pm.model.freeProducts" class="text-bold">
                                    <i class="pluse-icon sprite">+</i> @LT("ProductDetail.Label.Free", "Free") <span ng-bind="freeProduct.name"></span>
                                </span>
                            </h5>
                        </div>
                    </div>
                    @if (@Model.ListPrice != null)
                    {
                        <div class="row hidden-xs">
                            <div class="col-sm-12 no-padding">
                                <h5 class="price-h5"><span ng-bind="pm.model.price.formatted.withoutTax"></span> <span class="price-h5-rrp"><span ng-bind="pm.model.listPrice.formatted.withTax"></span></span></h5>
                            </div>
                        </div>
                    }
                    <div>
                        @if (Model.VariantProducts != null && Model.VariantProducts.Count > 0)
                        {
                            if (Model.VariantProductsAttribute != null && Model.VariantProductsAttribute.Count > 0 && Model.VariantProductsAttribute[0].DisplayInProductDetail)
                            {
                                <div class="row" ng-init='pm.initProductVariant()'>
                                    <div class="col-sm-12 col-xs-12 no-padding" ng-repeat="attr in pm.model.variantProductsAttribute">
                                        <h3 class="variant-headline" ng-bind="attr.fieldName"></h3>
                                        <span ng-show="attr.selectedValue==''" class="color-error-validation">Please Select {{attr.fieldName}} </span>
                                        <div ng-if="attr.inputType != 'Dropdown'">
                                            <div ng-repeat="item in attr.fieldValues">

                                                <a ng-if="attr.fieldCode=='global.colour'" id="{{item.fieldValue}}" href="#" ng-click="pm.getAvailableAttributeValues(attr.fieldCode,item.fieldValue,item.selected,attr.independentProductUrl)"
                                                   class="varient-box btn" ng-class="item.available==true?'':' grayOut-Color'" style="background-color: {{item.fieldValue}}">
                                                    <i ng-if="item.selected && item.available" class="fa-1x fa fa-check varient-check"></i>
                                                </a>

                                                <a ng-if="attr.fieldCode!='global.colour'" id="{{item.fieldValue}}" href="#" ng-click="pm.getAvailableAttributeValues(attr.fieldCode,item.fieldValue,item.selected,attr.independentProductUrl)"
                                                   class="varient-box-large " ng-class="item.available==true?'':' grayOut'">
                                                    {{item.fieldValue}}
                                                    <i ng-if="item.selected && item.available" class="fa-1x fa fa-check varient-check-range"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div ng-if="attr.inputType == 'Dropdown'">
                                            <select ng-model="attr.selectedValue" ng-change="pm.getAvailableAttributeValues(attr.fieldCode,attr.selectedValue,false)" class="varientDdb">
                                                <option ng-disabled="!item.available" ng-repeat="item in attr.fieldValues" id="{{item.fieldValue}}" ng-class="item.available==true?'':' grayOut'" value={{item.fieldValue}}>{{item.fieldValue}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-xs-12 no-padding" ng-show="pm.model.flags.isFreeDelivery">
                            <label ng-show="pm.model.flags.isFreeDelivery" class="free-label" ng-cloak>
                                <span class="free-icon"><i class="fa fa-truck"></i></span>
                                <span class="free-text"><strong>@LT("ProductDetail.Label.FreeDelivery", "FREE DELIVERY")</strong><br /> @LT("ProductDetail.Label.onitem", "on this item")</span>
                            </label>
                        </div>
                        <div class="col-sm-4 col-xs-12 no-padding" ng-if="pm.model.freeProducts.length > 0">
                            <label ng-if="pm.model.freeProducts.length > 0" class="free-label" ng-cloak>
                                <span class="free-icon"><i class="fa fa-gift"></i></span>
                                <span class="free-text"><strong>@LT("ProductDetail.Label.FreeGift", "Free Gift") </strong><br /> @LT("ProductDetail.Label.withitem", "with this item")</span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            <p class="text-center">
                                <div ng-cloak class="alert alert-info wishdiv" ng-show="pm.wishlistsaved">
                                    <strong>@LT("ProductDetail.Message.AddToWishlist", "Product added to wishlist")!</strong>
                                </div>
                                <div ng-cloak class="alert alert-danger wishdiv" ng-show="pm.wishlistexistserror">
                                    <strong>@LT("ProductDetail.Message.AlreadyAddedToWishlist", "Product already added in wishlist")!</strong>
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            @Html.Action("GetAllFaqs", "Common", @Model)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 no-padding quick-view-social text-left" ng-init="pm.getUrl();">
                            <h4 class="panel-h5">@LT("ProductDetail.Label.ShowFriends", "Show it to your friends or Email")</h4>
                            <div class="sharethis-inline-share-buttons"></div>
                            <p class="col-xs-10 cl-sm-10 text-left no-padding">
                                <a href="https://www.facebook.com/share.php?u={{pm.url}}/@Model.Link-@Model.StockCode" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                <a href="https://pinterest.com/pin/create/button/?url=@Model.Image&media=&description=@Model.Name" class="external gplus" data-animate-hover="pulse"><i class="fa fa-pinterest"></i></a>
                                <a href="https://twitter.com/home?status={{pm.url}}/@Model.Link-@Model.StockCode" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                            </p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 no-padding">
                            @Html.Partial("~/Views/Product/_ProductReviews.cshtml")
                        </div>
                    </div>
                    @{ /* Start product login review*/ }
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 no-padding">
                            @Html.Partial("~/Views/Product/_ProductReviewLogin.cshtml", new ProductReviewLoginModel { })
                        </div>
                    </div>
                </div>
            </div>
            @*Start Bundle Products*@
            <div class="row" ng-if="pm.model.componentProducts.length > 0">
                @Html.Partial("~/Views/Product/_ProductBundle.cshtml")
            </div>
        </div>
        @{ /* Start product review*/ }
        <div class="row">
            <div class="col-sm-12 col-xs-12 whiteContainer">
                @Html.Partial("~/Views/Product/_RelatedProducts.cshtml")
            </div>
        </div>
        @{ /* End product review */ }
        @Html.Partial("~/Views/Product/_ProductDetailSlider.cshtml")
        <div id="QualifyingQuestionnaire" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-modal" id="myModalLabel">Qualifying Questionnaire</h4>
                    </div>
                    <div class="modal-body">
                        @Html.Partial("~/Views/Product/_Questionnaire.cshtml")
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@{ /* End product detail Panel */ }
<!-- Modal -->
<div id="SuccessAlert" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-modal" id="myModalLabel">Review Success</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm1-2 col-xs-12">
                        <h3 class="text-center">@LT("ProductReview.Label.Success", "Thank you for your review.")</h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

@section scripts{
    <script type='text/javascript' async src='//platform-api.sharethis.com/js/sharethis.js#property=593f6e515d6c340012d5de72&product=inline-share-buttons' async='async'></script>
    <script defer>
        var addToWishlistUrl = '@(Html.BuildUrlFromExpression<AccountController>(c => c.AddProductToWishlist(null)))';
        var productUrl = '@(Html.BuildUrlFromExpression<ProductController>(c => c.ProductDetails("")))';
        var signIn = '@(Html.BuildUrlFromExpression<AccountController>(c => c.SignIn(null)))';
        var register = '@(Html.BuildUrlFromExpression<AccountController>(c => c.Registration(null)))';
        var addReview = '@(Html.BuildUrlFromExpression<ProductController>(c => c.AddProductReview("",null)))';
        var getWishlist = '@(Html.BuildUrlFromExpression<AccountController>(c => c.GetWishlist()))';
        var questionnaireCode = '@(Html.BuildUrlFromExpression<ProductController>(c => c.QuestionnaireCode(null)))';
        var reviewConfig = '@(Html.BuildUrlFromExpression<ProductController>(c => c.GetProductReviewConfig()))';
        window.app.constant('productConfig', {
            addToWishlistUrl: addToWishlistUrl,
            productUrl: productUrl,
            signIn : signIn,
            register : register,
            addReview : addReview,
            getWishlist:getWishlist,
            questionnaireCode: questionnaireCode,
            reviewConfig: reviewConfig
        });
        window.app.constant('model', @Html.Json(Model));
    </script>
}