@{
/*
    Name: Filter bar 
    Purpose: Show facet and filter options
    Structure: /Views/Search/_SearchTopBar.cshtml
    Contains (Partial Views Used):

    Contained In (Where we Use this View):
        a-/Views/Search/Search.cshtml
    */
}
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<dynamic>
@*MOBILE VIEW OF TOP BAR*@
<div class="row visible-xs visible-sm" ng-cloak>
    <div class="col-sm-12 col-xs-6">
        <form class="form-inline">
            <div class="form-group no-margin-bottom">
                <label for="Refine By" class="font-sm margin-top-xs">
                    <strong ng-bind="pm.productResponse.total"></strong> @LT("ProductListing.Label.Results", "results found")
                </label>
            </div>
        </form>
    </div>
    <div class="col-sm-6 col-xs-6">
        <form class="form-inline">
            <div class="form-group no-margin-bottom">
                <select name="title" tabindex="1" class="form-aux form-control select-no-border" data-label="Title" ng-model="pm.searchCriteria.sortBy" ng-change="pm.searchCriteria.pageSize=pm.searchCriteria.pageSize;pm.searchProducts(pm.searchCriteria);">
                    <option ng-repeat="item in pm.sortByList" value="{{item.key}}" ng-selected="item.key==pm.searchCriteria.sortBy" ng-bind="item.value"></option>
                </select>
            </div>
        </form>
    </div>
    <div class="col-sm-12 col-xs-6 border-top">
        <a href="#" class="text-sm viewButton" ng-click="pm.viewGridOrList(true);pm.getGrid()" ng-class="{'text-orange':pm.getView==true ?true :false}" title="Grid View"><i class="fa fa-th"></i></a>
        <a href="#" class="text-sm viewButton" ng-click="pm.viewGridOrList(false);pm.getList()" ng-class="{'text-orange':pm.getView==false ?true :false}" title="List View"><i class="fa fa-list"></i></a>
    </div>        
    <div class="col-sm-6 col-xs-6 border-top text-right">
        @*openNav() CALL [_SearchFacetsMobile.cshtml] VIEW*@
        <a class="filter-right-anc" onclick="openNav()"><i class="fa fa-list-ul no-margin-left"></i> Filter</a>
    </div>
</div>

@*DESKTOP VIEW OF TOPBAR*@
<div class="row hidden-xs hidden-sm" ng-cloak>
    <div class="col-sm-9 col-xs-12">
        <form class="form-inline">
            <div class="form-group no-margin-bottom">                
                <label for="Refine By">                    
                    <span class="product-count">
                        <span ng-if="pm.productResponse.total == 0">@LT("ProductListing.Label.Showing", "(Showing") <strong>0</strong></span>
                        <span ng-if="pm.productResponse.total != 0">@LT("ProductListing.Label.Showing", "(Showing") <strong ng-bind="((pm.searchCriteria.currentPage-1) * pm.itemsPerPage) +1"></strong></span>
                        @LT("ProductListing.Label.To", "-")
                        <span ng-hide="pm.productResponse.total<(pm.searchCriteria.currentPage * pm.itemsPerPage)">
                            <strong ng-bind="pm.searchCriteria.currentPage * pm.itemsPerPage"></strong>
                        </span>
                        <span ng-show="pm.productResponse.total<(pm.searchCriteria.currentPage * pm.itemsPerPage)">
                            <strong ng-bind="pm.productResponse.total"></strong>
                        </span>
                        @LT("ProductListing.Label.Of", "products of") <strong ng-bind="pm.productResponse.total"></strong> @LT("ProductListing.Label.Results", "products)")
                    </span>                    
                </label>
            </div>
        </form>
    </div>
    <div class="col-sm-3 col-xs-12">
        <div class="row">
            <div class="col-sm-12 col-xs-12 text-right">
                <a href="#" class="text-sm" ng-click="pm.viewGridOrList(true);pm.getGrid()" ng-class="{'text-orange':pm.getView==true ?true :false}" title="Grid View"><i class="fa fa-th"></i></a>
                <a href="#" class="text-sm" ng-click="pm.viewGridOrList(false);pm.getList()" ng-class="{'text-orange':pm.getView==false ?true :false}" title="List View"><i class="fa fa-list"></i></a>
            </div>
        </div>
    </div>    
</div>
<div class="row hidden-xs hidden-sm" ng-if="pm.sortByList.length>0" ng-cloak>
    <div class="col-sm-12 col-xs-12 text-left border-bottom">
        <strong class="facet-text">@LT("ProductListing.Label.SortBy", "Sort By") </strong>
        <span ng-repeat="item in pm.sortByList track by $index">
            <a class="facet-link" ng-click="pm.searchCriteria.pageSize=pm.searchCriteria.pageSize;pm.searchProducts(pm.searchCriteria);pm.searchCriteria.sortBy=item.key;" ng-class="{'active' : item.key== pm.searchCriteria.sortBy}"><span ng-bind="item.value"></span></a>
        </span>
        @*<form class="form-inline">
                <div class="form-group no-margin-bottom">
                    <label class="font-sm visible-lg visible-md inline-text-lg" for="Refine By">@LT("ProductListing.FacetHeading.SortBy", "Sort by ")</label>
                    <select name="title" tabindex="1" class="form-aux form-control select-no-border" data-label="Title" ng-model="pm.searchCriteria.sortBy" ng-change="pm.searchCriteria.pageSize=pm.searchCriteria.pageSize;pm.searchProducts(pm.searchCriteria);">
                        <option ng-repeat="item in pm.sortByList" value="{{item.key}}" ng-selected="item.key==pm.searchCriteria.sortBy" ng-bind="item.value"></option>
                    </select>
                </div>
            </form>*@
    </div>
</div>