@{
/*
    Name: Address Book
    Purpose: Show All the address list of Logged In User with provision to add or update existing address
    Structure: /Views/Account/AddressBook.cshtml
    Contains (Partial Views Used):
        a-/Views/Shared/_Layout.cshtml.cshtml   (For base Structure)
        b-/Views/Account/_MobileSideNav.cshtml  (Navigatiopn For Mobile)
        c-/Views/Account/_SideNav.cshtml        (Navigation For Desktop and Big Screen)
        d-/Views/Account/_UserAddress.cshtml    (Add New Address Form)
        e-/Views/Account/_AddressModal.cshtml   (Update Default Address)

    Contained In (Where we Use this View):
     a-/Views/Account/_MobileSideNav.cshtml  (Navigatiopn Link Mobile)
     b-/Views/Account/_SideNav.cshtml        (Navigation Link Desktop and Big Screen)
    */
}
@using Microsoft.Web.Mvc
@using Omnicx.WebStore.Models.Enums
@using Omnicx.WebStore.Core.Controllers

@using Omnicx.WebStore.Framework.Helpers
@using Omnicx.WebStore.Models.Helpers
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<Omnicx.WebStore.Models.Commerce.AddressModel>
@{
    ViewBag.Title = "AddressBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var customerAddressForm = Html.Angular().ModelFor("am.model");
    var userRole = SessionContext.CurrentUserRole;

}
<section class="container dataContainer m--top-60" ng-controller="accountCtrl as am">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                    <a href="/">@LT("MyAccount.Links.Home", "Home")</a>
                </li>
                <li>@LT("MyAccount.Text.MyAddressBook", "My Address Book")</li>
            </ul>
        </div>
    </div>
    @{ /* Alert information message */ }
    <div class="row">
        <div class="col-sm-12 no-padding">
            <p class="text-center">
                <div ng-cloak class="alert alert-info addressdiv" ng-show=" am.addressDiv">
                    <strong>@LT("Account.Message.DefaultAddress", "Default Address Updated Sucessfully")!</strong>
                </div>
            </p>
        </div>
    </div>
    @{ /*End Alert information message */ }
    
    <div class="row">
        <div class="col-xs-12 visible-xs" id="exTab1">
            @Html.Partial("~/Views/Account/_MobileSideNav.cshtml")
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 hidden-xs">
            @Html.Partial("~/Views/Account/_SideNav.cshtml")
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12" ng-init="am.custAddressGrid()">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h3 class="panel-h2">@LT("MyAccount.Text.Name", "My Address Book")</h3>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 no-padding" ng-show="am.showGrid">
                @if (userRole == (CompanyUserRole.None) || userRole == (CompanyUserRole.Admin))
                {
                    <div class="col-sm-12 no-padding text-right">
                        <button type="button" class="animate btn-default" data-toggle="modal" data-target="#userAddressModal"> Change Default Address</button>
                        <input type="button" value="Add new address" ng-click="am.addNewAddress()" class="animate btn-success">
                    </div>
                }
                <div class="col-sm-12 col-xs-12 no-padding" ng-show="am.model[0].id!=null">
                    <div ng-show="addressTable" class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>PostCode</th>
                                    <th>Country</th>
                                    <th>PhoneNo</th>
                                    <th>Default</th>
                                    @if (userRole == (CompanyUserRole.None) || userRole == (CompanyUserRole.Admin))
                                    {
                                        <th colspan="2">Action</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="add in am.model">
                                    <td ng-bind="(add.firstName) + '&nbsp;' + (add.lastName)"></td>
                                    <td ng-bind="add.address1"></td>
                                    <td ng-bind="add.city"></td>
                                    <td ng-bind="add.postCode"></td>
                                    <td ng-bind="add.country"></td>
                                    <td ng-bind="add.phoneNo"></td>
                                    <td ng-show="add.isDefault"><i class="fa fa-check color-green"></i></td>
                                    <td ng-show="!add.isDefault"><i class="fa fa-times color-black"></i></td>
                                    @if (userRole == (CompanyUserRole.None) || userRole == (CompanyUserRole.Admin))
                                    {
                                        <td><a href="#" ng-click="am.editAddress(add)"><i class="fa fa-edit color-black"></i></a></td>
                                        <td><a href="#" class="remove" ng-click="am.deleteAddress(add)"><i class="fa fa-trash-o"></i></a></td>
                                    }
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <div ng-hide="am.model[0].id!=null" class="text-center">
                    <p class="lead">@LT("MyAccount.Text.EmptyAddressBook", "No address saved in address book")</p>
                </div>
            </div>
            <div ng-show="am.showAddressGrid">
                @Html.Partial("~/Views/Account/_UserAddress.cshtml", new Omnicx.WebStore.Models.Commerce.AddressModel())
            </div>
            @Html.Partial("~/Views/Account/_AddressModal.cshtml")
            <!-- /.col-md-9 -->
            <!-- *** LEFT COLUMN END *** -->
            <!-- *** RIGHT COLUMN ***
                  _______________________________________________________ -->
        </div>        
    </div>

</section>

@section Scripts{
    <script>
        var custGridUrl = '@(Html.BuildUrlFromExpression<AccountController>(c => c.GetCustomerAddress()))';
        var getBillingCountriesUrl = '@(Html.BuildUrlFromExpression<AccountController>(c => c.GetBillingCountries()))';
        var addByIdUrl = '@(Html.BuildUrlFromExpression<AccountController>(c => c.GetAddressById(null)))';
        var saveCustAddrUrl = '@(Html.BuildUrlFromExpression<AccountController>(c => c.SaveCustomerAddress(null)))';
        var deleteAddressUrl = '@(Html.BuildUrlFromExpression<AccountController>(c => c.DeleteAddress(null)))';
        var changeDefaultAddressUrl = '@(Html.BuildUrlFromExpression<AccountController>(c => c.changeDefaultAddress(null)))';
        window.app.constant('accountConfig', {
            custGridUrl: custGridUrl,
            addByIdUrl : addByIdUrl,
            saveCustAddrUrl : saveCustAddrUrl,
            deleteAddressUrl:deleteAddressUrl,
            getBillingCountriesUrl:getBillingCountriesUrl,
            changeDefaultAddressUrl:changeDefaultAddressUrl
        });
        window.app.constant('model', @Html.JsonFor(Model));
    </script>
}
