@{
/*
    Name: My Activity
    Purpose: Show All the activitis of logged in user 
    Structure: /Views/Account/MyActivity.cshtml
    Contains (Partial Views Used):
        a-/Views/Shared/_Layout.cshtml.cshtml   (For base Structure)
        b-/Views/Account/_MobileSideNav.cshtml  (Navigatiopn For Mobile)
        c-/Views/Account/_SideNav.cshtml        (Navigation For Desktop and Big Screen)

    Contained In (Where we Use this View):
     a-/Views/Account/_MobileSideNav.cshtml  (Navigatiopn Link Mobile)
     b-/Views/Account/_SideNav.cshtml        (Navigation Link Desktop and Big Screen)
    */
}
@using Microsoft.Web.Mvc
@using Omnicx.WebStore.Core.Controllers
@using Omnicx.WebStore.Models
@using Omnicx.WebStore.Core.Controllers
@using Omnicx.WebStore.Framework.Helpers
@using Omnicx.WebStore.Models.Enums
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<List<Omnicx.WebStore.Models.Commerce.Activity>>

@{
    var customerAccountForm = Html.Angular().ModelFor("am.model");
    ViewBag.Title = "MyActivity";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<section class="container dataContainer" ng-controller="accountCtrl as am" ng-init="search.currentPage =1; am.getMyActivity(search)">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                    <a href="/">@LT("MyAccount.Links.Home", "Home")</a>
                </li>
                <li>@LT("MyAccount.Text.Name", "My Activity")</li>
            </ul>
        </div>
    </div>
    
    <div class="row">
        @*My Activity Left Menu Panel*@
        <div class="col-xs-12 visible-xs" id="exTab1">
            @Html.Partial("~/Views/Account/_MobileSideNav.cshtml")
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 hidden-xs">            
            @Html.Partial("~/Views/Account/_SideNav.cshtml")
        </div>
        @*My Activity Content Panel*@
        <div class="col-md-9 col-sm-8 col-xs-12">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h3 class="panel-h2">@LT("MyAccount.Text.Name", "My Activity")</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h4>
                        @LT("MyAccount.Text.Total", "Total") <span ng-bind="am.activityList.totalRecord"></span> @LT("MyAccount.Text.Activities", "Activities")
                        <a>
                            <i class="fa fa-trash-o" ng-click="am.deleteMyActivity()"></i>
                        </a>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="panel panel-default sidebar-menu" ng-repeat="item in am.activityList.sessions | orderBy : '-firstActivityCreated' ">
                        <div class="activity-panel panel-heading-top col-sm-12 no-padding">
                            <div class="col-sm-12 no-padding">
                                <h4 class="panel-title panel-h4 collapsed" data-toggle="collapse" data-target="#{{item.$$hashKey.split(':')[1]}}">
                                    <a href="" ng-click="i=!i">
                                        <i class="fa fa-caret-right" ng-show="i"></i><i class="fa fa-caret-down" ng-show="!i"></i> <span ng-bind="item.firstActivityCreated | date:yyyy-dd-mm"></span> (<span>@LT("MyAccount.Text.Total", "Total") </span> <strong ng-bind="item.activityCount"></strong> <span>@LT("MyAccount.Text.Total", "Activity")</span>)
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <div class="panel-body panel-padding-top no-padding collapse" id="{{item.$$hashKey.split(':')[1]}}">
                            <div class="col-sm-12 col-xs-12 no-padding">
                                <div class="activity-container">
                                    <div class="activity-data">
                                        <div ng-repeat="item1 in item.activities | orderBy: '-created'" class="col-sm-12 col-xs-12 no-padding activity timeline-bottom-margin-{{item1.entityType}}">
                                            <span class="label-{{item1.entityType}}" ng-bind="item1.entityType"></span>
                                            <span ng-bind="item1.title"></span>
                                            <span class="text-right pull-right activityTime"><i class="fa fa-clock-o"></i> {{item1.created | ocxTime}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                @*<div class="col-sm-12 col-xs-12 margin-top-lg no-padding text-right">
                <div paging
                     page="page"
                     page-size="am.activityList.pageSize"
                     total="am.activityList.totalRecord"
                     disabled="false"
                     adjacent="1"
                     class="small row text-right"
                     text-next="&gt;"
                     text-prev="&lt;"
                     show-prev-next="true"
                     show-first-last="false"
                     paging-action="search.currentPage=page;am.getMyActivity(search);">
                </div>
            </div>*@
            </div>
        </div>
    </div>

</section>


@section Scripts{
<script>
        var saveCustomerUrl = '@(Html.BuildUrlFromExpression<AccountController>(c => c.SaveCustomerDetail(null)))';
        var custGridUrl = '@(Html.BuildUrlFromExpression<AccountController>(c => c.GetCustomerAddress()))';
        var saveCustAddrUrl = '@(Html.BuildUrlFromExpression<AccountController>(c => c.SaveCustomerAddress(null)))';
        var getMyActivity = '@(Html.BuildUrlFromExpression<AccountController>(c => c.GetMyActivity(null)))';
        var deleteMyActivity = '@(Html.BuildUrlFromExpression<AccountController>(c => c.DeleteMyActivity()))';

        window.app.constant('accountConfig', {
            saveCustAddrUrl: saveCustAddrUrl,
            custGridUrl: custGridUrl,
            saveCustomerUrl : saveCustomerUrl,
            getMyActivity: getMyActivity,
            deleteMyActivity: deleteMyActivity
        });
        window.app.constant('model', @Html.JsonFor(Model));
</script>
}
