@{
    /*
        Name: Order List
        Purpose: Show All Orders listing
        Structure: /Views/Account/OrderHistory.cshtml
        Contains (Partial Views Used):
            a-/Views/Shared/_Layout.cshtml.cshtml   (For base Structure)
            b-/Views/Account/_MobileSideNav.cshtml  (Navigatiopn For Mobile)
            c-/Views/Account/_SideNav.cshtml        (Navigation For Desktop and Big Screen)

        Contained In (Where we Use this View):
         a-/Views/Account/_MobileSideNav.cshtml  (Navigatiopn Link Mobile)
         b-/Views/Account/_SideNav.cshtml        (Navigation Link Desktop and Big Screen)
        */
}
@using Microsoft.Web.Mvc
@using Omnicx.WebStore.Models.Enums
@using Omnicx.WebStore.Core.Controllers
@using Omnicx.WebStore.Models
@using Omnicx.WebStore.Core.Controllers
@using Omnicx.WebStore.Core.Helpers
@using Omnicx.WebStore.Models.Helpers
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<Omnicx.WebStore.Models.Commerce.OrderModel>
@{
    ViewBag.Title = "MySubscriptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userRole = SessionContext.CurrentUserRole;

}
<div class="container dataContainer m--top-60">

    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                    <a href="/">@LT("MyAccount.Links.Home", "Home")</a>
                </li>
                <li>@LT("MyAccount.Links.MySubscriptions", "My Subscriptions")</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 visible-xs" id="exTab1">
            @Html.Partial("~/Views/Account/_MobileSideNav.cshtml")
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 hidden-xs">
            @Html.Partial("~/Views/Account/_SideNav.cshtml")
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12" id="customer-orders" ng-controller="accountCtrl as am" ng-init="am.getSubscriptionHistory()">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h3 class="panel-h2">@LT("MyAccount.Text.UpdateDetails", "My Subscriptions")</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 no-padding">
                    <p class="text-center">
                        <div ng-cloak class="alert alert-danger orderError" ng-show="am.orderError">
                            <strong>@LT("YourBag.Message.basketMessage", "There is an error adding some stock(s) - ")<span ng-bind="am.orderError"></span></strong>
                        </div>
                        <div ng-cloak class="alert alert-danger orderUnavailable" ng-show="am.orderUnavailable">
                            <strong>@LT("YourBag.Message.stockUnavailable", "Stock Code(s) not available.")</strong>
                        </div>
                        <div ng-cloak class="alert alert-success orderSuccess" ng-show="am.orderSuccess">
                            <strong>@LT("YourBag.Message.OrderSuccess", "Item(s) added successfully")</strong>
                        </div>
                    </p>
                </div>
            </div>
            <div class="box no-padding col-sm-12 col-xs-12 no-border-bottom">
                <div class="table-responsive max-history" ng-show="am.subscriptionList.length!=0">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>@LT("MyAccount.Text.Name", "Plan Name")</th>
                                <th>@LT("MyAccount.Text.Terms", "Term")</th>
                                <th class="text-right">@LT("MyAccount.Text.Frequency", "Interval")</th>
                                <th class="text-right">@LT("MyAccount.Text.PaymenyType", "Paymeny Type")</th>
                                <th class="text-right">@LT("MyAccount.Text.Statue", "Status")</th>
                                <th class="text-right">@LT("MyAccount.Text.Action", "Action")</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sub in am.subscriptionList">
                                <td ng-bind="sub.subscriptionPlanName"></td>
                                <td>{{sub.userTerm.duration + ' '+ sub.userTerm.intervalType}}</td>
                                <td align="right">{{sub.interval.duration + ' '+ sub.interval.intervalType}}</td>
                                <td align="right" ng-bind="sub.userPricingPreference"></td>
                                <td align="right">
                                    <label class="label label-{{sub.status}}" ng-bind="sub.status"></label>
                                </td>
                                <td align="right"><a href="~/account/subscriptiondetail/{{sub.id}}" title="View-Subscription"><i class="fa fa-eye color-black"></i></a></td>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
                <div class="text-center" ng-show="am.subscriptionList.length==0">
                    <div class="col-xs-12 nodata-customer">
                        <i class="fa fa-shopping-cart"></i>
                        <h1>@LT("MyAccount.Text.NoSubscriptionsHistoryAvailable", "No Subscriptions History Available")</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- *** RIGHT COLUMN END *** -->
@section Scripts{
    <script>

        var getSubscriptionHistoryUrl = '@(Html.BuildUrlFromExpression<AccountController>(c => c.GetSubscriptions()))';
        window.app.constant('accountConfig', {
            getSubscriptionHistoryUrl: getSubscriptionHistoryUrl,
        });
         window.app.constant('model', @Html.Json(Model));
    </script>
}