@{
/*
    Name: Json Home Page Customize UI
    Purpose: WebStore Home page contain customize design with HTML Layout and json call
    Structure: /Views/Page/Layout1/_IndexJson.cshtml
    Contains (Partial Views Used): NO Partial View Used
    Contained In (Where we Use this View): 
        a-/Views/Page/Layout1/Index.cshtml
    */
}
@using Omnicx.API.SDK.Entities
@using Omnicx.API.SDK.Models.Helpers
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<Omnicx.API.SDK.Models.Site.SiteViewModel>
@*Start Home Slider Banner*@
<div class="container no-padding">
    @{

        if (Model.Components != null)
        {
            //Increment Carousal Dynamic ID
            var ProductSno = 1;
            foreach (var component in Model.Components)
            {

                <div class="col-sm-12 col-md-12 no-padding">
                    @if (component.ComponentType == SiteViewComponentTypes.Slider && component != null && component.Images != null)
                    {
                        { /* Start carousel slider */ }
                        <div id="carousel-example" class="carousel slide omnicomponent component-slider" data-ride="carousel">
                            <ol class="carousel-indicators">
                                @foreach (var img in component.Images.Select((index) => new { index }))
                                {
                                    <li data-target="#carousel-example" data-slide-to="@img.index" ng-class="{active : @img.index==0}"></li>
                                }
                            </ol>
                            <div class="carousel-inner">
                                @foreach (var img in component.Images.Select((obj, index) => new { index, obj }))
                                {
                                    <div class="item" ng-class="{active : @img.index==0}">
                                        <img ng-src="@img.obj.Url" class="img-responsive image1" onerror="this.src = '/assets/images/carousal-banner-women.jpg'">
                                    </div>
                                }
                            </div><a class="left carousel-control" href="#carousel-example" data-slide="prev">
                                <span class="fa fa-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example" data-slide="next">
                                <span class="fa fa-chevron-right"></span>
                            </a>
                        </div>
                        continue;

                        { /* End carousel slider */
                        }
                    }
                </div>

                {/*Block for showing static Html headers*/ }
                if (component.ComponentType == SiteViewComponentTypes.PageHeader || component.ComponentType == SiteViewComponentTypes.BlogHeader && component != null && component.Content != null)
                {
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 home-heading">
                                <h3 class="home-h3">@Html.Raw(component.Content)</h3>
                                <h3 class="home-h3 background"><span>***</span></h3>
                            </div>
                        </div>
                    </div>
                    continue;
                }
                //For Image
                if (component.ComponentType == SiteViewComponentTypes.Image && component != null && component.Image != null)
                {
                    <section class="inspired" id="about">
                        <div class="row">
                            <div class="container">
                                <img src="@component.Image.Url" />
                            </div>
                        </div>
                    </section>
                    continue;
                }
                //For Paragraph
                if (component.ComponentType == SiteViewComponentTypes.Paragraph && component != null && component.Content != null)
                {
                    <section class="inspired" id="about">
                        <div class="row">
                            <div class="container">
                                <div class="col-sm-12 col-xs-12 no-padding">
                                    <h3 class="velaTitle velaHomeTitle text-center clearfix">
                                        <span class="subtitle" style="margin-bottom:30px!important;">@Html.Raw(component.Content)</span>
                                        <a><i class="fa fa-chevron-circle-right fa-2x"></i><br /><span class="text-black">@LT("ProductDetail.Label.View", "Read more")</span></a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </section>
                    continue;
                }
                //For StaticHtml
                if (component.ComponentType == SiteViewComponentTypes.StaticHtml && component != null && component.Content != null)
                {
                    <section class="inspired" id="about">
                        <div class="row">
                            <div class="container">
                                <div class="col-sm-12 col-xs-12 no-padding">
                                    @Html.Raw(component.Content)
                                </div>
                            </div>
                        </div>
                    </section>
                    continue;
                }
                //For JSSnippts
                if (component.ComponentType == SiteViewComponentTypes.JsSnippet && component != null && component.Content != null)
                {
                    @Html.Raw(component.Content)
                    continue;
                }
                {/*Block for showing Video attachments*/
                }
                if (component.ComponentType == SiteViewComponentTypes.VideoGallery && component != null && component.Content != null)
                {
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <iframe ng-src="@component.Content" frameborder="0" allow="autoplay; encrypted-media" width="100%" height="350" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    continue;
                }

                @*Start Product List*@
                <div class="container">
                    @if (component != null && component.ComponentType == SiteViewComponentTypes.ProductList && component.Products != null)
                    {
                        <div class="col-sm-12 col-md-12 no-padding">
                            @if (component.Products.Count > 0)
                            {
                                <div id="Productcarousel{{@ProductSno}}" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="8000">

                                    <div class="carousel-inner">
                                        @foreach (var product in component.Products.ToList().Select((obj, index) => new { index, obj }))
                                        {
                                            <div class="item" ng-class="{active : @product.index==0}">
                                                <div class="carousel-col">
                                                    <div class="product-box-sm">
                                                        <div class="image-container gray">
                                                            <a ng-href="/@product.obj.Slug">
                                                                <img ng-src="@product.obj.Image" alt="OCX Store" onerror="this.src = '/assets/theme/ocx/images/noimagefound.jpg'" />
                                                            </a>
                                                        </div>
                                                        <div class="data-container">
                                                            <h3>@product.obj.Name</h3>
                                                            <div class="price-box">
                                                                <p class="product-price hidden-xs">
                                                                    <span>@product.obj.Price.Formatted.WithTax</span>
                                                                    @*<span class="sml">
                                                                            <strong>@LT("ProductDetail.Label.RRP", "RRP")</strong>
                                                                            <span>@product.obj.Price.Formatted.WithTax</span>
                                                                        </span>*@
                                                                </p>
                                                            </div>
                                                            <a class="animate btn-default" href="#" ng-click="gm.addToBasket('@product.obj.RecordId',1,0)"><span>@LT("ProductDetail.Label.Buy Now", "Buy Now")</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <a class="left carousel-control" href="#Productcarousel{{@ProductSno}}" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                                    <a class="right carousel-control" href="#Productcarousel{{@ProductSno}}" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                                </div>
                            }
                        </div>
                    }
                    <div class="col-sm-12 col-md-12 no-padding">
                        @if (component.ComponentType == SiteViewComponentTypes.CategoryList && component != null && component.Categories != null)
                        {
                            <div class="row">
                                @foreach (var category in component.Categories)
                                {
                                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 ">
                                        <div class="category-container">
                                            <a ng-href="@category.Link">
                                                <div class="product-image-240">
                                                    <img ng-src="https://devocxblob.blob.core.windows.net/ocx-ib/@category.Image" component-type="@component.ComponentType" class="img-responsive image1" onerror="this.src = '/assets/theme/ocx/images/noimagefound.jpg'">
                                                </div>
                                                <div class="omnicomponent component-static-html product-detail">
                                                    <h4>@category.Name</h4>
                                                    <p>@category.Description</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                            continue;
                        }
                    </div>

                    <div class="col-sm-12 col-md-12 no-padding">
                        @if (component.ComponentType == SiteViewComponentTypes.BrandList && component != null && component.Brands != null && component.Brands != null)
                        {
                            <div class="row">
                                @foreach (var brands in component.Brands)
                                {
                                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 ">
                                        <div class="brand-container">
                                            <a ng-href="@brands.Link">
                                                <div class="product-image-240">
                                                    <img ng-src="@brands.LogoImageName!=null?@brands.LogoImageName:demo" component-type="@component.ComponentType" class="img-responsive image1" onerror="this.src = '/assets/theme/ocx/images/noimagefound.jpg'">
                                                </div>
                                                <div class="omnicomponent component-static-html product-detail">
                                                    <h4>@brands.ManufacturerName</h4>
                                                    <p>@brands.Description</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                            continue;
                        }
                    </div>

                    <div class="col-sm-12 col-md-12 no-padding">
                        @if (component != null && component.ComponentType == SiteViewComponentTypes.BlogList && component.Blogs != null)
                        {
                            foreach (var blog in component.Blogs.ToList().Select((obj, index) => new { index, obj }))
                            {
                                <div class="col-sm-4 col-xs-12">
                                    <div class="home-categories">
                                        <div class="image-container gray">
                                            <img ng-src="@blog.obj.BlogImage" alt="@blog.obj.Author" class="img-responsive width-full" onerror="this.src = '/assets/theme/ocx/images/noimagefound.jpg'" />
                                        </div>
                                        <div class="sale-container">
                                            <h4 class="text-left">@blog.obj.Title</h4>
                                            <h2 class="text-left"><strong>@LT("YourBag.Text.Author", "Author:") </strong>@blog.obj.Author</h2>
                                            <h4 class="text-left"><strong>@LT("YourBag.Text.Category", "Category:") </strong>@blog.obj.Category</h4>
                                            <p><strong>@LT("YourBag.Text.Post Date", "Post Date:") </strong>@blog.obj.Created</p>
                                            <p><a href="@blog.obj.CategorySlug" class="animate btn-default"><span>Read More</span></a></p>
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                    </div>
                </div>

                //Increment Carousal Dynamic ID
                ProductSno += 1;
            }
        }

    }
</div>
