@{
/*
    Name: Choose Default Address
    Purpose: Show all adress and user can choose any address as default in Modal 
    Structure: /Views/Account/Layout1/_AddressModal.cshtml
    Contains (Partial Views Used):

    Contained In (Where we Use this View):
     a-/Views/Account/Layout1/AddressBook.cshtml
    */
}
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<dynamic>
<div class="modal fade in" id="userAddressModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@LT("Checkout.Button.Close", "Close")</span></button>
                <h4 class="modal-title" >@LT("Checkout.Label.SelectDeliveryAddress", "Change your Default Address")</h4>
            </div>
            <div class="modal-body">
                <div class="row max-80">
                    <div class="col-sm-12 col-xs-12 table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>@LT("Checkout.Text.Name", "Name")</th>
                                    <th>@LT("Checkout.Text.Address", "Address")</th>
                                    <th>@LT("Checkout.Text.City", "City")</th>
                                    <th>@LT("Checkout.Text.PostCode", "PostCode")</th>
                                    <th>@LT("Checkout.Text.Country", "Country")</th>
                                    <th>@LT("Checkout.Text.PhoneNo", "PhoneNo")</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="add in am.model">
                                    <td>
                                        <label class="control control--radio margin-bottom-lg" ng-click="am.defaultAddress=add">
                                            <input id="address" name="address" type="radio"
                                                   class="ng-pristine ng-valid" ng-model="add.isDefault" ng-checked="{{add.isDefault}}">
                                            <div class="control__indicator"></div>
                                        </label>
                                    </td>
                                    <td><span ng-bind="add.firstName"></span>&nbsp;<span ng-bind="add.lastName"></span></td>
                                    <td><span ng-bind="add.address1"></span></td>
                                    <td><span ng-bind="add.city"></span></td>
                                    <td><span ng-bind="add.postCode"></span></td>
                                    <td><span ng-bind="add.country"></span></td>
                                    <td><span ng-bind="add.phoneNo"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-lg-12 text-right">
                        <button data-dismiss="modal" class="animate btn-primary" ng-click="am.changeDefaultAddress(am.defaultAddress)">Submit<i class="arrow-black-sm sprite"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>