@{
/*
    Name: Add New Address Form
    Purpose: Show Form to add new Address
    Structure: /Views/Account/Layout1/_UserAddress.cshtml
    Contains (Partial Views Used):
        a-/Views/Shared/Layout1/_AccountAlert.cshtml.cshtml   (For base Structure)

    Contained In (Where we Use this View):
     a-/Views/Account/Layout1/AddressBook.cshtml
    */
}
@model Omnicx.API.SDK.Models.Commerce.AddressModel
@using Omnicx.WebStore.Framework.Helpers
@{
    var addressForm = Html.Angular().ModelFor("am.model.customerAddress");
}

<form novalidate name="myForm" ng-init="am.model.customerAddress.countryCode == null?am.model.customerAddress.countryCode='GB':am.model.customerAddress.countryCode">
    <div class="tab-content">
        <div class="column width-6">
            <div>
                @Html.Partial("~/Views/Account/Layout1/_AccountAlert.cshtml")
            </div>
        </div>
        <div class="col-sm-2">
            <div class="field-wrapper no-label margin-bottom-sm">
                <div class="form-group" ng-class="vm.getValidationClass()" form-group-validation="Title">
                    <label for="Title" class="control-label ng-scope">Title</label>
                    <select name="Title" tabindex="1" class="form-control" data-label="Title" ng-model="am.model.customerAddress.title" @*required*@>
                        <option ng-selected="am.model.customerAddress.title == null" value="">Title</option>
                        <option value="Miss">Miss</option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="field-wrapper no-label margin-bottom-sm">
                @addressForm.FormGroupFor(x => x.FirstName)
            </div>
        </div>
        <div class="col-sm-5">
            <div class="field-wrapper no-label margin-bottom-sm">
                @addressForm.FormGroupFor(x => x.LastName)
            </div>
        </div>
        <div class="col-sm-12">
            <div class="field-wrapper no-label margin-bottom-sm">
                @addressForm.FormGroupFor(x => x.Address1)
            </div>
        </div>
        <div class="col-sm-12">
            <div class="field-wrapper no-label margin-bottom-sm">
                @addressForm.FormGroupFor(x => x.Address2)
            </div>
        </div>
        <div class="col-sm-6">
            <div class="field-wrapper no-label margin-bottom-sm">
                @addressForm.FormGroupFor(x => x.City)
            </div>
        </div>
        <div class="col-sm-6">
            <div class="field-wrapper no-label margin-bottom-sm">
                @addressForm.FormGroupFor(x => x.State)
            </div>
        </div>

        <div class="col-sm-6">
            <div class="field-wrapper no-label margin-bottom-sm">
                @addressForm.FormGroupFor(x => x.PostCode)
            </div>
        </div>

        <div class="col-sm-6">
            <div class="field-wrapper no-label margin-bottom-sm">
                <label class="col-sm-12 col-xs-12 no-padding">Country</label>
                <select name="Country" tabindex="1" class="form-control" data-label="Country" ng-model="am.model.customerAddress.countryCode">
                    <option value="">Select Country</option>
                    <option ng-repeat="countries in am.model.customerAddress.billingCountries" value="{{countries.twoLetterIsoCode}}" ng-bind="countries.name"></option>
                </select>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="field-wrapper no-label margin-bottom-sm">
                @addressForm.FormGroupFor(x => x.PhoneNo)
            </div>
        </div>
        <div class="col-sm-12 padding-bottom-lg">
                <input type="button" class="animate btn-primary" tabindex="1" ng-click="am.saveCustomerAddress(am.model.customerAddress)" value="Save Changes">           
                <input type="button" class="animate btn-bordered" tabindex="1" value="Cancel" ng-click="am.resetform();">
        </div>
    </div>
</form>


