@{
/*
    Name: Forgot Password
    Purpose: Reset Password
    Structure: /Views/Account/Layout1/ForgotPassword.cshtml
    Contains (Partial Views Used):
        a-/Views/Shared/Layout1/_Layout.cshtml.cshtml    (For base Structure)

    Contained In (Where we Use this View):
        a-/Views/Account/Layout1/SignIn.cshtml 
    */
}
@using Omnicx.WebStore.Framework.Helpers
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<Omnicx.API.SDK.Models.Commerce.ForgotPasswordModel>
@{
    var userForm = Html.Angular().ModelFor("gm.model.forgotPassword");
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/Layout1/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <ul class="breadcrumb">

            <li>
                <a href="/">@LT("MyAccount.Links.Home", "Home")</a>
            </li>
            <li>@LT("MyAccount.Text.ForgotPassword", "Forgot Password")</li>
        </ul>
    </div>

</div>
<div class="col-sm-4">
    </div>
    <div class="col-sm-6">
        <form role="form" ng-init="gm.returnUrl='/account/signin'"  ng-submit="gm.forgotPassword(gm.model.forgotPassword)" method="post" novalidate>
            <div ng-cloak class="alert alert-danger" ng-show="gm.errorMessage != null">
                <div ng-repeat="err in gm.errorMessage track by $index">
                    <i class="fa fa-circle"></i>&nbsp;<span ng-bind="err"></span>
                </div>
            </div>
            <div ng-cloak class="alert alert-danger" ng-show="gm.isValiduser">
                <div>
                    <i class="fa fa-circle"></i>&nbsp;<span>@LT("Login.Message.InvalidUser", "Invalid User!")</span>
                </div>
            </div>
            <div ng-cloak class="alert alert-success" ng-show="gm.isValid">
                <div>
                    <i class="fa fa-circle"></i>&nbsp;<span>@LT("Login.Message.ResetPassword", "Link to reset your password sent")</span>
                </div>
            </div>
            <h2 class="checkout-h2 hidden-xs">@LT("MyAccount.Text.ForgotPassword", "Forgot Password")</h2>
            <div class="col-sm-12 col-xs-12 no-padding form-group checkoutForm">
                @userForm.FormGroupFor(x => x.Username)
            </div>
            <div class="col-sm-6 col-xs-6 no-padding">
                <button type="submit" class="animate btn-primary">@LT("MyAccount.Text.GetLink", "Get a link") <i class="fa fa-caret-right"></i></button>
            </div>
        </form>
    </div>



    @section Scripts{
        <script>
            window.app.constant('accountConfig', {
            });
            window.app.constant('model', @Html.JsonFor(Model));
        </script>
    }
