@{
/*
    Name: Order List
    Purpose: Show All Orders listing
    Structure: /Views/Account/Layout1/OrderHistory.cshtml
    Contains (Partial Views Used):
        a-/Views/Shared/Layout1/_Layout.cshtml.cshtml   (For base Structure)
        b-/Views/Account/Layout1/_MobileSideNav.cshtml  (Navigatiopn For Mobile)
        c-/Views/Account/Layout1/_SideNav.cshtml        (Navigation For Desktop and Big Screen)

    Contained In (Where we Use this View):
     a-/Views/Account/Layout1/_MobileSideNav.cshtml  (Navigatiopn Link Mobile)
     b-/Views/Account/Layout1/_SideNav.cshtml        (Navigation Link Desktop and Big Screen)
    */
}
@using Microsoft.Web.Mvc
@using Omnicx.API.SDK.Entities
@using Omnicx.WebStore.Core.Controllers
@using Omnicx.API.SDK.Models
@using Omnicx.WebStore.Core.Controllers
@using Omnicx.WebStore.Core.Helpers
@using Omnicx.API.SDK.Models.Helpers
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<Omnicx.API.SDK.Models.Commerce.OrderModel>
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/Layout1/_Layout.cshtml";
    var userRole = SessionContext.CurrentUserRole;

}

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li>
                <a href="/">@LT("MyAccount.Links.Home", "Home")</a>
            </li>
            <li>@LT("MyAccount.Links.MyOrders", "My orders")</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-xs-12">
        <h3 class="panel-h2 hidden-xs">@LT("MyAccount.Text.UpdateDetails", "My Orders")</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 margin-bottom-lg visible-xs" id="exTab1">
        
        @Html.Partial("~/Views/Account/Layout1/_MobileSideNav.cshtml")
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 hidden-xs">
        @Html.Partial("~/Views/Account/Layout1/_SideNav.cshtml")
    </div>

    <div class="col-md-9 col-sm-8 col-xs-12" id="customer-orders" ng-controller="accountCtrl as am" ng-init="am.getOrderHistory()">    
        <div class="row">
            <div class="col-sm-12 no-padding">
                <p class="text-center">
                    <div ng-cloak class="alert alert-danger orderError" ng-show="am.orderError">
                        <strong>@LT("YourBag.Message.basketMessage", "There is an error adding some stock(s) - ")<span ng-bind="am.orderError"></span></strong>
                    </div>
                    <div ng-cloak class="alert alert-danger orderUnavailable" ng-show="am.orderUnavailable">
                        <strong>@LT("YourBag.Message.stockUnavailable", "Stock Code(s) not available.")</strong>
                    </div>
                    <div ng-cloak class="alert alert-success orderSuccess" ng-show="am.orderSuccess">
                        <strong>@LT("YourBag.Message.OrderSuccess", "Item(s) added successfully")</strong>
                    </div>
                </p>
            </div>
        </div>    
        <div class="box no-padding col-sm-12 col-xs-12 no-border-bottom">
            <div class="table-responsive max-history" ng-show="am.ordersList.length!=0">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>@LT("MyAccount.Text.OrderNumber", "Order #")</th>                            
                            <th>@LT("MyAccount.Text.Status", "Status")</th>
                            <th>@LT("MyAccount.Text.OrderDate", "Order Date")</th>
                            <th class="text-right">@LT("MyAccount.Text.Amount", "Order Total")</th>                                                        
                            <th class="text-right">@LT("MyAccount.Text.Status", "Action")</th>
                            <th class="text-right">@LT("MyAccount.Text.ReOrder", "Reorder")</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="orders in am.ordersList">
                            <th><span ng-bind="orders.orderNo"></span></th>                            
                            <td><span class="label label-{{orders.orderStatus}}" ng-bind="orders.orderStatus"></span></td>
                            <td><span ng-bind="orders.orderDate | ocxDateTime"></span></td>
                            <td align="right"><span ng-bind="orders.grandTotal.formatted.withTax"></span></td>                                                     
                            <td align="right"><a href="~/Account/OrderDetail/{{orders.id}}" title="View Order" ><i class="fa fa-eye color-black"></i></a></td>
                            <td align="right"><a ng-click="am.reOrder(orders.id)" href="" title="Re-Order" class="animate-sm btn-success"><i class="fa fa-shopping-cart no-margin-left"></i>@LT("MyAccount.Text.ReOrder", "Reorder")</a></td>  
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
            <div class="text-center" ng-show="am.ordersList.length==0">
                <div class="col-xs-12 nodata-customer">
                    <i class="fa fa-shopping-cart"></i>
                    <h1>@LT("MyAccount.Text.NoOrderHistoryAvailable", "No Order History Available")</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- *** RIGHT COLUMN END *** -->
@section Scripts{
    <script>

        var getOrderHistoryUrl = '@(Html.BuildUrlFromExpression<AccountController>(c => c.Getorders()))';
        var reOrderUrl = '@(Html.BuildUrlFromExpression<BasketController>(c => c.ReOrder("")))';
        window.app.constant('accountConfig', {
            getOrderHistoryUrl : getOrderHistoryUrl,
            reOrderUrl : reOrderUrl
        });
        window.app.constant('model', @Html.Json(Model));
    </script>
}