@{
/*
    Name: Change Password
    Purpose: Change Password View
    Structure: /Views/Account/Layout1/PasswordChange.cshtml
    Contains (Partial Views Used):
        a-/Views/Shared/Layout1/_LayoutAccount.cshtml.cshtml    (For base Structure)
        b-/Views/B2B/Layout1/_Register.cshtml                   (Company Registration Form)
        c-/Views/Account/Layout1/_AccountAlert.cshtml           (Show Validation Messages)

    Contained In (Where we Use this View):
        a-/Views/Shared/Layout1/_HeaderLayout.cshtml        (Link in Top Header Bar)
        b-/Views/Shared/Layout1/_MobileHeaderLayout.cshtml  (Link in Mobile Header)
    */
}
@using Microsoft.Web.Mvc
@using Omnicx.WebStore.Core.Controllers
@using Omnicx.WebStore.Framework.Helpers
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<Omnicx.API.SDK.Models.Commerce.CustomerProfileModel>

@{
    var customerAccountForm = Html.Angular().ModelFor("am.model");
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/Layout1/_Layout.cshtml";
    var userRole = SessionContext.CurrentUserRole;

}


<section ng-controller="accountCtrl as am">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                    <a href="/">@LT("MyAccount.Links.Home", "Home")</a>
                </li>
                <li>@LT("MyAccount.Text.ChangePassword", "Change Password")</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <h3 class="panel-h2 hidden-xs">@LT("MyAccount.Text.ChangePassword", "Change Password")</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 margin-bottom-lg visible-xs" id="exTab1">
           @Html.Partial("~/Views/Account/Layout1/_MobileSideNav.cshtml")
           
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 hidden-xs">
            @Html.Partial("~/Views/Account/Layout1/_SideNav.cshtml")
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12" id="customer-account">
            <div class="col-sm-12 col-xs-12 no-padding">
                <form name="changePasswordForm" role="form" ng-submit="am.changePassword(am.model.changePasswordViewModel,changePasswordForm)" method="post" novalidate>
                    <div class="row">
                        <div class="col-sm-12" ng-show="changepass">
                            @Html.Partial("~/Views/Account/Layout1/_AccountAlert.cshtml")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @customerAccountForm.FormGroupFor(x => x.ChangePasswordViewModel.OldPassword)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @customerAccountForm.FormGroupFor(x => x.ChangePasswordViewModel.NewPassword)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @customerAccountForm.FormGroupFor(x => x.ChangePasswordViewModel.ConfirmPassword)
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <div class="col-sm-12 col-xs-12 text-right">
                            <button type="submit" class="animate btn-primary"><i class="fa fa-save"></i>@LT("MyAccount.Button.SetPassword", " Save new password")</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</section>


@section Scripts{
    <script>
        var passwordChangeUrl = '@(Html.BuildUrlFromExpression<AccountController>(c => c.ChangePassword(null)))';
        window.app.constant('accountConfig', {
            passwordChangeUrl : passwordChangeUrl
        });
        window.app.constant('model', @Html.JsonFor(Model));
    </script>
}
