@{
/*
    Name: Password Recovery
    Purpose: Password Recovery View
    Structure: /Views/Account/Layout1/ReturnRequest.cshtml
    Contains (Partial Views Used):
        a-/Views/Shared/Layout1/_Layout.cshtml.cshtml   (For base Structure)

    Contained In (Where we Use this View):        
    */
}
@using Microsoft.Web.Mvc
@using Omnicx.WebStore.Framework.Helpers
@using Omnicx.WebStore.Core.Controllers
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage <Omnicx.API.SDK.Models.Commerce.ForgotPasswordViewModel>
@{
    var forgotPassword = Html.Angular().ModelFor("am.model");
    ViewBag.Title = "PasswordRecovery";
    Layout = "~/Views/Shared/Layout1/_Layout.cshtml";
}

<div class="col-sm-12 col-xs-12" ng-controller="accountCtrl as am">
    <h2>Password Recovery</h2>
    <form name="recoveryPasswordForm"  novalidate ng-submit="am.recoverPassword(am.model)">
        <div class="col-sm-12 col-xs-12">
            <div ng-cloak class="alert alert-danger" ng-show="am.errorMessage != null">
                <div ng-repeat="err in am.errorMessage track by $index">
                    <i class="fa fa-circle"></i>&nbsp;<span ng-bind="err"></span>
                </div>
            </div>
            <div ng-cloak class="alert alert-danger" ng-show="am.tokeExpired">
                <div>
                    <i class="fa fa-circle"></i>&nbsp;<span>@LT("PasswordRecovery.Message.TokenExpired", "Token Expired")</span>
                </div>
            </div>
            <div ng-cloak class="alert alert-success" ng-show="am.passwordChange">
                <div>
                    <i class="fa fa-check"></i>&nbsp;<span>@LT("PasswordRecovery.Message.ResetSuccessfully", "Password reset successfully")</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12">
            <div class="form-group">
                @forgotPassword.FormGroupFor(x => x.Password)
            </div>
        </div>
        <div class="col-sm-12 col-xs-12">
            <div class="form-group">
                @forgotPassword.FormGroupFor(x => x.ConfirmPassword)
            </div>
        </div>
        <div class="col-sm-12 col-xs-12">
            <div class="form-group">
               <button type="submit" class="animate btn-primary">Set Password</button>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <script>
        var recoverPassword = '@(Html.BuildUrlFromExpression<AccountController>(c => c.RecoverPassword(null)))';
         var returnUrl = '@(Html.BuildUrlFromExpression<AccountController>(c=>c.SignIn(null)))';
        window.app.constant('accountConfig', {
            recoverPassword: recoverPassword,
            returnUrl: returnUrl
        });
        window.app.constant('model', @Html.JsonFor(Model));
    </script>
}
