@{
/*
    Name: SignIn or New Customer Registration
    Purpose: SignIn or New Customer Registration
    Structure: /Views/Account/Layout1/Wishlist.cshtml
    Contains (Partial Views Used):
        a-/Views/Shared/Layout1/_LayoutAccount.cshtml.cshtml    (For base Structure)
        b-/Views/B2B/Layout1/_Register.cshtml                   (Company Registration Form)

    Contained In (Where we Use this View):
        a-/Views/Shared/Layout1/_HeaderLayout.cshtml        (Link in Top Header Bar)
        b-/Views/Shared/Layout1/_MobileHeaderLayout.cshtml  (Link in Mobile Header)
    */
}
@using Microsoft.Web.Mvc
@using Omnicx.WebStore.Core.Controllers
@using Omnicx.WebStore.Framework.Helpers
@using Omnicx.WebStore.Models.B2B
@using Omnicx.WebStore.Models.Commerce
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<UserModel>
@{
    var userForm = Html.Angular().ModelFor("gm.model");
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/Layout1/_LayoutAccount.cshtml";

}
<div class="container dataContainer">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                    <a href="/">@LT("MyAccount.Links.Home", "Home")</a>
                </li>
                <li ng-if="gm.createAccount==false">@LT("MyAccount.Text.Login", "Login")</li>
                <li ng-if="gm.createAccount==true">@LT("Login.Text.NewAccount", "New User Registration")</li>
            </ul>
        </div>

    </div>
    <div class="row">
        <div class="checkoutStepLogin">

            <div class="col-sm-12 col-xs-12 no-padding">
                <section class="checkout-accordion" ng-init="gm.loginAccount='@Model.isLogin';gm.createAccount=!'@Model.isLogin';gm.getSocialSettings()">
                    @{/*Registration Form*/}
                    <div>
                        <input id="ac-2" name="accordion-1" type="radio" class="visible-xs" />
                        <label class="label-ac visible-xs" for="ac-2" ng-click="gm.loginAccount=false;gm.createAccount=true;"> Create an account</label>
                        <article class="ac-large" ng-hide="gm.createAccount==false">
                            <form name="registrationForm" role="form" ng-submit="gm.registration(gm.model.registerViewModel)" method="post">
                                <div ng-show="gm.errorMessage != null">
                                    <div ng-cloak class="alert alert-danger" ng-show="gm.errorMessage != null">
                                        <div ng-repeat="err in gm.errorMessage track by $index">
                                            <i class="fa fa-circle"></i>&nbsp;<span ng-bind="err"></span>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="checkout-h2 hidden-xs">@LT("Checkout.Text.Login", "Registration")</h2>
                                <p class="lead"><strong>@LT("MyAccount.Text.NotRegister", "Not our registered customer yet?")</strong></p>
                                <p>@LT("MyAccount.Text.RegisterBenifits", "Registration with us will introduce to a world of fashion, fantastic discounts and much more! Registration will take only a couple of minutes!")</p>
                                <p class="text-muted">@LT("MyAccount.Text.FeelFree", "If you have any questions, please feel free to ")<a href="#">@LT("MyAccount.Text.ContactUs", "Contact Us"),</a> @LT("MyAccount.Text.Support", " , our customer service center is working for you 24/7.").</p>
                                <div class="col-sm-12 col-xs-12 no-padding form-group margin-bottom-sm checkoutForm">
                                    @userForm.FormGroupFor(x => x.RegisterViewModel.Email)
                                </div>
                                <div class="col-sm-12 col-xs-12 no-padding form-group margin-bottom-sm checkoutForm">
                                    @userForm.FormGroupFor(x => x.RegisterViewModel.Password)
                                </div>
                                <div class="col-sm-12 col-xs-12 no-padding form-group margin-bottom-sm checkoutForm">
                                    @userForm.FormGroupFor(x => x.RegisterViewModel.ConfirmPassword)
                                </div>
                                <div class="col-sm-12 col-xs-12 text-center no-padding checkout-button">
                                    <button type="submit" class="animate btn-primary"><i class="fa fa-user"></i>@LT("Global.Buttons.Register", "Register")</button>
                                    <a class="animate btn-default" ng-click="gm.loginAccount=true;gm.createAccount=false;gm.errorMessage=null;">Login Here</a>
                                </div>
                                <div class="col-sm-12 col-xs-12 text-center no-padding checkout-button" ng-if="'@ViewBag.isB2BEnable' == 'True' && '@ViewBag.isRegistrationAllowed' == 'True'">
                                    <button type="button" ng-click="gm.showCompanyForm()" class="animate btn-success"><i class="fa fa-user"></i>@LT("Global.Buttons.CompanyAccountRequest", "Request for Company Account")</button>
                                </div>
                            </form>
                        </article>
                    </div>
                    @{/*Login Form*/}
                    <div>
                        <input id="ac-1" name="accordion-1" type="radio" checked class="visible-xs" />
                        <label class="label-ac visible-xs" for="ac-1" ng-click="gm.loginAccount=true;gm.createAccount=false;"> Login. <span>Already a customer?</span></label>
                        <article class="ac-large" ng-show="gm.createAccount==false">
                            <form role="form" ng-submit="gm.login(gm.model.loginViewModel)" method="post" novalidate>
                                <div ng-cloak class="alert alert-danger" ng-show="gm.errorMessage != null">
                                    <div ng-repeat="err in gm.errorMessage track by $index">
                                        <i class="fa fa-circle"></i>&nbsp;<span ng-bind="err"></span>
                                    </div>
                                </div>
                                <div ng-cloak class="alert alert-danger" ng-show="gm.isValiduser">
                                    <div>
                                        <i class="fa fa-circle"></i>&nbsp;<span>@LT("Login.Message.InvalidUser", "Invalid User!")</span>
                                    </div>
                                </div>
                                <div ng-cloak class="alert alert-success" ng-show="gm.isValid">
                                    <div>
                                        <i class="fa fa-circle"></i>&nbsp;<span>@LT("Login.Message.ResetPassword", "Link to reset your password sent")</span>
                                    </div>
                                </div>
                                <h2 class="checkout-h2 hidden-xs">@LT("Checkout.Text.Login", "Login")</h2>
                                <p class="lead hidden-xs">@LT("MyAccount.Text.ExistingCustomer", "Already our customer?")</p>

                                <div class="col-sm-12 col-xs-12 no-padding form-group margin-bottom-sm checkoutForm">
                                    @userForm.FormGroupFor(x => x.LoginViewModel.Username)
                                </div>
                                <div class="col-sm-12 col-xs-12 no-padding form-group margin-bottom-sm checkoutForm">
                                    @userForm.FormGroupFor(x => x.LoginViewModel.Password)
                                </div>
                                <div class="col-sm-6 col-xs-6 no-padding">
                                    <label class="checkout-label">
                                        <input type="checkbox" name="keep" value="1" /> <span>Keep me signed in</span>
                                    </label>
                                </div>
                                <div class="col-sm-6 col-xs-6 no-padding">
                                    <a href="@Url.Action("forgotpassword", "account")" class="checkout-link">Forgot Password</a>
                                </div>
                                <div class="col-sm-12 col-xs-12 text-center no-padding checkout-button">
                                    <button type="submit" class="animate btn-primary">@LT("Global.Buttons.Login", "Login") <i class="fa fa-caret-right"></i></button>
                                    <a class="animate btn-default" ng-click="gm.loginAccount=false;gm.createAccount=true;gm.errorMessage=null;">Create an Account</a>
                                </div>
                                <div class="col-sm-12 col-xs-12 no-padding group-divider hidden-xs margin-bottom-sm" ng-show="gm.model.socialSettings.GooglePlusEnabled || gm.model.socialSettings.FacebookEnabled || gm.model.socialSettings.TwitterEnabled">
                                    <span>Or Login With</span>
                                </div>
                                <div class="col-xs-4 no-padding margin-bottom-sm" ng-show="gm.model.socialSettings.FacebookEnabled">
                                    <button type="button" class="btn btn-fb" ng-click="gm.socialSignIn('Facebook')"><i class="fa fa-facebook"></i>Facebook</button>
                                </div>
                                <div class="col-xs-4 no-padding" ng-show="gm.model.socialSettings.TwitterEnabled">
                                    <button type="button" class="btn btn-twitter" ng-click="gm.socialSignIn('Twitter')"><i class="fa fa-twitter"></i>Twitter</button>
                                </div>
                                <div class="col-xs-4 no-padding" ng-show="gm.model.socialSettings.GooglePlusEnabled">
                                    <button type="button" class="btn btn-google" ng-click="gm.socialSignIn('Google')"><i class="fa fa-google"></i>Google</button>
                                </div>
                            </form>
                        </article>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/B2B/Layout1/_Register.cshtml", new CompanyRegisterModel { })

@section Scripts{
    <script>
        var signIn = '@(Html.BuildUrlFromExpression<AccountController>(c => c.SignIn(null)))';
        var register = '@(Html.BuildUrlFromExpression<AccountController>(c => c.Registration(null)))';
        window.app.constant('accountConfig', {
            signIn: signIn,
            register: register,
        });
        window.app.constant('model', @Html.JsonFor(Model));
    </script>
}
