@{
/*
    Name: product review
    Purpose: Show All users review of selected product
    Structure: /Views/Product/Layout1/_ProductReviews.cshtml
    Contains (Partial Views Used):
        a-/Views/Product/Layout1/_WriteProductReview.cshtml

    Contained In (Where we Use this View):
        a-/Views/Product/Layout1/ProductDetail.cshtml
    */
}
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<dynamic>

<div class="col-sm-12 col-xs-12 no-padding">
    <div class="accordion">
        <dl>
            <dt>
                <a href="#review" aria-expanded="false" aria-controls="review" class="accordion-title accordionTitle js-accordionTrigger">@LT("productDetail.label.ProductReviews", "Product Reviews")</a>
            </dt>
            <dd class="accordion-content accordionItem-lg is-collapsed padding-lt-10" id="review" aria-hidden="true">
                <h3 class="category-headline" ng-bind="pm.model.subBrand"></h3>
                <i class="fa fa-star text-orange" ng-repeat="1 in pm.setRating(pm.model.rating,1)"></i><i class="fa fa-star-o" ng-repeat="1 in pm.setRating(pm.model.rating,0)"></i><br />               
                <span ng-show="pm.model.reviews.length>0 && pm.model.reviews!=null"> <span ng-bind="pm.model.reviews.length"></span> @LT("ProductDetail.label.Reviews", "review(s)")<br /></span>
                <p class="faq-ans no-padding" ng-show="pm.model.reviews.length>0 && pm.model.reviews!=null"><span ng-bind="pm.model.reviews.length"></span> @LT("ProductDetail.Label.OutOf", "out of")<span ng-bind="pm.model.reviews.length"></span> @LT("ProductDetail.Label.Recommend", "people would recommend this product")</p>
                <p class="faq-ans no-padding" ng-show="pm.model.reviews.length<=0">@LT("ProductDetail.Label.BeFirstReview", "Be the first one to review this product")</p>
                <p class="text-center col-xs-12 col-sm-12 text-center">
                    @if (SessionContext.CurrentUser == null)
                    {
                        <button class="animate btn-success" data-toggle="modal" data-target="#productReviewLogin" ng-click="pm.GetDynamicReviewConfig()">
                            @LT("ProductReview.Button.WriteReview", " Write a Review")
                        </button>
                    }
                    else
                    {
                        <button class="animate btn-success" ng-click="pm.GetDynamicReviewConfig();pm.writeReview = true;pm.reviewAsGuest()">
                            @LT("ProductReview.Button.WriteReview", " Write a Review")
                        </button>
                    }
                </p>
                <div class="or-spacer"><div class="mask"></div></div>
                <div class="col-sm-12 col-xs-12 text-center ">
                    <a class="img-full color-black" data-toggle="collapse" href="#collapse2" ng-show="pm.model.reviews!=null && pm.model.reviews.length>0 && !pm.reviews" ng-click="pm.reviews=!pm.reviews">@LT("Product.Label.ReadAllReviews", "Read All Reviews")</a>
                </div>
                <div class="panel-group">
                    <div class="panel panel-default">                        
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-group" ng-show="pm.model.reviews.length>0 && pm.model.reviews!=null">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <hr />
                                        <h3 class="panel-title text-center pull-left width-full"></h3>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div class="row" ng-repeat="review in pm.model.reviews">
                                            <div class="col-sm-12 col-xs-12">
                                                <h3 ng-bind="review.title" class="category-headline"></h3>
                                                <div class="col-sm-12 col-xs-12 no-padding">
                                                    <ul class="list-inline">
                                                        <li class="no-padding">
                                                            <i class="fa fa-star text-orange" ng-repeat="1 in pm.setRating(review.rating,1)"></i>
                                                            <i class="fa fa-star-o" ng-repeat="1 in pm.setRating(review.rating,0)"></i>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <p class="faq-ans no-padding" ng-bind="review.comment"></p>
                                                <div class="col-sm-12 col-xs-12 no-padding margin-bottom-xs" ng-repeat="section in review.sections">
                                                    <strong><span class="text-capitalize" ng-bind="section.sectionName"></span>:</strong>
                                                    <span ng-repeat="option in section.options" ng-if="option.isChecked"><span ng-bind="option.name"></span></span>                                                    
                                                </div>
                                                <p class="faq-ans no-padding">@LT("Product.detail.Label.WasHelpFul", "Was this review helpful?")<strong class="text-black">Yes</strong></p>
                                                <p class="faq-ans no-padding"><strong class="text-black">@LT("ProductDetail.Label.Recommend", "Yes, ")</strong>@LT("ProductDetail.Label.Recommend", "I would recommend this product")</p>
                                                <p class="faq-ques" ng-bind="review.postedBy"></p>
                                            </div>
                                            <div class="or-spacer"><div class="mask"></div></div>
                                         
                                        </div>
                                        <div class="panel-heading">
                                            <hr />
                                            <h3 class="panel-title text-center pull-left width-full">
                                                <a class="img-full" data-toggle="collapse" href="#collapse2" ng-show="pm.reviews" ng-click="pm.reviews=!pm.reviews">@LT("Product.Label.ReadLess", "Read Less")</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            @{ /* Start product write review*/ }
                            @Html.Partial("~/Views/Product/Layout1/_WriteProductReview.cshtml", new Omnicx.API.SDK.Models.Catalog.ProductReviewAddModel { })
                            @{ /* End product write review */ }
                        </div>
                    </div>
                </div>
            </dd>
        </dl>
    </div>
</div>
