@{
/*
    Name: Login Form for Review
    Purpose: Login Form for Review
    Structure: /Views/Product/Layout1/_ProductReviewLogin.cshtml
    Contains (Partial Views Used):

    Contained In (Where we Use this View):
        a-/Views/Product/Layout1/ProductDetail.cshtml
    */
}
@using Omnicx.WebStore.Framework.Helpers
@using Omnicx.API.SDK.Models.Catalog
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<ProductReviewLoginModel>
@{
    var userForm = Html.Angular().ModelFor("pm.model");
}
<!-- Modal -->
<div id="productReviewLogin" class="modal fade" role="dialog">
    <div class="modal-dialog review-login-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-bold" id="myModalLabel">Login</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="col-sm-4">
                            <h5>@LT("ProductReview.Label.ExistingCustomer", "Existing Customer")</h5>
                            <p>@LT("ProductReview.Label.AlreadyRegistered", "Already registered with us? Enter your email and password below")</p>
                            <form ng-submit="pm.userLogin(pm.model.login)">
                                <div ng-show="pm.loginErrors">
                                    <div ng-cloak class="alert alert-danger" ng-show="pm.errorMessage != null">
                                        <div ng-repeat="err in pm.errorMessage track by $index">
                                            <i class="fa fa-circle"></i><span ng-bind="err"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" novalidate>
                                    @userForm.FormGroupFor(x => x.Login.Username)
                                </div>
                                <div class="form-group">
                                    @userForm.FormGroupFor(x => x.Login.Password)
                                </div>
                                <div>
                                    <button type="submit" class="animate btn-primary">
                                        @LT("ProductReview.Label.Login", "Login")
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-4">
                            <h5>@LT("ProductReview.Label.Register", "Register")</h5>
                            <p>@LT("ProductReview.Label.NoAccount", "Do not have an account? Register with us.")</p>
                            <form ng-submit="pm.registration(pm.model.register)" novalidate>
                                <div ng-show="pm.registerErrors">
                                    <div ng-cloak class="alert alert-danger" ng-show="pm.errorMessage != null">
                                        <div ng-repeat="err in pm.errorMessage track by $index">
                                            <i class="fa fa-circle"></i><span ng-bind="err"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @userForm.FormGroupFor(x => x.Register.Email)
                                </div>
                                <div class="form-group">
                                    @userForm.FormGroupFor(x => x.Register.Password)
                                </div>
                                <div class="form-group">
                                    @userForm.FormGroupFor(x => x.Register.ConfirmPassword)
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" name="keep" value="1" /> @LT("ProductReview.Label.SendPromotions", "Yes, please send me money-off discounts & promotions")
                                    </label>
                                </div>
                                <div>
                                    <button type="submit" class="animate btn-primary">
                                        @LT("ProductReview.Label.Registration", "Registration")
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-4">
                            <h3>@LT("ProductReview.Label.ReviewAsGuest", "Review as a Guest")</h3>
                            <p>@LT("ProductReview.Label.WriteReviewAsGuest", "Write a review as a guest, no login required.")</p>
                            <hr />
                            <p>@LT("ProductReview.Message.Note", "Please note - reviews won't be saved against your account, so you won't be eligible for any prize draws.")</p>
                            <button class="animate btn-primary" ng-click="pm.writeReview = true;pm.reviewAsGuest();" data-dismiss="modal">@LT("ProductReview.Label.ReviewAsGuest", "Review As Guest")</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
