@{
/*
    Name: Quick View Product popup modal
    Purpose: Show brief description of product in popup modal
    Structure: /Views/Product/Layout1/_QuickViewModal.cshtml
    Contains (Partial Views Used):
        a-/Views/Product/Layout1/_QuickViewBundle.cshtml

    Contained In (Where we Use this View):
        a-/Views/Product/Layout1/ProductDetail.cshtml
    */
}
@using Omnicx.API.SDK.Models.Catalog
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<Omnicx.API.SDK.Models.Catalog.ProductDetailModel>

@{ /* Start modal popup */ }
<div class="modal fade" id="product-quick-view-modal" tabindex="-1" role="dialog" aria-hidden="false" ng-show="productmodal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" ng-bind="pm.model.name"></div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            @{ /* Start modal body */ }
            <div class="modal-body">
                @{ /* Start product container */ }
                <div class="row quick-view product-main" ng-hide="pm.model.componentProducts.length > 0">
                    @{
/*
Name: Product left image grid
Purpose: Show product big image, thumbnails and sale ribbon
*/
                    }

                    <div class="col-sm-6 col-xs-12 pull-left">
                        <span class="free-icon right" ng-hide="pm.model.freeProducts.length==0"><i class="fa fa-gift"></i></span>
                        <div class="quick-view-main-image">
                            <img ng-src="{{pm.model.image}}" class="img-responsive" onerror="this.src = '/assets/theme/ocx/images/noimagefound.jpg'">
                        </div>
                        <div class="row thumbs">
                            <div ng-repeat="img in pm.model.images" ng-if="$index!=1">
                                <div class="item" ng-class="{active : $index==0}">
                                    <div class="col-xs-3 col-sm-3">
                                        <div class="thumbs">
                                            <a class="thumb">
                                                <img ng-src="{{img.url}}" onerror="this.src = '/assets/theme/ocx/images/noimagefound.jpg'" ng-click="pm.model.image=img.url" class="img-responsive" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @{ /* End product Left image container */ }

                    @{
/*
Name: Product Right detail grid
Purpose: Show product name, description, size, color, price, social sharing and add to card button
*/
                    }
                    <div class="col-sm-6 col-xs-12 pull-right text-left">
                        @*<h2 ng-bind="pm.model.brand"></h2>*@
                        @*<h3 ng-bind="pm.model.subBrand"></h3>*@
                        @*<h2 ng-bind="pm.model.name"></h2>*@
                        <!-- ngRepeat: freeProduct in product.freeProducts -->
                        <h3>
                            <span ng-repeat="freeProduct in pm.model.freeProducts" class="text-bold">
                                <i class="pluse-icon sprite">+</i> @LT("ProductDetail.Label.Free", "Free") <span ng-bind="freeProduct.name"></span>
                            </span>
                        </h3>
                        <!-- end ngRepeat: freeProduct in product.freeProducts -->
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <p class="product-description" ng-bind="pm.model.shortDescription"></p>
                            </div>
                        </div>
                        <div class="box no-padding">
                            <form>
                                <div class="row" ng-if="pm.model.variantProductsAttribute[0].displayInProductWidget">
                                    <div class="col-sm-12 col-xs-12 no-padding">
                                        <div class="col-sm-12 col-xs-12" ng-repeat="attr in pm.model.variantProductsAttribute">
                                            <h3 class="variant-headline" ng-bind="attr.fieldName"></h3>
                                            <span ng-show="attr.selectedValue==''" class="color-error-validation">Please Select {{attr.fieldName}} </span>
                                            <div ng-if="attr.inputType != 'Dropdown'">
                                                <div ng-repeat="item in attr.fieldValues">

                                                    <a ng-if="attr.fieldCode=='global.colour'" id="{{item.fieldValue}}" href="#" ng-click="pm.getAvailableAttributeValues(attr.fieldCode,item.fieldValue,item.selected,attr.independentProductUrl)"
                                                       class="varient-box btn" ng-class="item.available==true?'':' grayOut-Color'" style="background-color: {{item.fieldValue}}">
                                                        <i ng-if="item.selected && item.available" class="fa-1x fa fa-check varient-check"></i>
                                                    </a>

                                                    <a ng-if="attr.fieldCode!='global.colour'" id="{{item.fieldValue}}" href="#" ng-click="pm.getAvailableAttributeValues(attr.fieldCode,item.fieldValue,item.selected,attr.independentProductUrl)"
                                                       class="varient-box-large " ng-class="item.available==true?'':' grayOut'">
                                                        {{item.fieldValue}}
                                                        <i ng-if="item.selected && item.available" class="fa-1x fa fa-check varient-check-range"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div ng-if="attr.inputType == 'Dropdown'">
                                                <select ng-model="attr.selectedValue" ng-change="pm.getAvailableAttributeValues(attr.fieldCode,attr.selectedValue,false,attr.independentProductUrl)" class="varientDdb">
                                                    <option ng-disabled="!item.available" ng-repeat="item in attr.fieldValues" id="{{item.fieldValue}}" ng-class="item.available==true?'':' grayOut'" value={{item.fieldValue}}>{{item.fieldValue}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @{ /* End product size varient */ }

                                @{ /* Start product price, buttons */ }
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <span class="price" ng-bind="pm.model.price.formatted.withTax"></span>
                                        <span class="product-price-save">RRP <span ng-bind="pm.model.listPrice.formatted.withTax"></span></span>
                                    </div>
                                </div>
                                @*<p ng-hide="pm.model.listPrice.raw.withTax == pm.model.price.raw.withTax" class="col-sm-12 col-xs-12 product-price-save">Save <span ng-bind="pm.model.listPrice.formatted.withTax.charAt(0)"></span><span class="product-price-save hidden-xs" ng-bind="(pm.model.listPrice.raw.withTax - pm.model.price.raw.withTax).toFixed(2)"></span></p>*@
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 add-to-bag-modal">
                                        <button type="button" class="btn btn-primary" ng-disabled="pm.addToBag" ng-if="pm.model.isDiscontinued==false && pm.model.currentStock>0" ng-click="gm.addToBasket(pm.model.recordId,1,0)">@LT("Checkout.Button.AddtoBag", "Add to Cart")</button>
                                        @if (SessionContext.CurrentUser != null)
                                        {
                                            <button type="submit" class="animate btn-default hidden-xs hidden-sm" ng-click="pm.addToWishlist(pm.model.recordId)" title="@LT("ProductDetail.Links.Addtowishlist", "Add to wishlist")" data-toggle="tooltip" data-placement="top" ng-hide="fromWishList">
                                                <i class="fa fa-heart-o"></i>
                                            </button>
                                            <button type="submit" class="animate btn-default visible-xs visible-sm" ng-click="pm.addToWishlist(pm.model.recordId)"><i class="fa fa-heart-o"></i></button>
                                        }
                                        else
                                        {
                                            <button type="button" class="animate btn-bordered" data-toggle="modal" data-target="#login-modal" data-placement="top" ng-click="pm.addToWishlist(pm.model.recordId);pm.hideQickView()" title="@LT("ProductDetail.Links.Addtowishlist", "Add to wishlist")">
                                                <i class="fa fa-heart-o" data-toggle="tooltip" title="Add to wishlist" data-placement="top"></i>
                                            </button>
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12 no-padding" ng-if="pm.model.flags.isFreeDelivery">
                                        <label class="free-label" ng-cloak>
                                            <span class="free-icon"><i class="fa fa-truck"></i></span>
                                            <span class="free-text"><strong>@LT("ProductDetail.Label.FreeDelivery", "FREE DELIVERY")</strong><br /> @LT("ProductDetail.Label.onitem", "on this item")</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 no-padding" ng-if="pm.model.freeProducts.length > 0">
                                        <label class="free-label" ng-cloak>
                                            <span class="free-icon"><i class="fa fa-gift"></i></span>
                                            <span class="free-text"><strong>@LT("ProductDetail.Label.FreeGift", "Free Gift") </strong><br /> @LT("ProductDetail.Label.withitem", "with this item")</span>
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        @{ /* Quick social share links */ }
                        <div class="quick-view-social" ng-init="pm.getUrl()">
                            <h4>@LT("ProductDetail.Label.ShowFriends", "Show it to your friends")</h4>
                            <p>
                                <a href="https://www.facebook.com/share.php?u={{pm.url}}/{{pm.model.link}}-{{pm.model.stockCode}}" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                <a href="https://pinterest.com/pin/create/button/?url={{pm.model.images[0].url}}&media=&description={{pm.model.name}}" class="external gplus" data-animate-hover="pulse"><i class="fa fa-pinterest"></i></a>
                                <a href="https://twitter.com/home?status={{pm.url}}/{{pm.model.link}}-{{pm.model.stockCode}}" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                            </p>
                        </div>
                        @{ /* End social share links */ }
                    </div>
                    @{ /* End product Right data container */ }
                </div>
                @{ /* End product container */ }
                <div class="row" ng-if="pm.model.componentProducts.length > 0">
                    <div class="col-sm-12 col-xs-12">
                        @Html.Partial("~/Views/Product/Layout1/_QuickViewBundle.cshtml")
                    </div>
                </div>
            </div>
            @{ /* End modal body */ }
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
@{ /* End modal popup */ }
