@{
/*
Name: Blog Detail
Purpose: Show detail view
Structure: /Views/Blog/Layout1/BlogDetail.cshtml
Contains (Partial Views Used):
    a-/Views/Shared/Layout1/_LayoutBlog.cshtml
Contained In (Where we Use this View) :
    a-/Views/Shared/Layout1/Blog.cshtml
*/
}
@using Microsoft.Web.Mvc
@using Omnicx.WebStore.Core.Controllers
@using Omnicx.API.SDK.Models
@using Omnicx.WebStore.Core.Helpers
@using Omnicx.WebStore.Framework.Helpers
@using Omnicx.API.SDK.Entities
@using Omnicx.API.SDK.Helpers
@using Omnicx.API.SDK.Entities
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<Omnicx.API.SDK.Models.Site.BlogDetailViewModel>

@{
    ViewBag.Title = @Model.Detail.Title;
    Layout = "~/Views/Shared/Layout1/_LayoutBlog.cshtml";

    Html.AddTitleParts(Model.Detail.Title);
    Html.AddMetaTitle(Model.Detail.MetaTitle);
    Html.AddMetaDescriptionParts(Model.Detail.MetaDescription);
    Html.AddMetaKeywordsParts(Model.Detail.MetaKeywords);
    Html.AddCanonicalUrl(Model.Detail.CanonicalTags);
    Html.AddDataLayer(DataLayerObjectType.BlogDetail, Model.Detail);
}
<style>
    #landing-banner {
        display: none !important;
    }
</style>
<div class="col-md-12 margin-top-md">
    <ul class="breadcrumb">

        <li>
            <a href="/">@LT("MyAccount.Links.Home", "Home")</a>
        </li>
        <li>
            <a href="@Url.Action("Blogs", "Blog")">@LT("Blogs.Links.Blogs", "Blogs")</a>
        </li>
        <li>@Model.Detail.Title.ToCamelCase()</li>
    </ul>
</div>

<!-- *** LEFT COLUMN ***
_________________________________________________________ -->

<div class="col-sm-12" id="blog-listing" ng-controller="blogCtrl as bm" ng-init="bm.geturl()">
    <div class="post">
        <h3 class="blog-h2"><a href="#">@Model.Detail.Title</a></h3>
        <p class="blog-category">
            By <a href="/@Model.Detail.EditorSlug">@Model.Detail.Author</a> in <a href="/@Model.Detail.CategorySlug">@Model.Detail.Category</a>
            <span class="text-right pull-right">
                <span>@LT("Blogs.Text.SharePage", "Share this page: ")</span>
                <a class="external-social facebook" href="https://www.facebook.com/share.php?u={{bm.url}}/blogs/@Model.Detail.URL"><i class="fa fa-facebook"></i></a>
                <a class="external-social" href="https://twitter.com/home?status={{bm.url}}/blogs/@Model.Detail.URL"><i class="fa fa-twitter"></i></a>
                <a class="external-social" href="https://pinterest.com/pin/create/button/?url=@Model.Detail.BlogImage&media=&description=@Model.Detail.Title"><i class="fa fa-pinterest"></i></a>
            </span>
        </p>
        <hr>

        @Html.Raw((Model.Detail.Body))
        
    </div>




</div>
@section scripts{
    <script>
        window.app.constant('blogConfig', {
        });
    </script>
}