@{
/*
    Name: Json Home Page Customize UI
    Purpose: WebStore Home page contain customize design with HTML Layout and json call
    Structure: /Views/Page/_IndexJson.cshtml
    Contains (Partial Views Used): NO Partial View Used
    Contained In (Where we Use this View):
        a-/Views/Page/Index.cshtml
    */
}
@using Omnicx.WebStore.Models.Enums
@using Omnicx.WebStore.Models.Helpers
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<Omnicx.WebStore.Models.Site.SiteViewModel>

<div class="container-lg dataContainerT" ng-cloak>
    @{
        if (Model.Components != null)
        {
            //Increment Carousal Dynamic ID
            var ProductSno = 1;
            var CarosalSno = 1;
            foreach (var component in Model.Components)
            {
                if (component.ComponentType == SiteViewComponentTypes.Slider && component != null && component.Images != null)
                {
                    if (component.DataType == "multi")
                    {
                        <div class="col-sm-12 col-xs-12">
                            <div id="multiCarousal{{@CarosalSno}}" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="@component.SliderTime" data-autoplay="@component.Autoplay">
                                <div class="carousel-inner">
                                    @foreach (var img in component.Images.Select((obj, index) => new { index, obj }))
                            {
                                        <div class="item" ng-class="{active : @img.index==0}">
                                            <div class="carousel-col">
                                                <div class="gallery-container">
                                                    <a class="lightbox" title="@img.obj.Title" description="@img.obj.Description" imgLink="@img.obj.Link">
                                                        <img ng-src="@img.obj.Url" alt="@img.obj.SubTitle" title="@img.obj.Title" class="img-responsive" />
                                                    </a>
                                                </div>
                                                <p class="gallery-text">@img.obj.Description</p>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <a class="left carousel-control" href="#multiCarousal{{@CarosalSno}}" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                                <a class="right carousel-control" href="#multiCarousal{{@CarosalSno}}" data-slide="next"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    }
                    else if (component.DataType == "single")
                    {
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 no-padding">
                                <div id="carousel-example" class="carousel slide omnicomponent component-slider" data-ride="carousel" data-interval="@component.SliderTime" data-autoplay="@component.Autoplay">
                                    <ol class="carousel-indicators">
                                        @foreach (var img in component.Images.Select((index) => new { index }))
                                        {
                                            <li data-target="#carousel-example" data-slide-to="@img.index" ng-class="{active : @img.index==0}"></li>
                                        }
                                    </ol>
                                    <div class="carousel-inner">
                                        @foreach (var img in component.Images.Select((obj, index) => new { index, obj }))
                                        {
                                            <div class="item" ng-class="{active : @img.index==0}">
                                                <img ng-src="@img.obj.Url" class="img-responsive image1" onerror="this.src = '/assets/theme/ocx/images/carousal-banner-women.jpg'">
                                            </div>
                                        }
                                    </div><a class="left carousel-control" href="#carousel-example" data-slide="prev">
                                        <span class="fa fa-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example" data-slide="next">
                                        <span class="fa fa-chevron-right"></span>
                                    </a>
                                </div>

                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 no-padding">
                                <div id="carousel-example" class="carousel slide omnicomponent component-slider" data-ride="carousel" data-interval="3000">
                                    <ol class="carousel-indicators">
                                        @foreach (var img in component.Images.Select((index) => new { index }))
                                        {
                                            <li data-target="#carousel-example" data-slide-to="@img.index" ng-class="{active : @img.index==0}"></li>
                                        }
                                    </ol>
                                    <div class="carousel-inner">
                                        @foreach (var img in component.Images.Select((obj, index) => new { index, obj }))
                                        {
                                            <div class="item" ng-class="{active : @img.index==0}">
                                                <img ng-src="@img.obj.Url" class="img-responsive image1" onerror="this.src = '/assets/theme/ocx/images/carousal-banner-women.jpg'">
                                            </div>
                                        }
                                    </div><a class="left carousel-control" href="#carousel-example" data-slide="prev">
                                        <span class="fa fa-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example" data-slide="next">
                                        <span class="fa fa-chevron-right"></span>
                                    </a>
                                </div>

                            </div>
                        </div>
                    }

                    continue;
                }
                CarosalSno += 1;
                if ((component.ComponentType == SiteViewComponentTypes.PageHeader || component.ComponentType == SiteViewComponentTypes.BlogHeader || component.ComponentType == SiteViewComponentTypes.Heading)  && component != null && component.Content != null)
                {
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 whiteheadingContainer">
                            @Html.Raw(component.Content)
                        </div>
                    </div>
                    continue;
                }
                //For Image
                if (component.ComponentType == SiteViewComponentTypes.Image && component != null && component.Image != null)
                {
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 whiteContainer">
                            <img src="@component.Image.Url" />
                        </div>
                    </div>
                    continue;
                }
                //For Paragraph
                if (component.ComponentType == SiteViewComponentTypes.Paragraph && component != null && component.Content != null)
                {
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 whiteContainer">
                            <h3 class="velaTitle velaHomeTitle text-center clearfix">
                                <span class="subtitle" style="margin-bottom:30px!important;">@Html.Raw(component.Content)</span>
                                <a><i class="fa fa-chevron-circle-right fa-2x"></i><br /><span class="text-black">@LT("ProductDetail.Label.View", "Read more")</span></a>
                            </h3>
                        </div>
                    </div>
                    continue;
                }
                //For StaticHtml
                if (component.ComponentType == SiteViewComponentTypes.StaticHtml && component != null && component.Content != null)
                {
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 whiteContainer">
                            @Html.Raw(component.Content)
                        </div>
                    </div>
                    continue;
                }
                //For Image and Text
                if (component.ComponentType == SiteViewComponentTypes.ImageText && component != null && component.Content != null)
                {
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 whiteContainer">
                            @Html.Raw(component.Content)
                        </div>
                    </div>
                    continue;
                }
                //For Video And Text
                if (component.ComponentType == SiteViewComponentTypes.VideoText && component != null && component.Content != null)
                {
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 whiteContainer">
                            @Html.Raw(component.Content)
                        </div>
                    </div>
                    continue;
                }
                //For JSSnippts
                if (component.ComponentType == SiteViewComponentTypes.JsSnippet && component != null && component.Content != null)
                {
                    @Html.Raw(component.Content)
                    continue;
                }
                {/*Block for showing Video attachments*/
                }
                if (component.ComponentType == SiteViewComponentTypes.VideoGallery && component != null && component.Content != null)
                {
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 whiteContainer">
                            <iframe ng-src="@component.Content" frameborder="0" allow="autoplay; encrypted-media" width="100%" height="350" allowfullscreen></iframe>
                        </div>
                    </div>
                    continue;
                }


                if (component != null && component.ComponentType == SiteViewComponentTypes.ProductList && component.Products != null)
                {
                    if (component.Products.Count > 0)
                    {
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 no-padding whiteContainer">
                                <div id="Productcarousel{{@ProductSno}}" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="10000">
                                    <div class="carousel-inner">
                                        @foreach (var product in component.Products.ToList().Select((obj, index) => new { index, obj }))
                                        {
                                            <div class="item" ng-class="{active : @product.index==0}">
                                                <div class="carousel-col">
                                                    <div class="product-box-sm">
                                                        <div class="image-container gray">
                                                            <a ng-href="/@product.obj.Slug">
                                                                <img ng-src="@product.obj.Image" alt="OCX Store" onerror="this.src = DEFAULT_IMAGE_URL" />
                                                            </a>
                                                        </div>
                                                        <div class="data-container">
                                                            <h3>@product.obj.Name</h3>
                                                            <div class="price-box">
                                                                <p class="product-price hidden-xs">
                                                                    <span>@product.obj.Price.Formatted.WithTax</span>                                                                    
                                                                </p>
                                                            </div>
                                                            <a class="animate btn-success width-full" ng-click="gm.addToBasket('@product.obj.RecordId',1,0)"><span>@LT("ProductDetail.Label.AddToCart", "Add to Cart")</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <a class="left carousel-control" href="#Productcarousel{{@ProductSno}}" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                                    <a class="right carousel-control" href="#Productcarousel{{@ProductSno}}" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    }
                }
                if (component.ComponentType == SiteViewComponentTypes.CategoryList && component != null && component.Categories != null)
                {
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 whiteContainer">
                            <div class="row hover01">
                                @foreach (var category in component.Categories)
                                {
                                    <div class="col-sm-3 col-xs-6">
                                        <figure>
                                            <img ng-src="@category.Image" alt="Banner4" component-type="@component.ComponentType" onerror="this.src = DEFAULT_IMAGE_URL" />
                                        </figure>
                                        <div class="infornation">
                                            <strong>@category.Name</strong>
                                            <p>@category.Description</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    continue;
                }

                if (component.ComponentType == SiteViewComponentTypes.BrandList && component != null && component.Brands != null)
                {
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 whiteContainer">
                            <div class="row hover01">
                                @foreach (var brands in component.Brands)
                                {
                                    var imgurl = @brands.ManufacturerName + ".jpg";
                                    <div class="col-sm-3 col-xs-6">
                                        <figure>

                                            <img ng-src="https://dev-ocxcdn.azureedge.net/ocx-ib/brands/@imgurl" alt="Banner3" component-type="@component.ComponentType" onerror="this.src = DEFAULT_IMAGE_URL">
                                            @*<span>@brands.ManufacturerName</span>*@
                                        </figure>
                                        <div class="infornation">
                                            <strong>@brands.ManufacturerName</strong>
                                            <p>@brands.Description</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    continue;
                }
                if (component != null && component.ComponentType == SiteViewComponentTypes.BlogList && component.Blogs != null)
                {
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 whiteContainer">
                            <div class="row hover03">
                                @foreach (var blog in component.Blogs.ToList().Select((obj, index) => new { index, obj }))
                                {
                                    <div class="col-sm-3 col-xs-12 no-padding">
                                        <div class="col-sm-12 col-xs-12">
                                            <figure>
                                                <img ng-src="@blog.obj.BlogImage" alt="@blog.obj.Author" onerror="this.src = DEFAULT_IMAGE_URL" />
                                            </figure>
                                            <div class="infornation-blog">
                                                <p class="post-date">@blog.obj.Created</p>
                                                <strong>@blog.obj.Title</strong>
                                                <h2 class="text-left">@blog.obj.Author</h2>
                                                <h4 class="text-left">@blog.obj.Category</h4>
                                                <p><a href="@blog.obj.CategorySlug" class="animate btn-bordered"><span>Read More</span></a></p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                //Increment Carousal Dynamic ID
                ProductSno += 1;
            }
        }
    }
</div>
