@{
/*
    Name: Search Result
    Purpose: Show Product list after search Result
    Structure: /Views/Search/_SearchResultProducts.cshtml
    Contains (Partial Views Used):
        a-/Views/Search/_SearchFacetsMobile.cshtml
        b-/Views/Search/_SearchFacets.cshtml
        c-/Views/Search/_SearchTopBar.cshtml
        d-/Views/Search/_NoResults.cshtml
        e-/Views/Search/_ProductWidget.cshtml
        f-/Views/Search/_ProductListWidget.cshtml
        g-/Views/Search/_SearchBottomBar.cshtml
        h-/Views/Product/_QuickViewModal.cshtml

    Contained In (Where we Use this View):
        a-/Views/Search/Search.cshtml
    */
}
@using Microsoft.Web.Mvc
@using Omnicx.WebStore.Core.Helpers
@using Omnicx.WebStore.Core.Controllers
@using Omnicx.WebStore.Framework.Helpers
@using Omnicx.WebStore.Models.Catalog
@using Omnicx.WebStore.Models.Enums

@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<Omnicx.WebStore.Models.Helpers.PaginatedResult<Omnicx.WebStore.Models.Catalog.ProductModel>>


<section ng-controller="productCtrl as pm" ng-init='pm.initProducts(@Html.Json(Model));pm.getView=pm.getViewBycookie;pm.getToWishlist(pm.productResponse.results);'>

    @{ /* Start WishList Validations */ }
    <div ng-cloak class="alert alert-success wishdiv alert-pos" ng-show="pm.wishlistsaved">
        <strong>@LT("ProductDetail.Message.AddToWishlist", "Product added to wishlist")</strong>
    </div>
    <div ng-cloak class="alert alert-danger wishdiv alert-pos" ng-show="pm.wishlistexistserror">
        <strong>@LT("ProductDetail.Message.AlreadyAddedToWishlist", "Product already added in wishlist")!</strong>
    </div>
    <div ng-cloak class="alert alert-danger wishdiv alert-pos" ng-show="pm.maximumWishlisterror">
        <strong>@LT("ProductDetail.Message.AddedMaximumWishlistItems", " You have reached the maximum limit")!</strong>
    </div>
    <div ng-cloak class="alert alert-danger wishdiv alert-pos" ng-show="pm.wishlisterror">
        User <strong>@LT("ProductDetail.Message.LoginRequired", "Login Required")</strong>
    </div>
    <span ng-cloak class="alert alert-danger wishdiv alert-pos" ng-show="gm.maximumBasketItemError">
        <strong>@LT("ProductDetail.Message.AddedMaximumBasketItems", "You Reached Maximum Add To Bag Limit ")<span ng-bind="gm.maximumAddToBasketLimit"></span></strong>
    </span>
    <span ng-cloak class="alert alert-danger wishdiv alert-pos" ng-show="gm.maximumBasketsubscriptionItemError">
        <strong>@LT("ProductDetail.Message.AddedMaximumBasketSubscriptionItems", "You cannot add more Subscription Products, Maximum limit exceed : ")</strong>
    </span>
    @{ /*  End WishList Validations */ }

    @{ /* Start products container */ }
    <div class="row">
        <div class="col-sm-12 col-xs-12 visible-xs">
            @Html.Partial("~/Views/Search/_SearchFacetsMobile.cshtml")
        </div>
        <div class="col-sm-3 col-md-3 col-lg-2 no-padding hidden-xs">
            @{
                /* Start left filter grid */
                var listClass = "col-sm-12 col-xs-12 d--no-padding";
            }
            @if (Model.Results != null && Model.Results.Count != 0 && Model.SearchCriteria.AllowFacet)
            {
                listClass = "col-sm-9 col-md-9 col-lg-10 col-xs-12 d--no-padding-right";
                <div class="col-sm-12 filterContainer sm">
                    @Html.Partial("~/Views/Search/_SearchFacets.cshtml")
                </div>
            }
            @{ /* End left filter grid */ }
        </div>
        <div class="@listClass">
            <div class="col-sm-12 col-xs-12 dataContainer sm">

                @{
                    if (Model.Images != null && Model.Images.Any())
                    {
                        <div class="col-sm-12 col-xs-12 clearfix margin-bottom-lg no-padding">
                            <div id="carousel-example-generic" class="carousel slide omnicomponent component-slider" list-id="" list-type="" data-ride="carousel">
                                <div class="carousel-inner">
                                    @foreach (var img in Model.Images.Select((obj, index) => new { index, obj }))
                                    {
                                        <div class="item" ng-class="{active : @img.index==0}">
                                            @if (img.obj.LinkType == LinkType.Href.GetHashCode().ToString())
                                            {
                                                <a href="@img.obj.Link">
                                                    <img ng-src="@img.obj.Url" alt="Slide @img.index of Carousel" class="img-responsive image1" onerror="this.src = DEFAULT_IMAGE_URL">
                                                    <div class="component-static-html img-topData hidden-xs">
                                                        <h2>@img.obj.Title</h2>
                                                        <h3>@img.obj.SubTitle</h3>
                                                        <p aria-hidden="true">@img.obj.Description</p>
                                                    </div>
                                                </a>
                                            }
                                            else
                                            {
                                                <img ng-src="@img.obj.Url" alt="Slide @img.index of Carousel" class="img-responsive image1" onerror="this.src = DEFAULT_IMAGE_URL">
                                                <div class="component-static-html img-topData hidden-xs">
                                                    <h2>@img.obj.Title</h2>
                                                    <h3>@img.obj.SubTitle</h3>
                                                    <p>@img.obj.Description</p>
                                                    <p>
                                                        @if (img.obj.LinkType == LinkType.Button.GetHashCode().ToString())
                                                        {
                                                            <a href="@img.obj.Link" class="shop-now"> @img.obj.ButtonText </a>
                                                        }
                                                    </p>
                                                </div>
                                            }

                                        </div>
                                    }
                                </div><a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                    <span class="fa fa-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                    <span class="fa fa-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    }
                }
                @{ /* Start Product sorting and pagination partial view */ }
                @Html.Partial("~/Views/Search/_SearchTopBar.cshtml")
                @{ /* End Product sorting and pagination partial view */ }
                @*PRODUCT DATA VIEW*@
                <div class="row">
                    @*START NO RESULT AVAILABLE VIEW*@
                    @Html.Partial("~/Views/Search/_NoResults.cshtml")

                    @*DATA WITH GROUP*@
                    <div class="col-sm-12 col-xs-12 gridView no-padding" id="view">
                        <div class="panel-group" id="accordion1{{$index}}" role="tablist" aria-multiselectable="true" ng-repeat="grp in pm.productResponse.groupsWithProducts track by $index">
                            <div class="panel panel-default margin-bottom-lg no-border">
                                <div class="panel-heading" role="tab" id="heading1{{$index}}">
                                    <h4 class="panel-title heading-h4 no-border no-padding">
                                        <a role="button" class="no-padding" data-toggle="collapse" data-parent="#accordion1{{$index}}" href="#Data1{{$index}}" aria-expanded="true" aria-controls="Data{{$index}}" ng-bind="grp.groupName"></a>
                                    </h4>
                                    @if (Model.ProductGroupModel != null)
                                    {
                                        <div class="col-sm-12 col-xs-12 no-padding groupSeparator" ng-hide="grp.groupName==''">@Html.Raw(Model.ProductGroupModel.GroupSeparator)</div>
                                    }
                                </div>
                                <div id="Data1{{$index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1{{$index}}"  ng-controller="subscriptionCtrl as sm">
                                    <div class="panel-body no-padding no-border">
                                        @*PRODUCT WIDGET FOR LIST AND GRID VIEW COMMON USED*@
                                        <div class="col-md-5ths col-sm-5ths col-xs-5ths col-lg-5ths resultContainerRelated" ng-repeat="product in grp.products track by $index" ng-cloak>
                                            @Html.Partial("~/Views/Search/_ProductWidget.cshtml")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @{ /*End product listing row*/ }

                @{ /* Start Product sorting and pagination partial view */ }
                @if (Model.Results != null && Model.Results.Count != 0)
                {
                    <div ng-hide="pm.productResponse == null || pm.productResponse.results==null||pm.productResponse.total==0">
                        @Html.Partial("~/Views/Search/_SearchBottomBar.cshtml")
                    </div>
                }
                @{ /* End Product sorting and pagination partial view */ }
            </div>
        </div>
    </div>
    @{ /* End products container */ }

    @{ /*Start Product quick view detail popup*/ }
    @Html.Partial("~/Views/Product/_QuickViewModal.cshtml", new ProductDetailModel { })
    @{ /*End detail popup*/ }
</section>
