@{
/*
    Name: Filter Bottom bar
    Purpose: Show Pagination
    Structure: /Views/Search/_SearchBottomBar.cshtml
    Contains (Partial Views Used):

    Contained In (Where we Use this View):
        a-/Views/Search/Search.cshtml
    */
}
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<dynamic>

@*MOBILE VIEW*@
<div class="row visible-xs visible-sm" ng-cloak>
    <div class="col-sm-8 col-xs-12" ng-hide="pm.productResponse.total<=pm.searchCriteria.pageSize">
        <div paging
             page="pm.searchCriteria.currentPage"
             page-size="pm.searchCriteria.pageSize"
             total="pm.productResponse.total"
             disabled="false"
             adjacent="0"
             class="small row text-right"
             text-next="&gt;"
             text-prev="&lt;"
             show-prev-next="true"
             show-first-last="false"
             paging-action="pm.searchCriteria.currentPage=page;pm.searchCriteria.pageSize=pm.searchCriteria.pageSize;pm.searchProducts(pm.searchCriteria);">
        </div>
    </div>
</div>

@*DESKTOP VIEW*@
<div class="row hidden-xs hidden-sm" ng-cloak>
    <div class="col-sm-4 col-xs-5">
        <form class="form-inline">
            <div class="form-group no-margin-bottom">
                <label for="Refine By" class="font-sm">
                    <span ng-if="pm.productResponse.total == 0">@LT("ProductListing.Label.Showing", "Showing") <strong>0</strong></span>
                    <span ng-if="pm.productResponse.total != 0">@LT("ProductListing.Label.Showing", "") <strong ng-bind="((pm.searchCriteria.currentPage-1) * pm.itemsPerPage) +1"></strong></span>
                    @LT("ProductListing.Label.To", "-")
                    <span ng-hide="pm.productResponse.total<(pm.searchCriteria.currentPage * pm.itemsPerPage)">
                        <strong ng-bind="pm.searchCriteria.currentPage * pm.itemsPerPage"></strong>
                    </span>
                    <span ng-show="pm.productResponse.total<(pm.searchCriteria.currentPage * pm.itemsPerPage)">
                        <strong ng-bind="pm.productResponse.total"></strong>
                    </span>
                    @LT("ProductListing.Label.Of", "of") <strong ng-bind="pm.productResponse.total"></strong> @LT("ProductListing.Label.Results", "items")
                </label>
            </div>
        </form>
    </div>
    <div class="col-sm-8 col-xs-7" ng-hide="pm.productResponse.total<=12">
        <div paging
             page="pm.searchCriteria.currentPage"
             page-size="pm.searchCriteria.pageSize"
             total="pm.productResponse.total"
             disabled="false"
             adjacent="0"
             class="small row text-right"
             text-next="&gt;"
             text-prev="&lt;"
             show-prev-next="true"
             show-first-last="false"
             paging-action="pm.searchCriteria.currentPage=page;pm.searchCriteria.pageSize=pm.searchCriteria.pageSize;pm.searchProducts(pm.searchCriteria);">
        </div>
    </div>
</div>