@{
/*
    Name: Survey View
    Purpose: Show Survey
    Structure: /Views/Survey/Capture.cshtml
    Contains (Partial Views Used):
        a-/Views/Shared/_LayoutCMS.cshtml
        b-_BuildABundle
        c-_WizardStyle
    Contained In (Where we Use this View):
    */
}
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<SurveyModel>
@using Omnicx.WebStore.Models.Site
@using Omnicx.WebStore.Models.Keys
@using Omnicx.WebStore.Framework.Helpers
@using Newtonsoft.Json.Linq;
@using Microsoft.Web.Mvc
@using Omnicx.WebStore.Core.Controllers
@{
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
}
<div class="container-lg dataContainerT" ng-controller="surveyCtrl as pm">  
    <h1 class="text-center">@Model.Name</h1>
    <div ng-show="pm.showSucess" id="surveyContainer"></div> 
    <div ng-hide="pm.showSucess" class="row col-md-6 col-lg-6">
        <div  class="form-group" >
            <label>@LT("Survey.Text.PleaseEnterEmailToComplete", "Please enter email to complete survey")</label>
             <input type="text" class="form-control" ng-model="pm.surveyEmail" />
        </div>
        <div class="row">
            <button ng-click="pm.saveSurveyResponse()" class="btn btn-success pull-right">Submit</button>
        </div>        
    </div>    
</div>


@section scripts{
     <script src="https://surveyjs.azureedge.net/1.0.66/survey.jquery.min.js"></script>
    <script>
        Survey.Survey.cssType = "bootstrap";
        var surveyJSON =  @Html.JsonFor(Model.QuestionJson);
        
        function sendDataToServer(survey) {                    
            PubSub.publish('saveSurveyResponse', survey.data)       
        }
        var survey = new Survey.Model(surveyJSON);

        $("#surveyContainer").Survey({
            model: survey,
            onComplete:sendDataToServer
        });

        var saveAnswer = '@(Html.BuildUrlFromExpression<SurveyController>(c => c.SaveAnswer("","","")))';
        var searchUrl = '@(Html.BuildUrlFromExpression<SearchController>(c => c.Search(null)))';
        var addToBagUrl = '@(Html.BuildUrlFromExpression<SurveyController>(c => c.AddToBag(null)))';
        var basketUrl = '@(Html.BuildUrlFromExpression<BasketController>(c => c.Index(null)))';
        var searchFilterQryString = '@Constants.SEARCH_FILTER_QUERYSTRING';
        var surveyQryString = '@Constants.SEARCH_SURVEY_QUERYSTRING';
        window.app.constant('surveyConfig',{
            saveAnswerUrl: saveAnswer,
            searchUrl: searchUrl,
            addToBagUrl: addToBagUrl,
            basketUrl: basketUrl,
            searchFilterQryString:searchFilterQryString,
            surveyQryString:surveyQryString
        });
        window.app.constant('model', @Html.JsonFor(Model));
    </script>
}
