@{
/*
Name: Brand Landing
Purpose: Show landing Page of selected brand
Structure: /Views/Brand/Layout1/BrandList.cshtml
Contains (Partial Views Used):
a-/Views/Shared/Layout1/_Layout.cshtml
Contained In (Where we Use this View) :
*/
}
@using Microsoft.Web.Mvc
@using Omnicx.WebStore.Core.Helpers
@using Omnicx.WebStore.Core.Controllers
@using Omnicx.WebStore.Framework.Helpers
@using Omnicx.API.SDK.Models.Catalog
@using Omnicx.API.SDK.Entities
@using Omnicx.API.SDK.Helpers
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<Omnicx.API.SDK.Models.Catalog.BrandDetailModel>
@{
    ViewBag.Title = "BrandLanding";
    Layout = "~/Views/Shared/Layout1/_Layout.cshtml";
    Html.AddTitleParts(Model.Name);
    Html.AddMetaTitle(Model.MetaTitle);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordsParts(Model.MetaKeywords);
}

<div class="container" ng-controller="productCtrl as pm" ng-init='pm.initBrands(@Html.Json(Model))'>
    @{ /* Start breadcrumb container */ }
    <div class="row no-padding">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Brands</li>
        </ul>
    </div>
    @{ /* End breadcrumb container */ }

    @{ /* Start carousel slider */ }
    <div class="row">
        <div class="col-sm-3 col-xs-12" style="background:#ddd; min-height:400px;">
            <div class="clearfix">               
                <div class="panel panel-default sidebar-menu ng-scope">
                    <div class="panel-heading panel-heading-top col-sm-12 no-padding">
                        <div class="col-sm-9 no-padding">
                            <a href="/@Model.Name">
                                <div class="padding-bottom-xs">
                                    <img data-src="@Model.LogoImageName" class="lazyloaded" alt="" src="@Model.LogoImageName">
                                    @*<h4 class="panel-title panel-h4" data-toggle="collapse" data-target="#size">
                                        <span class="ng-binding">@Model.Name</span>
                                    </h4>*@
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body max-panel collapse in panel-padding-top" id="size">
                        <form class="ng-pristine ng-valid">
                            @foreach (var subBrand in Model.SubBrands) { 
                            <div class="form-group">
                                    <label class="ng-scope">
                                        <a href="/@subBrand.Link">
                                            <span class="ng-binding">@subBrand.Name</span>
                                        </a>
                                    </label>
                            </div>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-xs-12">
            <div id="carousel-example-generic" class="carousel slide omnicomponent component-slider" list-id="" list-type="" data-ride="carousel">
                <ol class="carousel-indicators">
                    @if (Model.CarouselImage1 != null && Model.CarouselImage1 != "")
                    {
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>}
                    @if (Model.CarouselImage2 != null && Model.CarouselImage2 != "")
                    {
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>}
                    @if (Model.CarouselImage3 != null && Model.CarouselImage3 != "")
                    {
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>}
                    @if (@Model.CarouselImage4 != null && @Model.CarouselImage4 != "")
                    {
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    }

                </ol>
                <div class="carousel-inner">
                    @if (Model.CarouselImage1 != null && Model.CarouselImage1 != "")
                    {
                        <div class="item active">
                            <a href="@Model.CarouselLink1">
                                <img src="@Model.CarouselImage1" alt="Slide 1 of carousel">
                            </a>
                        </div>
                    }
                    @if (Model.CarouselImage2 != null && Model.CarouselImage2 != "")
                    {
                        <div class="item">
                            <a href="@Model.CarouselLink2">
                                <img src="@Model.CarouselImage2" alt="Slide 2 of Carousel">
                            </a>
                        </div>
                    }
                    @if (Model.CarouselImage3 != null && Model.CarouselImage3 != "")
                    {
                        <div class="item">
                            <a href="@Model.CarouselLink3">
                                <img src="@Model.CarouselImage3" alt="Slide 3 of carousel">
                            </a>
                        </div>
                    }
                    @if (@Model.CarouselImage4 != null && @Model.CarouselImage4 != "")
                    {
                        <div class="item">
                            <a href="@Model.CarouselLink4">
                                <img src="@Model.CarouselImage4" alt="Slide 4 of Carousel">
                            </a>
                        </div>
                    }
                </div><a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="fa fa-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="fa fa-chevron-right"></span>
                </a>
            </div>

          
            @{/*Start Brand Category panel*/}
            <div class="row margin-top-">
                <div class="col-sm-6 no-padding">
                    @if (Model.WidgetImage1 != null && Model.WidgetImage1 != "")
            {
                        <div class="row">
                            <a href="@Model.WidgetLink1">
                                <div class="col-sm-12">
                                    <img src="@Model.WidgetImage1" class="img-responsive " alt="Brand Category" />
                                </div>
                            </a>
                        </div>}
                    @if (Model.WidgetImage3 != null && Model.WidgetImage3 != "")
            {
                        <div class="row">
                            <a href="@Model.WidgetLink3">
                                <div class="col-sm-12">
                                    <img src="@Model.WidgetImage3" class="img-responsive " alt="Brand Category" />
                                </div>
                            </a>
                        </div>}
                </div>
                <div class="col-sm-6 no-padding">
                    @if (Model.WidgetImage2 != null && Model.WidgetImage2 != "")
            {
                        <div class="row">
                            <a href="@Model.WidgetLink2">
                                <div class="col-sm-12">
                                    <img src="@Model.WidgetImage2" class="img-responsive " alt="Brand Category" />
                                </div>
                            </a>
                        </div>}
                    @if (Model.WidgetImage4 != null && Model.WidgetImage4 != "")
            {
                        <div class="row">
                            <a href="@Model.WidgetLink4">
                                <div class="col-sm-12">
                                    <img src="@Model.WidgetImage4" class="img-responsive " alt="Brand Category" />
                                </div>
                            </a>
                        </div>}
                </div>
            </div>
        </div>
        
    </div>   
</div>