@{
/*
    Name: Currency Selection Modal
    Purpose: Choose currency and country
    Structure: /Views/Shared/_CurrencyView.cshtml
    Contains (Partial Views Used):

    Contained In (Where we Use this View):
        a-/Views/Shared/_LayoutHeader.cshtml
    */
}
@using Omnicx.WebStore.Core.Services.Infrastructure
@using Omnicx.WebStore.Framework.Extensions
@using System.Linq
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<dynamic>
@{
    var country = SessionContext.CurrentSiteConfig.RegionalSettings.DefaultCountry;
    var lang = SessionContext.CurrentSiteConfig.RegionalSettings.DefaultLanguageCode;
    var currency = SessionContext.CurrentSiteConfig.RegionalSettings.DefaultCurrencyCode;
    var currencySymbol = SessionContext.CurrentSiteConfig.RegionalSettings.DefaultCurrencySymbol;
}
<section ng-init="country='@country';language='@lang';currency='@currency'">
    <div class="modal fade" id="currency-modal" tabindex="-1" role="dialog" aria-labelledby="currency" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" id="Login">@LT("Global.Text.CurrencySetting", "Currency Settings")</div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form ng-submit="gm.currencySettings(currency,language,country,@JsonExtensions.ToJson(Model.currencies))" method="post">
                        <div class="row widget-overlay-pos-currency">
                            <div class="col-sm-12 col-xs-12 widget-overlay-bd">
                                <ul class="pos-currency-options">
                                    <li class="active">
                                        <a class="currencyList"><em>@currencySymbol</em> @currency </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row widget-overlay-pos-currency">
                            <div class="col-sm-12 col-xs-12 widget-overlay-bd">
                                <ul>
                                    @foreach (var item in @Model.currencies)
                                    {                                        
                                        <li>
                                            <a class="currencyList" ng-click="'@item.CurrencyCode'=='@currency'"><em>@item.CurrencySymbol</em>@item.CurrencyCode </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <div class="col-sm-12 col-xs-12 text-right">
                                <button class="animate btn-primary"><i class="fa fa-save"></i>@LT("Global.Buttons.Save", "Save")</button>
                            </div>
                        </div>*@
                    </form>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="country-modal" tabindex="-1" role="dialog" aria-labelledby="currency" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" id="Login">@LT("Global.Text.CurrencySetting", "Global Sites Settings")</div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form ng-submit="gm.currencySettings(currency,language,country,@JsonExtensions.ToJson(Model.currencies))" method="post">
                        <div class="row widget-overlay-pos-currency">
                            <div class="col-sm-12 col-xs-12 widget-overlay-bd">
                                <ul class="pos-currency-options">
                                    <li class="active">
                                        <a class="currencyList"><i class="fa fa-@country"></i><em>@country</em></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row widget-overlay-pos-currency">
                            <div class="col-sm-12 col-xs-12 widget-overlay-bd">
                                <ul>
                                    @foreach (var cntr in @Model.countries)
                                    {
                                        <li>
                                            <a class="currencyList" ng-click="'@cntr.TwoLetterIsoCode'=='@country'"><i class="fa fa-@cntr.TwoLetterIsoCode"></i><em>@cntr.TwoLetterIsoCode</em>@cntr.Name </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>                        
                        @*<div class="form-group">
                            <div class="col-sm-12 col-xs-12 text-right">
                                <button class="animate btn-primary"><i class="fa fa-save"></i>@LT("Global.Buttons.Save", "Save")</button>
                            </div>
                        </div>*@
                    </form>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</section>