@{
/*
    Name: Fluid Layout
    Purpose: CMS Layout for using Full with for the screen
    Structure: /Views/Shared/_LayoutCMS.cshtml
    Contains (Partial Views Used):
        a-/Views/Shared/_LayoutHeadTag.cshtml
        b-/Views/Shared/_LayoutHeader.cshtml
        c-/Views/Shared/_SearchBox.cshtml
        d-/Views/Shared/_LayoutFooter.cshtml

    Contained In (Where we Use this View):
        a-/Views/Page/DynamicPage.cshtml
        b-/Views/Page/Index.cshtml
    */
}
<!DOCTYPE html>
@using Microsoft.Web.Mvc
@using Omnicx.WebStore.Core.Controllers
@using Omnicx.API.SDK.Helpers
@using Omnicx.WebStore.Models.Enums;
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<dynamic>

<html ng-app="btApp" ng-controller="globalCtrl as gm" id="sidebarFix" lang="en">

@Html.Partial("~/Views/Shared/_LayoutHeadTag.cshtml")
<body>
    <header class="siteHeader">
        <div id="all">
            <div id="content" class="container-min clearfix">
                @RenderBody()
            </div>
        </div>
        @{/*Search popup for Mobile View*/}
        
    </header>
    @*Footer*@
    <div class="dvloader">
        <span class="global-loader">
            <img src="~/assets/theme/ocx/images/loader.svg" alt="Loader" />
        </span>
    </div>
    @Scripts.Render("~/bundles/jq-ang")
    @Scripts.Render("~/bundles/custom-libs")
    @Scripts.Render("~/bundles/app-js")
    @section scripts{}
    @{
        var pcaAccessCode = "";
        if (SessionContext.CurrentSiteConfig != null && SessionContext.CurrentSiteConfig.GeoLocators != null)
        {
            var pca = SessionContext.CurrentSiteConfig.GeoLocators.FirstOrDefault(x => x.PluginCode == Omnicx.WebStore.Models.Enums.GeoLocatorPlugin.PCA.ToString());
            if (pca != null)
            {
                pcaAccessCode = pca.AccessKey;
            }
        }
        <script defer type="text/javascript">
            var pcaAccessCode = "@pcaAccessCode";
        </script>
    }

    @RenderSection("scripts", required: false)

    <script defer type="text/javascript">

        var setContactForm = '@(Html.BuildUrlFromExpression<CommonController>(c => c.ContactForm(null)))';
        var getBasketUrl = '@(Html.BuildUrlFromExpression<BasketController>(c => c.GetBasketData()))';
        var addToBasket = '@(Html.BuildUrlFromExpression<BasketController>(c => c.AddtoBasket(null)))';
        var signIn = '@(Html.BuildUrlFromExpression<AccountController>(c => c.SignIn(null)))';
        var register = '@(Html.BuildUrlFromExpression<AccountController>(c => c.Registration(null)))';
        var getShippingMethods = '@(Html.BuildUrlFromExpression<BasketController>(c => c.GetShippingMethods("")))';
        var updateShipping = '@(Html.BuildUrlFromExpression<BasketController>(c => c.UpdateShipping(null,null,null,null)))';
        var applyPromoCode = '@(Html.BuildUrlFromExpression<BasketController>(c => c.ApplyPromoCode(null,null)))';
        var currencySettingUrl = '@(Html.BuildUrlFromExpression<HomeController>(c => c.UpdateCurrencySetting(null)))';
        var paymentMethodsUrl = '@(Html.BuildUrlFromExpression<CheckoutController>(c => c.GetPaymentMethods()))';
        var newsLetterSubscription = '@(Html.BuildUrlFromExpression<AccountController>(c => c.NewsletterSubscription(null)))';
        var removePromoCode = '@(Html.BuildUrlFromExpression<BasketController>(c => c.RemovePromoCode("","")))';
        var forgotPassword = '@(Html.BuildUrlFromExpression<AccountController>(c => c.ForgotPassword(null)))';
        var bulkAddproduct = '@(Html.BuildUrlFromExpression<BasketController>(c=> c.BulkAddProduct(null)))';
        var getDefaultCountryUrl = '@(Html.BuildUrlFromExpression<AccountController>(c => c.GetDefaultCountry()))';
        var getAllcurrencySetting = '@(Html.BuildUrlFromExpression<HomeController>(c => c.CurrencySettings()))';
          var languageSettingUrl = '@(Html.BuildUrlFromExpression<HomeController>(c => c.UpdateLanCultureSetting(null)))';
        window.app.constant('globalConfig', {
            setContactForm: setContactForm,
            getBasketUrl: getBasketUrl,
            addToBasket: addToBasket,
            signIn: signIn,
            register: register,
            getShippingMethods: getShippingMethods,
            updateShipping: updateShipping,
            applyPromoCode: applyPromoCode,
            currencySettingUrl: currencySettingUrl,
            paymentMethodsUrl: paymentMethodsUrl,
            newsLetterSubscription: newsLetterSubscription,
            removePromoCode: removePromoCode,
            forgotPassword: forgotPassword,
            bulkAddproduct: bulkAddproduct,
            pcaAccessCode: pcaAccessCode,
            getDefaultCountryUrl: getDefaultCountryUrl,
            getAllcurrencySetting: getAllcurrencySetting,
            languageSettingUrl: languageSettingUrl
        });
    </script>
    @Html.GetGlobalSnipptes(SnippetPlacements.BodyEndHtmlTagBefore)
</body>
</html>
