@{
/*
    Name: Blog Layout
    Purpose: Layout for using Blog UI screen
    Structure: /Views/Shared/Layout1/_LayoutBlog.cshtml
    Contains (Partial Views Used):
        a-/Views/Shared/Layout1/_LayoutHeadTag.cshtml
        b-/Views/Shared/Layout1/_LayoutHeader.cshtml
        c-/Views/Blog/Layout1/_BlogNav.cshtml
        d-/Views/Shared/Layout1/_LayoutFooter.cshtml

    Contained In (Where we Use this View):
        a-/Views/Blog/Layout1/Blogs.cshtml
        b-/Views/Blog/Layout1/BlogCategory.cshtml
        c-/Views/Blog/Layout1/BlogDetail.cshtml
        d-/Views/Blog/Layout1/Search.cshtml
    */
}
<!DOCTYPE html>
@using Microsoft.Web.Mvc
@using Omnicx.WebStore.Core.Controllers
@using Omnicx.WebStore.Models
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<dynamic>
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<Omnicx.WebStore.Models.Site.BlogDetailViewModel>

<html ng-app="btApp" ng-controller="globalCtrl as gm">
@Html.Partial("~/Views/Shared/Layout1/_LayoutHeadTag.cshtml")
<body>
    <header class="siteHeader">
        @Html.Partial("~/Views/Shared/Layout1/_LayoutHeader.cshtml")
        <div class="container"></div>
        @Html.Partial("~/Views/Blog/Layout1/_BlogNav.cshtml", Model)
        <div id="all">
            <div id="content" class="clearfix">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </div>
    </header>
    @Html.Partial("~/Views/Shared/Layout1/_LayoutFooter.cshtml")
    <div class="dvloader">
        <span class="global-loader">
            <img src="~/assets/theme/ocx/images/loader.svg" />
        </span>
    </div>
    @section scripts{}
    @RenderSection("scripts", required: false)
    <script>

        var setContactForm = '@(Html.BuildUrlFromExpression<CommonController>(c => c.ContactForm(null)))';
        var getBasketUrl = '@(Html.BuildUrlFromExpression<BasketController>(c => c.GetBasketData()))';
        var addToBasket = '@(Html.BuildUrlFromExpression<BasketController>(c => c.AddtoBasket(null)))';
        var signIn = '@(Html.BuildUrlFromExpression<AccountController>(c => c.SignIn(null)))';
        var register = '@(Html.BuildUrlFromExpression<AccountController>(c => c.Registration(null)))';
        var getShippingMethods = '@(Html.BuildUrlFromExpression<BasketController>(c => c.GetShippingMethods(null)))';
        var updateShipping = '@(Html.BuildUrlFromExpression<BasketController>(c => c.UpdateShipping(null,null,null)))';
        var applyPromoCode = '@(Html.BuildUrlFromExpression<BasketController>(c => c.ApplyPromoCode(null,null)))';
        var currencySettingUrl = '@(Html.BuildUrlFromExpression<HomeController>(c => c.UpdateCurrencySetting()))';
        var paymentMethodsUrl = '@(Html.BuildUrlFromExpression<CheckoutController>(c => c.GetPaymentMethods()))';

        window.app.constant('globalConfig', {
            setContactForm: setContactForm,
            getBasketUrl: getBasketUrl,
            addToBasket: addToBasket,
            signIn: signIn,
            register: register,
            getShippingMethods: getShippingMethods,
            updateShipping: updateShipping,
            applyPromoCode: applyPromoCode,
            currencySettingUrl: currencySettingUrl,
            paymentMethodsUrl: paymentMethodsUrl
        });
    </script>
</body>
</html>
