@{
/*
    Name: Mobile Menu
    Purpose: Mobile Menu UI
    Structure: /Views/Shared/Layout1/_MobileMenu.cshtml
    Contains (Partial Views Used):

    Contained In (Where we Use this View):
        a-/Views/Shared/Layout1/_MobileHeaderLayout.cshtml
    */
}
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<Omnicx.WebStore.Models.Site.NavigationModel>

@{/*Start Mobile Mega Menu UI*/}

<div class="row demo-1 visible-xs">
    <div class="main clearfix">
        <div class="column">
            <div id="dl-menu" class="dl-menuwrapper">
                <button class="dl-trigger" id="openMenu"><span></span><span></span><span></span><span></span><span></span><span></span></button>
                @{ if (Model != null)
                    {
                        <ul class="dl-menu">
                            @foreach (var items in @Model.Header.OrderBy(o => o.DisplayOrder))
                            {
                                <li>
                                    <a href="/@items.Hyperlink">@items.Caption</a>

                                    @{
                                        if (items.NavBlocks != null && items.NavBlocks.Count > 0)
                                        {

                                            <ul class="dl-submenu">
                                                @foreach (var child1 in @items.NavBlocks.OrderBy(o => o.DisplayOrder))
                                                {
                                                    <li>
                                                        <a href="#">@child1.BoxTitle</a>
                                                        <ul class="dl-submenu">
                                                            @foreach (var child2 in @child1.NavItems)
                                                            {
                                                                <li>
                                                                    <a href="/@child2.ItemLink"> @child2.Caption </a>
                                                                </li>
                                                            }
                                                            <span class="megamenu-img">@Html.Raw(child1.ContentBody)</span>
                                                        </ul>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    }
                                </li>
                                        }
                            <li>
                                <a href="@Url.Action("BrandList", "Brand")">@LT("Header.Nav.Brands", "Brands")</a>
                            </li>
                            <li>
                                <a href="@Url.Action("blogs", "blog")" class="link1">@LT("Header.Nav.Blogs", "Blogs")</a>

                            </li>
                        </ul>
                                        }
                }
            </div>
        </div>
    </div>
</div>

@{/*End Mobile MEga Menu*/}