@using Omnicx.WebStore.Models.Enums
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<dynamic>

@if (SessionContext.CurrentUser != null)
{
    <li class="margin-top-md">

        @if (SessionContext.CurrentUser.FirstName != null)
        {
            <span class="userControls__linkSeperator">Hi! </span>
            <a class="userControls__accountLinks" href="@Url.Action("MyAccount", "Account")">@SessionContext.CurrentUser.FirstName</a>
        }
        else
        {
            <a class="userControls__accountLinks" href="@Url.Action("MyAccount", "Account")">@LT("MyAccount.Text.Name", "My Account")</a>
        }
        <span class="userControls__linkSeperator">/</span>
        <a class="userControls__accountLinks" href="@Url.Action("Logout", "Account")">@LT("Global.Buttons.Logout", "Logout")</a>
    </li>
}
else
{
    <li class="margin-top-md">
        <span class="userControls__linkSeperator"></span>
        <a class="userControls__accountLinks" href="@Url.Action("SignIn", "Account")">Login</a>
        <span class="userControls__linkSeperator">or</span>
        <a class="userControls__accountLinks" href="@Url.Action("SignUp", "Account")">Signup</a>
    </li>
}
