@using Omnicx.WebStore.Models.Keys
@using Omnicx.WebStore.Models.Commerce
@using Omnicx.API.SDK.Helpers
@using Omnicx.WebStore.Models.Enums
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<dynamic>
@{
    var StoreTheme = ConfigKeys.StoreTheme;
}
@Html.GetGlobalSnipptes(SnippetPlacements.FooterBefore)
<div class="col-sm-12 col-xs-12 no-padding hidden-xs">
    @Html.Action("GetFooter", "Home")
</div>
<div class="col-sm-12 col-xs-12 no-padding visible-xs footerMenu-padding hide-dsk">
    @Html.Action("GetFooterMobile", "Home")
</div>
<div class="col-sm-12 col-xs-12 no-padding">
    <div id="copyright">
        <div class="container footer-copyright-border">
            <div class="col-md-12 no-padding">
                <p class="pull-left" aria-hidden="true">&copy;@DateTime.Now.Year @LT("Footer.Text.Omnicx", "OCX Store Powered by ")<a href="https://www.omnicx.com/" class="external">OmniCX</a></p>
                <p class="pull-right" aria-hidden="true">
                    <span class="label-0">@LT("Footer.Label.EnterValidEmail", "Payment")</span>
                    <img src="~/assets/theme/ocx/images/payment.png" alt="payments accepted">
                </p>
            </div>
        </div>
    </div>
</div>

    @*Partial View For Recommendation Bubble Modal*@
                  @*<div class="activityBubble">
    <a class="" ng-click="gm.getRecommendations()"><span class="label-0">@LT("Footer.Label.EnterValidEmail", "Bubble")</span><i class="sprite sprite-browsers-bubble"></i></a>
</div>
@Html.Partial("~/Views/Shared/_RecommendationBubble.cshtml")*@
                  @*END*@
                  @Html.GetGlobalSnipptes(SnippetPlacements.FooterAfter)
                  @Html.Partial(CustomViews.QUICK_ORDER_PAD)
                  @Html.Partial(CustomViews.BULK_ORDER_MESSAGE)
                  @Html.Partial("~/Views/Shared/_Login.cshtml", new LoginViewModel { Username = "", Password = "" })
                  @Html.Partial("~/Views/Shared/_Register.cshtml", new UserModel { })
                  @Scripts.Render("~/bundles/jq-ang")
                  @Scripts.Render("~/bundles/custom-libs")
                  @Scripts.Render("~/bundles/app-js")