@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<Omnicx.WebStore.Models.Site.NavigationModel>
@{
/*
Name: Footer Menu
Purpose: Show footer menu links and newsletter subscription detail
Structure: /Views/Shared/_MainFooter.cshtml
Contains (Partial Views Used):
Contained In (Where we Use this View) :
 * Shared/_LayoutFooter.cshtml
*/
}


@{ /*Start Footer*/ }
<div id="footer">
    @{/*Start Footer Top menu and subscription form*/}
    @*<div class="container border-bottom-footer">
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-4">
                    <ul class="footer-menu">
                        <li>
                            <a href="#" id="1">@LT("Footer.Label.AboutUs", "About us")</a>
                        </li>
                        <li>
                            <a href="#" id="1">@LT("Footer.Label.BecomeAffiliate", "Become a Affiliate")</a>
                        </li>
                        <li>
                            <a href="#" id="1">@LT("Footer.Label.DeliveryOptions", "Delivery options")</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4">
                    <ul class="footer-menu">
                        <li>
                            <a href="#" id="1">@LT("Footer.Label.ContactUs", "Contact us")</a>
                        </li>
                        <li>
                            <a href="#" id="1">@LT("Footer.Label.CookieInformation", "Cookie Information")</a>
                        </li>
                        <li>
                            <a href="#" id="1">@LT("Footer.Label.PrivacyPolicy", "Privacy policy")</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4">
                    <ul class="footer-menu">
                        <li>
                            <a href="#" id="1">@LT("Footer.Label.ReturnPolicy", "Return policy")</a>
                        </li>
                        <li>
                            <a href="#" id="1">@LT("Footer.Label.SpecialOffers", "Special Offers")</a>
                        </li>
                        <li>
                            <a href="#" id="1">@LT("Footer.Label.TermsAndConditions", "Terms and Conditions")</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>*@
    <div class="container" id="akc-container-fluid">
        <div class="row">
            @{ if (Model != null)
            {
                if (Model.Footer != null)
                {
                    foreach (var items in @Model.Footer.OrderBy(o => o.DisplayOrder))
                    {
                            <div class="col-sm-12" style="width:@items.WidthPct%;">
                                @if (@items.NavBlocks != null)
                                {
                                    foreach (var child1 in @items.NavBlocks.OrderBy(o => o.DisplayOrder))
                                    {
                                        <div class="col-md-2 col-sm-4 col-xs-12 no-padding-left" style="width:@child1.WidthPct%;">
                                            @if (@child1.NavBlockType == 1)
                                            {
                                                <h2 class="menu-category-header"><a href="@child1.ItemIds">@child1.BoxTitle</a></h2>
                                            }
                                            else
                                            {
                                                <h4 class="footer-h4">@child1.BoxTitle</h4>
                                                <div class="akc-footer-line" style="display:none"></div>
                                                <ul class="footer-menu">
                                                    <li>
                                                        @Html.Raw(child1.ContentBody)
                                                    </li>
                                                </ul>
                                            }
                                            <hr class="hidden-md hidden-lg hidden-sm">
                                        </div>
                                    }
                                }
                            </div>
                        }
                    }
                }
            }
            @{/*Start Footer email subscription form*/}
            <div class="col-md-6 col-sm-12 col-xs-12 no-padding-right pull-right">
                <div class="col-sm-6 col-md-6 no-padding">
                    <h4 class="white newsletter-h3">@LT("Footer.Label.NewLetterSignUp", "Sign up to our newsletter")</h4>
                    <p class="white newsletter-p" aria-hidden="true">@LT("Footer.Label.LatestRange", "For the latest ranges, VIP offers and inspiration")</p>
                </div>
                <div class="col-sm-6 col-md-6 no-padding-right">
                    <div class="form-inline text-right margin-top-2 border-xs">
                        <form ng-submit="gm.newsLetterSubscription(gm.customerEmail)">
                            <label for="searchFooter" class="label-0">Search</label>
                            <input type="text" ng-model="gm.customerEmail" id="searchFooter" name="search" class="form-control bottom-textbox" placeholder="Enter your email">
                            <input type="hidden" name="currentPage" value="1">
                            <button class="blog-search-btn">@LT("Footer.Button.SignUp", "Sign Up")</button>
                        </form>
                    </div>

                    @*<div ng-if="gm.errorMessage!=null">@Html.Partial("_Alerts")</div>*@
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            <p aria-hidden="true" class="text-center">
                                <span class="label-0">@LT("Footer.Label.EnterValidEmail", "Alert")</span>
                                <div ng-cloak class="alert alert-danger newsletteralert" ng-show="gm.emailinvalid">
                                    @LT("Footer.Label.EnterValidEmail", "Enter a valid email address.")
                                </div>
                                <div ng-cloak class="alert alert-success newslettersuccess" ng-show="gm.subssuccess">
                                    @LT("Footer.Label.SubscribeSuccess", "Subscribed successfully.")
                                </div>
                                <div ng-cloak class="alert alert-danger newsletteralready" ng-show="gm.alreadySubscribed">
                                    @LT("Footer.Label.AlreadySubscribed", "It seems this email is already registered with us. You can use a different email to subscribe for the newsletter.")
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            @{/*End Footer email subscription form*/}
        </div>
    </div>
</div>
