@{
/*
Name: Brand Listing Page
Purpose: Show all the listing brands with logo
Structure: /Views/Brand/BrandList.cshtml
Contains (Partial Views Used):
a-/Views/Shared/_Layout.cshtml
Contained In (Where we Use this View) :
*/
}
@using Omnicx.WebStore.Framework.Helpers
@using Omnicx.WebStore.Models.Enums
@using Omnicx.API.SDK.Helpers
@using Omnicx.WebStore.Models.Catalog
@using Omnicx.WebStore.Core.Helpers;
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<AllBrandModel>


@{
    ViewBag.Title = @LT("Product.Breadcrumb.Brands", "Brands");
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Html.AddTitleParts("All Brands");
    //Html.AddMetaDescriptionParts("");
    //Html.AddMetaKeywordsParts("");
    Html.AddDataLayer(DataLayerObjectType.BrandList, Model);
}
<div class="container dataContainerT no-padding-top">
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide omnicomponent component-slider" list-id="" list-type="" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/assets/theme/ocx/images/carousal-banner-men.jpg" alt="Slide 1 of carousel">
                    <div class="component-static-html img-topData hidden-xs">
                        <h2>MENSWEAR</h2>
                        <p>We have prepared for you different HTML pages, including 2 variations of homepage</p>
                        <p>
                            <a href="#" class="shop-now">Shop Now</a>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/assets/theme/ocx/images/carousal-banner-women.jpg" alt="Slide 2 of Carousel">
                    <div class="omnicomponent omni-page-section component-static-html img-topData hidden-xs">
                        <h2>WOMENSWEAR</h2>
                        <p>We have prepared for you different HTML pages, including 2 variations of homepage</p>
                        <p>
                            <a href="#" class="shop-now">Shop Now</a>
                        </p>
                    </div>
                </div>
            </div><a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="fa fa-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="fa fa-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
<div class="container whiteContainer" ng-controller="productCtrl as pm" ng-init="pm.initBrandListing();" ng-cloak>
    <div class="row">
        <div class="col-sm-12 col-xs-12 margin-top-sm">
            <ul class="breadcrumb">
                <li><a href="/">@LT("ProductListing.Breadcrumb.Home", "Home")</a></li>
                <li>@LT("ProductListing.Breadcrumb.Brands", "Brands")</li>
            </ul>
        </div>
    </div>
    @{ /* Start Brand Search panel */ }
    <div class="row no-padding" style="border-bottom:1px solid #ddd!important;">
        <form ng-submit="pm.filterBrands(search)">
            <div class="col-sm-4 col-xs-12 form-inline">
                <div class="input-group brand-search">
                    <input type="text" name="brandsearch" ng-model="search" id="brandsearch" class="form-control" placeholder="Search Brand" />
                    <span class="input-group-btn">
                        <button class="btn btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    @{ /* End Brand Search panel */ }
    @{ /* Start Brand alphabatic filter links */ }
    <div class="row margin-top-md">
        <div class="col-sm-12 col-xs-12 center-block">
            <ul class="selectcharacter-brand animated pulse">
                <li class="" ng-class="{active: '#'=== pm.selectedRecord}"><a ng-click="pm.filterBrandListing('#')">#</a></li>
                @foreach (var word in Model.PaginationWords)
                {
                    var cls = "default";
                    foreach (var items in Model.Brands)
                    {
                        if (items.ManufacturerName.Substring(0, 1) == word) { cls = ""; }
                    }
                    <li class="@cls" ng-class="{active: '@word'=== pm.selectedRecord}"><a ng-click="search=null;pm.filterBrandListing('@word')">@word</a></li>
                }
                <li class="view-all" ng-class="{active: 'ALL'=== pm.selectedRecord}"><a ng-click="search=null;pm.filterBrandListing('ALL');">All</a></li>
            </ul>

        </div>
    </div>
    @{ /* End Brand alphabatic filter links */ }

    @{ /* Start Brand listing */ }
    <div class="row margin-top-md no-padding animated zoomIn" id="ALL" style="display:none;">
        @foreach (IGrouping<string, BrandModel> categorygroup in Model.CategoryGroups)
            {
            <div data-id="id-@categorygroup.Key.ToString()" class="col-xs-12 no-padding" parent="1" firstchar="@categorygroup.Key">
                <h4 class="brand-naming-h4"> @categorygroup.Key</h4>
            </div>
            foreach (var brand in categorygroup)
            {
                string s = "";

                if (@categorygroup.Key == "#")
                {
                    s = "#" + brand.ManufacturerName;
                }
                else
                {
                    s = brand.ManufacturerName;
                }
                <div data-id="id-@brand.Id.ToString()" class="col-xs-6 col-md-4 col-sm-4 col-lg-4 text-center brands-list animated zoomIn" parent="1" firstchar="@categorygroup.Key" style="position:relative; top:0px;">
                    <a href="/@brand.Link">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" data-id="id1-@brand.Id.ToString()" parent="1" firstchar="@categorygroup.Key" style="display:none;"> @s.ToCamelCaseString()</div>
                        <div id="over" class="">
                            <a href="/@brand.Link" class="Centerer">@brand.ManufacturerName</a>
                            @*<img class="Centered img-responsive image1" src="@brand.LogoImageName" />*@
                        </div>
                    </a>
                </div>
            }
        }

    </div>
    @{ /* End Brand listing */ }

    <div class="row  animated pulse brand-min-sml" id="brandContainer"></div>
    <div class="row item_container_holder margin-bottom-lg" ng-show="pm.result.length == 0 && pm.showAllbrand==false" ng-cloak>
        <div class="fnl-landing-noresults">
            <div class="fnl-plpsearch-firstLine">@LT("Brand.Text.NoResultFound", "There are no results for your search term, please try again or use the navigation to make your way around the site.")</div>
            <div class="fnl-plpsearch-SecondLine word-break"><strong><span ng-bind="search"></span></strong></div>
            <div class="fnl-plpsearch-wborder2"></div>
            <div class="fnl-heading2a">@LT("ProductDetail.Label.SpellingCheck", "Don't give up - check the spelling, or try less specific search terms")</div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        window.app.constant('productConfig',{});
        window.app.constant('model', @Html.JsonFor(Model));
    </script>
}