@{
    /*
        Name: Survey View
        Purpose: Show Survey
        Structure: /Views/Survey/Layout1/Capture.cshtml
        Contains (Partial Views Used):
            a-/Views/Shared/Layout1/_LayoutCMS.cshtml
            b-_BuildABundle
            c-_WizardStyle
        Contained In (Where we Use this View):
        */
}
@using Omnicx.WebStore.Models.Site
@using Omnicx.WebStore.Models.Keys
@using Omnicx.WebStore.Models.Enums
@using Omnicx.WebStore.Framework.Helpers
@using Microsoft.Web.Mvc
@using Omnicx.WebStore.Core.Controllers
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<SurveyModel>
@{
    Layout = "~/Views/Shared/Layout1/_LayoutCMS.cshtml";
}
<style>
    .fa-star-o {
        color: #FF7700;
    }

    .fa-star {
        color: #FFDD00;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #FF7700;
    }
</style>

@*layout1*@

<div class="dataContainer" ng-controller="surveyCtrl as pm" ng-cloak>
    <h1 class="text-center survey-question">@Model.Name</h1>
    <center id="survey-wizard" class="margin-bottom-lg" style="background:linear-gradient(to right, rgba(0, 0, 0, 0.47) 0%,rgba(0, 0, 0, 0.87) 100%), url('{{pm.model.imageBaseUrl}}{{pm.model.backgroundImage}}')">
        <div class="row" ng-hide="pm.surveyCompleted">
            @switch (Model.Output)
            {
                case SurveyOutputStyle.BuildABundle:
                    @Html.Partial("_BuildABundle");
                    break;
                case SurveyOutputStyle.SearchProducts:
                    @Html.Partial("_WizardStyle");
                    break;
                case SurveyOutputStyle.QualifyingQuestionnaire:
                    @Html.Partial("_WizardStyle");
                    break;
            }
        </div>

        <div class="container margin-bottom-lg">
            <div class="row wizard-container" ng-show="pm.surveyCompleted">
                <h2 class="text-center text-white">@Model.ThankYouText</h2>
                <div class="container">
                    @{if (Model.Output == SurveyOutputStyle.SearchProducts)
                        {
                            <a class="animate btn-primary" ng-click="pm.showRelevantProducts()">
                                @LT("ProductSurvey.Label.Buyrelevantproducts", "Buy relevant products") <span class="fa fa-product-hunt" aria-hidden="true"></span>
                            </a>

                        }
                        else
                        {
                            <div class="row">
                                <div class="col-sm-5ths col-lg-5ths col-md-5ths col-xs-5ths wizard-bundle-products" ng-repeat="productBundle in pm.surveyResponse.products">
                                    <div class="bundle-image-container">
                                        <a ng-href="/{{productBundle.product.slug}}">
                                            <img ng-src="{{productBundle.product.image==''?DEFAULT_IMAGE_URL:productBundle.product.image}}" class="img-responsive">
                                            <span><span ng-bind="productBundle.product.name"></span></span>
                                        </a>
                                    </div>
                                    <div class="col-sm-8 col-xs-7 wizard-price no-padding">
                                        <h3 ng-show="gm.incVat">
                                            <span ng-bind="(productBundle.product.price.formatted.withTax)"></span>
                                            <span class="sml">@LT("ProductDetail.Label.INCVAT", "INC VAT")</span>
                                        </h3>
                                        <h3 ng-show="!gm.incVat">
                                            <span ng-bind="(productBundle.product.price.formatted.withoutTax)"></span>
                                            <span class="sml">@LT("ProductDetail.Label.EXVAT", "EX VAT")</span>
                                        </h3>
                                    </div>
                                    <div class="bundle-qty wizard-qty">
                                        <strong>@LT("ProductSurvey.Label.Qty", "Qty"): </strong><span ng-bind="productBundle.qty"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-xs-12 no-padding">
                                    <h3 class="text-left text-white">
                                        @LT("ProductSurvey.Label.TotalPrice", "Total Price"):  <span ng-show="gm.incVat" ng-bind="pm.surveyResponse.price"></span>
                                        <span ng-hide="gm.incVat" ng-bind="pm.surveyResponse.priceExcludingVat"></span>
                                    </h3>
                                </div>
                                <div class="col-sm-6 col-xs-12 text-right">
                                    <button type="button" class="animate btn-primary" ng-click="pm.addToBag()">
                                        <span> @LT("ProductSurvey.Label.AddtoBag", "Add to Bag") <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                                    </button>
                                </div>
                            </div>

                        }
                    }
                </div>
            </div>
        </div>
    </center>
</div>


@section scripts{
    <script>
        var saveAnswer = '@(Html.BuildUrlFromExpression<SurveyController>(c => c.SaveAnswer("","")))';
        var searchUrl = '@(Html.BuildUrlFromExpression<SearchController>(c => c.Search(null)))';
        var addToBagUrl = '@(Html.BuildUrlFromExpression<SurveyController>(c => c.AddToBag(null)))';
        var basketUrl = '@(Html.BuildUrlFromExpression<BasketController>(c => c.Index()))';
        var searchFilterQryString = '@Constants.SEARCH_FILTER_QUERYSTRING';
        var surveyQryString = '@Constants.SEARCH_SURVEY_QUERYSTRING';
        window.app.constant('surveyConfig',{
            saveAnswerUrl: saveAnswer,
            searchUrl: searchUrl,
            addToBagUrl: addToBagUrl,
            basketUrl: basketUrl,
            searchFilterQryString:searchFilterQryString,
            surveyQryString:surveyQryString
        });
        window.app.constant('model', @Html.JsonFor(Model));
    </script>
}
