@{
/*
    Name: My Company
    Purpose: Show Company Details
    Structure: /Views/B2B/Layout1/MyCompany.cshtml
    Contains (Partial Views Used):
        a-/Views/Shared/Layout1/_Layout.cshtml.cshtml   (For base Structure)
        b-/Views/Account/Layout1/_SideNav.cshtml        (Navigation For Desktop and Big Screen)
        c-/Views/B2B/Layout1/_AccountAlert.cshtml       (Validation Messages)

    Contained In (Where we Use this View):
     a-/Views/Account/Layout1/_SideNav.cshtml        (Navigation Link Desktop and Big Screen)
    */
}
@using Microsoft.Web.Mvc
@using Omnicx.API.SDK.Entities
@using Omnicx.WebStore.Core.Controllers
@using Omnicx.API.SDK.Models.Commerce
@using Omnicx.WebStore.Framework.Helpers
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<CustomerProfileModel>

@{
    var customerAccountForm = Html.Angular().ModelFor("b2b.model");
    Layout = "~/Views/Shared/Layout1/_Layout.cshtml";
    ViewBag.Title = "My Company";
    var userRole = SessionContext.CurrentUserRole;

}


<section ng-controller="b2bCtrl as b2b">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                    <a href="/">@LT("MyAccount.Links.Home", "Home")</a>
                </li>
                <li>@LT("MyAccount.Text.Name", "My Company")</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <h3 class="panel-h2 hidden-xs">@LT("MyAccount.Text.Name", "My Company")</h3>
        </div>
    </div>
    <!-- *** LEFT COLUMN ***
    _________________________________________________________ -->
    <div class="row">
        <div class="col-xs-12 margin-bottom-lg visible-xs" id="exTab1">
            @*@Html.Partial("~/Views/Account/Layout1/_MobileSideNav.cshtml")*@
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 hidden-xs">
            @Html.Partial("~/Views/Account/Layout2/_SideNav.cshtml")
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12 clearfix" id="customer-account">
            <div class="col-sm-12 no-padding">

                <form name="changeForm" role="form" ng-submit="b2b.saveCustomerDetail(b2b.model.companyDetail)" novalidate>

                    <div class="row">
                        <div class="col-sm-12" ng-show="personalDetail">
                            @Html.Partial("~/Views/B2B/Layout1/_AccountAlert.cshtml")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                @customerAccountForm.FormGroupFor(x => x.CompanyDetail.Email)
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label><strong>BusinessType</strong></label>
                                <input type="text" class="form-control" ng-model="b2b.model.companyDetail.businessType" readonly />
                            </div>
                        </div>                     
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-xs-12">
                            <div class="form-group">
                                <div class="form-group" ng-class="vm.getValidationClass()" form-group-validation="Title">
                                    <label for="Title" class="control-label ng-scope">@LT("MyAccount.Text.Title", "Title")</label>
                                    <select name="Title" tabindex="1" class="form-control" data-label="Title" ng-model="b2b.model.companyDetail.title" @*required*@>
                                        <option ng-selected="b2b.model.companyDetail.title == null" value="">@LT("MyAccount.Text.Title", "Title")</option>
                                        <option value="Miss">Miss</option>
                                        <option value="Mr">Mr</option>
                                        <option value="Mrs">Mrs</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                @customerAccountForm.FormGroupFor(x => x.CustomerAddress.FirstName)
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                @customerAccountForm.FormGroupFor(x => x.CustomerAddress.LastName)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2 col-xs-12">
                            <div class="form-group">
                                <div class="form-group" ng-class="vm.getValidationClass()" form-group-validation="Gender">
                                    <label for="Gender" class="control-label ng-scope">@LT("MyAccount.Text.Gender", "Gender")</label>
                                    <select name="Gender" tabindex="1" class="form-control" data-label="Gender" ng-model="b2b.model.companyDetail.gender" @*required*@>
                                        <option ng-selected="b2b.model.companyDetail.gender == null" value="">@LT("MyAccount.Text.Gender", "Gender")</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label><strong>CompanyName</strong></label>
                                <input type="text" class="form-control" ng-model="b2b.model.companyDetail.companyName" readonly />                               
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label><strong>CompanyCode</strong></label>
                                <input type="text" class="form-control" ng-model="b2b.model.companyDetail.companyCode" readonly />                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @customerAccountForm.FormGroupFor(x => x.CompanyDetail.Mobile)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @customerAccountForm.FormGroupFor(x => x.CompanyDetail.Telephone)
                            </div>
                        </div>
                    </div>
                    @if (userRole == (CompanyUserRole.Admin))
                    {
                        <div class="row">
                            <div class="col-sm-12 margin-bottom-sm">
                                <div class="form-group">
                                    <label><strong>Payment Methods</strong></label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control control--checkbox ">
                                    <input type="checkbox" checked={{b2b.model.companyDetail.cheque}} ng-model="b2b.model.companyDetail.cheque">
                                    <label for="Cheque">Cheque</label>
                                    <div class="control__indicator"></div>
                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label class="control control--checkbox">
                                    <input type="checkbox" checked={{b2b.model.companyDetail.accountCredit}} ng-model="b2b.model.companyDetail.accountCredit">
                                    <label for="AccountCredit">AccountCredit</label>
                                    <div class="control__indicator"></div>
                                </label>
                            </div>
                        </div>
                    }                   
                    <div class="row margin-top-lg">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="animate btn-primary"><i class="fa fa-save"></i>@LT("MyAccount.Button.SaveChanges", "Save Changes")</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script>
        var saveCustomerUrl = '@(Html.BuildUrlFromExpression<B2BController>(c => c.SaveCustomerDetail(null)))';       
        window.app.constant('b2bConfig', {
            saveCustomerUrl: saveCustomerUrl
        });
        window.app.constant('model', @Html.JsonFor(Model));
    </script>
}
