@{
/*
    Name: FAQ Or Product Detail Accordion Panel
    Purpose: Use in PDP Screen Accordion Details
    Structure: /Views/Common/_FaqsView.cshtml
    Contains (Partial Views Used):
        
    Contained In (Where we Use this View):
        a-/Views/Product/ProductDetail.cshtml
    */
}
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<Omnicx.WebStore.Models.Catalog.ProductDetailModel>
@{
    var activeTab = @Model.FaqsCategory[0].Value;
}
<div class="panel-group no-margin" id="description" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title heading-h4">
                <a role="button" data-toggle="collapse" data-parent="#description" href="#Data" aria-expanded="true" aria-controls="Data">Description</a>
            </h4>
        </div>
        <div id="Data" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="description">
            <div class="panel-body no-padding no-border">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <p class="faq-ques" ng-show="pm.model.shortDescription!='' && pm.model.shortDescription!=null"><strong>@LT("ProductDetail.Links.PRODUCTDESCRIPTION", "Product Description")</strong></p>
                        <p class="faq-ans"><span ng-bind="pm.model.shortDescription"></span></p>
                        <p class="faq-ans" ng-show="pm.model.brand!='' && pm.model.brand!=null">
                            <strong>@LT("ProductListing.FacetHeading.Brand", "Brand"): </strong>
                            <span ng-bind="pm.model.brand"></span>
                        </p>
                        <p class="faq-ans" ng-show="pm.model.subBrand!='' && pm.model.subBrand!=null">
                            <strong>@LT("Product.Label.Subbrand", "Sub-brand"): </strong>
                            <span ng-bind="pm.model.subBrand"></span>
                        </p>
                        <p class="faq-ans" ng-show="pm.model.uomValue!='' && pm.model.uomValue!=null && pm.model.uomValue>0">
                            <strong> @LT("Product.Label.Volume", "Volume"): </strong>
                            <span ng-bind="pm.model.uomValue"></span> <span ng-bind="pm.model.uom"></span>
                        </p>
                        <p class="faq-ans" ng-show="pm.model.stockCode!='' && pm.model.stockCode!=null">
                            <strong> @LT("ProductDetail.Label.StockCode", "Stock Code"): </strong>
                            <span ng-bind="pm.model.stockCode"></span>
                        </p>
                        <p class="faq-ans" ng-show="pm.model.currentStock!='' && pm.model.currentStock!=null">
                            <strong> @LT("Product.Label.CurrentStock", "Current Stock"): </strong>
                            <span ng-bind="pm.model.currentStock"></span>
                        </p>
                        @{
                            var attributes = Model.Attributes.Where(x => x.DisplayInProductDetail == true).ToList();
                            if (attributes != null)
                            {
                                foreach (var items in attributes)
                                {
                                    <p class="faq-ans">
                                        <strong> @items.Display: </strong>
                                        <span>@items.Value</span>
                                    </p>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="accordion" class="panel-group">
    @foreach (var items in @Model.FaqsCategory)
    {
        <div class="panel panel-default" ng-if="@items.Key!=0">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title heading-h4">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@items.Value.Replace(" ","")" aria-expanded="true" aria-controls="@items.Value.Replace(" ","")">@items.Value</a>
                </h4>
            </div>            
            <div class="panel-collapse collapse in" id="@items.Value.Replace(" ","")">
                <div class="panel-body no-padding no-border">
                    @foreach (var subfaqs in @Model.FaqsSubCategory)
                    {
                        if (subfaqs.CategoryId == items.Key)
                        {
                            <p>@subfaqs.Question</p>
                            <span>@Html.Raw(@subfaqs.Answer)</span>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>